@model ExpenseProcessingSystem.ViewModels.VoucherViewModelList
@{
    Layout = null;
    decimal totalAmountPay = Model.amountGross - Model.taxWithheld;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_VoucherLayout</title>

    <style>
        body, #headerTbl {
            font-family: Arial;
            font-size: 10px;
        }

        .heading {
            font-weight: bold;
        }

        .leftA {
            text-align: left;
        }

        .rightA {
            text-align: right;
        }
        /*header styles*/
        #headers {
            margin: 0 0 0 30px;
            height: 100%;
        }

        .container {
            width: 150px;
            height: 75px;
        }

            .container img {
                max-height: 100%;
                max-width: 100%;
            }
        /*end header styles*/
        /*main body styles*/
        #mainBody table {
            width: 100%;
        }

        #mainBody .wordAmount {
            height: 36px
        }
        /*end main body styles*/

        /*payment style*/
        .payment table {
            width: 95%;
            float: right;
            margin-bottom: 30px;
        }

        .payment table,
        .payment tr,
        .payment td {
            border: 1px dotted black;
            border-collapse: collapse;
        }
        /*end payment style*/

        /*particulars style*/
        #particulars #tblParticular {
            width: 65%;
            float: left;
            margin-right: 0px;
        }

        #particulars #tblTaxInfo {
            width: 35.05%;
            float: right;
            margin-left: 0px;
        }

        #particulars table,
        #particulars table > thead > tr > td {
            border: 1px solid black;
            border-collapse: collapse;
        }

            #particulars table > tbody > tr > td {
                height: 18px;
            }

        /*end particulars style*/
        input {
            width: inherit;
            border: 1px solid black;
        }

        table{
            margin: 0 auto;
        }

        .flexContainer {
            display: flex;
        }

        .flexstuff {
            flex: 1;
        }

        @@media print {
            body {
                width: 210mm;
                height: 297mm;
                margin: 0px 0px 0px 0px;
                font-size: 10px
            }
        }

    </style>
</head>
<body>
    <div id="headerTbl" class="flex-sb">
        <table>
            <colgroup>
                <col style="width:10%" />
                <col style="width:90%" />
            </colgroup>
            <tr>
                <td>
                    <div>
                        <div class="container"><a href="#" id="header-logo"><img src="~/images/ReportLogo.png"></a></div>
                        <div class="container"><a href="#" id="header-logo"><img src="~/images/voucherLogo.png"></a></div>
                    </div>
                </td>
                <td>
                    <div id="headers">
                        <h3>@Html.DisplayFor(x => x.headvm.Header_Name)</h3>
                        <br />
                        <a>@Html.DisplayFor(x => x.headvm.Header_Address)</a>
                        <br /><br /><br /><br />
                        <a>Tel. No.:  860-3500</a><br />
                        <a>TIN:  @Html.DisplayFor(x => x.headvm.Header_TIN)</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    @if (Model.isCheck)
    {
        <div style="text-align: center;"><h1>Check Voucher</h1></div>
    }
    else
    {
        <div style="text-align: center;"><h1>Direct Deposit Voucher</h1></div>
    }
    <div id="mainBody">
        <table>
            <colgroup>
                <col style="width:18%;" />
                <col style="width:42%;" />
                <col style="width:40%;" />
            </colgroup>
            <tr>
                <td><a class="heading">Date</a> </td>
                <td>@Html.TextBoxFor(x => x.date, new { @disabled = "disabled" })</td>
                <td>
                    <div style="text-align:right;">
                        <a class="heading">Voucher No.</a>
                        @Html.TextBoxFor(x => x.voucherNo, new { @style = "margin-left:100px", @type = "text", @disabled = "disabled" })
                    </div>
                </td>
            </tr>
            <tr>
                <td><a class="heading">Payee</a></td>
                <td colspan="2"><div class="flexContainer">@Html.TextBoxFor(x => x.payee, new { @class = "flexstuff", @type = "text", @disabled = "disabled" })</div></td>
            </tr>
            @if (Model.isCheck)
            {
                <tr>
                    <td><a class="heading">Check Number</a></td>
                    <td colspan="2"><div class="flexContainer">@Html.TextBoxFor(x => x.checkNo, new { @class = "flexstuff", @type = "text", @disabled = "disabled" })</div></td>
                </tr>
            }
            <tr>
                <td colspan="3"> &nbsp; &nbsp; &nbsp;</td>
            </tr>
            <tr>
                <td><a class="heading">Payment Amount in Figures</a></td>
                <td colspan="2"><div class="flexContainer">@Html.TextBoxFor(x => x.amountCredit, "{0:n}",new { @class = "flexstuff", @type = "text", @disabled = "disabled" })</div></td>
            </tr>
            <tr>
                <td><a class="heading">Payment Amount in Words</a> <br /><div><a> &nbsp; &nbsp;</a></div></td>
                <td rowspan="2" colspan="3"><div class="flexContainer">@Html.TextBoxFor(x => x.amountString, new { @class = "flexstuff wordAmount", @type = "text", @disabled = "disabled" })</div></td>
            </tr>
        </table>
    </div>
    <div class="payment">
        <a class="heading">Payment for: </a><br />
        <table>
            <colgroup>
                <col style="width:30%;" />
                <col style="width:15%;" />
                <col style="width:30%;" />
                <col style="width:25%;" />
            </colgroup>
            <thead>
                <tr>
                    <td>Particulars</td>
                    <td>Number</td>
                    <td>Details</td>
                    <td>Amount</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.particulars)
                {
                    <tr>
                        <td>@Html.DisplayFor(x => item.documentType)</td>
                        <td>@Html.DisplayFor(x => item.invoiceNo)</td>
                        <td>@Html.DisplayFor(x => item.description)</td>
                        <td>@item.amount.ToString("N")</td>
                    </tr>
                }
                <tr>
                    <td colspan="4" style="border:1px solid black">Total <a style="float:right;">@Html.DisplayFor(x => x.amountGross, "{0:n}")</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="particulars">
        <table id="tblParticular" border="0" cellspacing="0">
            <colgroup>
                <col style="width:50%;" />
                <col style="width:25%;" />
                <col style="width:25%;" />
            </colgroup>
            <thead>
                <tr>
                    <td colspan="3">Particulars</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align:center;" class="heading">Account</td>
                    <td style="text-align:center;" class="heading">Debit</td>
                    <td style="text-align:center;" class="heading">Credit</td>
                </tr>
                @foreach (var item in Model.accountsDebit)
                {
                    <tr>
                        <td>@Html.DisplayFor(x => item.account)</td>
                        <td class="rightA">@Html.DisplayFor(x => item.amount, "{0:n}")</td>
                        <td><!--Insert Value here--></td>
                    </tr>
                }

                @foreach (var item in Model.accountCredit)
                {
                    if (item.account == "BDO MNL")
                    {
                        <tr>
                            <td>@Html.DisplayFor(x => item.account)</td>
                            <td><!--Insert Value here--></td>
                            <td class="rightA">@Html.DisplayFor(x => item.amount, "{0:n}")</td>
                        </tr>
                    }
                    else if (item.account == "CITI MNL")
                    {
                        <tr>
                            <td>@Html.DisplayFor(x => item.account)</td>
                            <td><!--Insert Value here--></td>
                            <td class="rightA">USD @Html.DisplayFor(x => item.amount, "{0:n}")</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@Html.DisplayFor(x => item.account)%</td>
                            <td><!--Insert Value here--></td>
                            <td class="rightA">@Html.DisplayFor(x => item.amount, "{0:n}")</td>
                        </tr>
                    }

                }

                @for (int i = 4; i > Model.accountCredit.Count + Model.accountsDebit.Count; i--)
                {
                    <tr>
                        <td><!--Insert Value here--></td>
                        <td><!--Insert Value here--></td>
                        <td><!--Insert Value here--></td>
                    </tr>
                }
                <tr>
                    <td colspan="3"><!--Insert Value here--></td>
                </tr>
                <tr>
                    <td>Total<!--Insert Value here--></td>
                    @* NO TOTAL IF INTER ENTITY *@
                    @if (Model.accountCredit.Where(x => x.account == "CITI MNL").ToList().Count > 0)
                    {
                        <td class="rightA" style="border-top:1px solid black;border-bottom:3px double black;"></td>
                        <td class="rightA" style="border-top:1px solid black;border-bottom:3px double black;"></td>
                    }
                    else
                    {

                        <td class="rightA" style="border-top:1px solid black;border-bottom:3px double black;">@Html.DisplayFor(x => x.amountGross, "{0:n}")</td>
                        <td class="rightA" style="border-top:1px solid black;border-bottom:3px double black;">@Html.DisplayFor(x => x.amountGross, "{0:n}")</td>
                    }
                </tr>
                <tr>
                    <td colspan="3"><!--Insert Value here--></td>
                </tr>
                <tr>
                    <td colspan="3"><!--Insert Value here--></td>
                </tr>
            </tbody>
        </table>
        <table id="tblTaxInfo" border="0" cellspacing="0">
            <colgroup>
                <col style="width:25%;" />
                <col style="width:25%;" />
                <col style="width:25%;" />
                <col style="width:25%;" />
            </colgroup>
            <thead>
                <tr>
                    <td class="heading" colspan="4">Tax Information</td>
                </tr>
            </thead>
            <tbody>
                <tr><td colspan="4"><div style="font-style:italic;">Expanded Withholding Tax</div></td></tr>
                <tr>
                    <td>Gross</td>
                    <td><!--Insert Value here--></td>
                    @if (Model.taxInfos.Count() > 0)
                    {
                        <td>@Model.taxInfos[0].taxInfo_gross.ToString("N2")</td>
                    }
                    else
                    {
                        <td>-</td>
                    }
                    @if (Model.taxInfos.Count() > 1)
                    {
                        <td>@Model.taxInfos[1].taxInfo_gross.ToString("N2")</td>
                    }
                    else
                    {
                        <td>-</td>
                    }
                </tr>
                <tr>
                    <td>Vat</td>
                    <td><!--Insert Value here--></td>
                    @if (Model.taxInfos.Count() > 0)
                    {
                        @if (@Model.taxInfos[0].taxInfo_vat > 0)
                        {
                            <td>@Model.taxInfos[0].taxInfo_vat.ToString("N2")</td>

                        }
                        else
                        {
                            <td>-</td>
                        }
                    }
                    else
                    {
                        <td>-</td>
                    }
                    @if (Model.taxInfos.Count() > 1)
                    {
                        @if (@Model.taxInfos[1].taxInfo_vat > 0)
                        {
                            <td>@Model.taxInfos[1].taxInfo_vat.ToString("N2")</td>

                        }
                        else
                        {
                            <td>-</td>
                        }
                    }
                    else
                    {
                        <td>-</td>
                    }
                </tr>
                <tr>
                    <td>Tax Base</td>
                    <td><!--Insert Value here--></td>
                    @if (Model.taxInfos.Count() > 0)
                    {
                        <td>@Model.taxInfos[0].taxInfo_taxBase.ToString("N2")</td>
                    }
                    else
                    {
                        <td>-</td>
                    }
                    @if (Model.taxInfos.Count() > 1)
                    {
                        <td>@Model.taxInfos[1].taxInfo_taxBase.ToString("N2")</td>
                    }
                    else
                    {
                        <td>-</td>
                    }
                </tr>
                @foreach (var item in Model.vatAmtList)
                {
                    if (Model.vatAmtList.IndexOf(item) == 0)
                    {
                        <tr>
                            <td>EWT @Html.DisplayFor(x => item.ewt)%</td>
                            <td><!--Insert Value here--></td>
                            <td>@Html.DisplayFor(x => item.ewtAmt, "{0:n}")</td>
                            <td><!--Insert Value here--></td>
                        </tr>
                    }
                    else if (Model.vatAmtList.IndexOf(item) == 1)
                    {
                        <tr>
                            <td>EWT @Html.DisplayFor(x => item.ewt)%</td>
                            <td><!--Insert Value here--></td>
                            <td><!--Insert Value here--></td>
                            <td>@Html.DisplayFor(x => item.ewtAmt, "{0:n}")</td>
                        </tr>
                    }

                }

                @if (Model.vatAmtList.Count <= 0)
                {
                    for (int i = 0; i < Model.accountsDebit.Count; i++)
                    {
                        <tr>
                            <td colspan="4"></td>
                        </tr>
                    }
                }

                @for (int i = 3; i < Model.accountsDebit.Count; i++)
                {
                    <tr>
                        <td colspan="4"></td>
                    </tr>
                }
                <tr>
                    <td colspan="4"></td>
                </tr>
                @*<tr>
            <td colspan="3" style="font-style:italic;padding-bottom:3px;">Fringe Benefit Tax</td>
        </tr>
        <tr>
            <td colspan="2">Benefit Amount</td>
            <td class="rightA">222</td>
        </tr>
        <tr>
            <td colspan="2">35% Tax</td>
            <td class="rightA">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>*@
                @if (Model.isFbt)
                {
                    <tr>
                        <td colspan="4" style="font-style:italic;padding-bottom:3px;">Fringe Benefit Tax</td>
                    </tr>
                    <tr>
                        <td colspan="3">Benefit Amount</td>
                        <td class="rightA">@Html.DisplayFor(x => x.fbtGross, "{0:.n}")</td>
                    </tr>
                    <tr>
                        <td colspan="3">35% Tax</td>
                        <td class="rightA">@Html.DisplayFor(x => x.fbtAmount, "{0:n}")</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="4" style="font-style:italic;padding-bottom:3px;"></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td class="rightA"></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td class="rightA">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div id="signatories" style="width:100%">
        <table style="width:100%;">
            <colgroup>
                <col style="width:25%;" />
                <col style="width:45%;" />
                <col style="width:10%;" />
                <col style="width:20%;" />
            </colgroup>
            <tbody>
                <tr>
                    <td>
                        <a>Prepared By : </a>@Html.TextBoxFor(x => x.maker, new { @class = "input100", @type = "text", @disabled = "disabled" })
                    </td>
                    <td>
                        <a>Verified By : </a>@Html.TextBoxFor(x => x.verifier_1, new { @class = "input100 dis-inline", @type = "text", @disabled = "disabled" })
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        @Html.TextBoxFor(x => x.verifier_2, new { @class = "input100 dis-inline", @type = "text", @disabled = "disabled" })
                    </td>
                    <td>
                        <a>Approved By : </a>
                    </td>
                    <td>@Html.TextBoxFor(x => x.approver, new { @class = "input100", @type = "text", @disabled = "disabled" })</td>
                </tr>
                <tr>
                    <td colspan="2" rowspan="2">
                        <a>Payment Recieved By : </a>
                        <input class="input100" disabled style="width:70%;height:64px" />
                    </td>
                    <td><a>Date : </a></td>
                    <td>@Html.TextBoxFor(x => x.date, new { @class = "input100", @type = "text", @disabled = "disabled" })</td>
                </tr>
                @if (Model.isCheck)
                {
                    <tr>
                        <td><a>OR Number : </a></td>
                        <td><input class="input100" disabled /></td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;</td>
                    </tr>
                }
                <tr>
                    <td colspan="2" style="text-align:center;"><a>Name and Signature</a></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr style="border-top: dashed 1px;" />

    <div id="cutout">
        <div class="heading">
            <table style="width:100%">
                <colgroup><col style="width:45%" /><col style="width:55%" /></colgroup>
                <tbody>
                    <tr>
                        <td><div class="container"><a href="#" id="header-logo"><img src="~/images/ReportLogo.png"></a></div></td>
                        <td><a>PAYMENT DETAILS</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="heading">
            <table style="width:90%;">
                <colgroup>
                    <col style="width:40%" />
                    <col style="width:30%" />
                    <col style="width:30%" />
                </colgroup>
                <tbody>
                    <tr>
                        <td colspan="2">
                            <a>Date : </a>
                            @Html.TextBoxFor(x => x.date, new { @class = "input100", @type = "text", @disabled = "disabled" })
                        </td>
                        <td>
                            <a>Voucher No. : </a>
                            @Html.TextBoxFor(x => x.voucherNo, new { @style = "float:right;", @class = "input100", @type = "text", @disabled = "disabled" })
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <a>Payee : </a>
                            @Html.TextBoxFor(x => x.payee, new { @style = "width:93%;float:right;", @class = "input100", @type = "text", @disabled = "disabled" })
                        </td>
                    </tr>
                    @if (Model.isCheck)
                    {
                        <tr>
                            <td colspan="3">
                                <a>Check Number : </a>
                                @Html.TextBoxFor(x => x.checkNo, new { @style = "width:60%", @class = "input100", @type = "text", @disabled = "disabled" })
                            </td>
                        </tr>
                    }
                    <tr>
                        <td><a>Payment Amount : </a>@Html.TextBoxFor(x => totalAmountPay, "{0:n}", new { @class = "input100", @type = "text", @disabled = "disabled" })</td>
                        <td colspan="2"><a>Taxes Withheld : </a>@Html.TextBoxFor(x => x.taxWithheld, "{0:n}", new { @class = "input100", @type = "text", @disabled = "disabled" })</td>
                    </tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr>
                        <td><a class="heading">Payment for: </a></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="payment" style="width:100%;margin-right:0px;margin-left:auto;">
                                <table>
                                    <colgroup>
                                        <col style="width:30%;" />
                                        <col style="width:15%;" />
                                        <col style="width:30%;" />
                                        <col style="width:25%;" />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <td>Particulars</td>
                                            <td>Number</td>
                                            <td>Details</td>
                                            <td>Amount</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.particulars)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(x => item.documentType)</td>
                                                <td>@Html.DisplayFor(x => item.invoiceNo)</td>
                                                <td>@Html.DisplayFor(x => item.description)</td>
                                                <td>@item.amount.ToString("N")</td>
                                            </tr>
                                        }
                                        <tr>
                                            <td colspan="4" style="border:1px solid black">Total <a style="float:right;">@Html.DisplayFor(x => x.amountGross, "{0:n.00}")</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>
