@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var req = Context.Request.Path.ToString();
    var isLoggedin = (Context.Request.Path.ToString() == "/Account/Login") ? false : (Context.Request.Path.ToString() == "/") ? false : true;
    var isEntry = (Context.Request.Path.ToString() == "/Home/Entry") ? true :
        (Context.Request.Path.ToString() == "/Home/Entry_CV") ? true :
        (Context.Request.Path.ToString() == "/Home/Entry_DDV") ? true :
        (Context.Request.Path.ToString() == "/Home/Entry_NC") ? true :
        (Context.Request.Path.ToString() == "/Home/Entry_PCV") ? true :
        (Context.Request.Path.ToString() == "/Home/Entry_SS") ? true : false;
    var isHome = (Context.Request.Path.ToString() == "/Home/Index") ? true :
        (Context.Request.Path.ToString() == "/Home/Pending") ? true :
        (Context.Request.Path.ToString() == "/Home/History") ? true : false;

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EPS</title>


    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/util.css" />
        @*Jquery UI*@
        <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/ModalPopup.js" asp-append-version="true"></script>
        @*Jquery UI*@
        <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @RenderSection("Scripts", required: false)
    <div id="header">
        <a href="#" id="header-logo"><img src="~/images/mizuho-logo3.png" alt="bnklogo"></a>
        <input type="hidden" value="@ViewBag.access.userId" id="UI">
    </div>
    @if (ViewBag.access.isLoggedIn)
    {
        <div id="homepage-tabs" class="m-t-30 m-l-25 m-r-25">
            <ul id="tabs">

                @if (!ViewBag.access.isAdmin)
                {
                    <li class="active" id="home">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li id="entry">@Html.ActionLink("Entry", "Entry_CV", "Home")</li>
                    <li id="close">@Html.ActionLink("Close", "Close", "Home")</li>
                    <li id="report">@Html.ActionLink("Report", "Report", "Home")</li>
                }

                <li id="bm">@Html.ActionLink("Budget Monitoring", "BM", "Home")</li>
                <li id="dm">@Html.ActionLink("Data Maintenance", "DM", "Home")</li>

                @if (ViewBag.access.isAdmin)
                {
                    <li id="um">@Html.ActionLink("User Management", "UM", "Home")</li>
                }
            </ul>

            <div class="tabContent">
                @if (isEntry)
                {@Html.Partial("EntityTabsPartial")}
                else if(isHome)
                {@Html.Partial("HomeTabsPartial")}
                @RenderBody()
            </div>
        </div>
    }
    else
    {
        <partial name="_CookieConsentPartial" />

        <div class="body-content">
            @RenderBody()
        </div>
    }
    <div class="m-l-25 m-r-25">
        <hr />
        <footer>
            <p>&copy; 2019 - EPS</p>
        </footer>
    </div>



    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>


</body>
</html>
