@using Microsoft.AspNetCore.Http;
@using ExpenseProcessingSystem.ConstantData;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var req = Context.Request.Path.ToString();
    var isLoggedin = (Context.Request.Path.ToString() == GlobalSystemValues.ACCOUNT_LOGIN) ? false : (Context.Request.Path.ToString() == "/") ? false : true;
    var isEntry = (GlobalSystemValues.ENTRY_VALS.Contains(Context.Request.Path.ToString())) ? true : false;
    var isHome = (GlobalSystemValues.HOME_VALS.Contains(Context.Request.Path.ToString())) ? true : false;
    var isDM = (GlobalSystemValues.HOME_DM == Context.Request.Path.ToString()) ? true : false;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="~/images/favicon.png">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EPS</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/util.css" />
    <link rel="stylesheet" href="~/css/editable-table.css" />
    @*Jquery UI*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <link type="text/css" rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootbox/bootbox.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/editable-table.js" asp-append-version="true"></script>
    <script src="~/js/ModalPopup.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/CallXML.js"></script>

</head>
<body onhashchange="init()">
    @RenderSection("Scripts", required: false)
    @if (ViewBag.access.isLoggedIn)
    {
        <div id="header">
            <div class="dis-inline-block float-l"><a href="#" id="header-logo"><img src="~/images/mizuho-logo-5-1.png" alt="bnklogo"></a></div>
            <div class="dis-inline-block float-r"><a href="#" id="header-logo"><img src="~/images/mizuho-logo-5-2.png" alt="bnklogo"></a></div>
        </div>

        <div id="homepage-tabs" class="m-t-30 m-l-25 m-r-25 ">
            <input type="hidden" value="@ViewBag.userID" id="UI" />        
            <div class="float-r"><a href="../Account/Logout">@HttpContextAccessor.HttpContext.Session.GetString("UserName") [Log Out]</a></div>

            <ul id="tabs">

                @if (!ViewBag.access.isAdmin)
                {
                    <li class="active" id="home">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li id="entry">@Html.ActionLink("Entry", "Entry_CV", "Home")</li>
                    <li id="close">@Html.ActionLink("Close", "Close", "Home")</li>
                    <li id="report">@Html.ActionLink("Report", "Report", "Home")</li>

                    <li id="bm">@Html.ActionLink("Budget Monitoring", "BM", "Home")</li>
                    <li id="dm">@Html.ActionLink("Data Maintenance", "DM", "Home")</li>
                }

                @if (ViewBag.access.isAdmin)
                {
                    <li id="um">@Html.ActionLink("User Management", "UM", "Home")</li>
                }
            </ul>
            <div class="tabContent">
                @if (isEntry)
                {@Html.Partial("EntityTabsPartial")}
            else if (isHome)
            {@Html.Partial("HomeTabsPartial")}
                @RenderBody()
            </div>
        </div>
        //FOOTER
        <hr />
        <div class="m-l-25 m-r-25">
            <footer>
                <p>&copy; 2019 - Express</p>
            </footer>
        </div>
    }
    else
    {
        <partial name="_CookieConsentPartial" />

        <div class="body-content">
            @RenderBody()
        </div>
    }

    @*Alert pop up modal*@
    @Html.Partial("PopupMessage")
    @*Confirmation pop up modal*@
    @Html.Partial("PopupConfirmMessage")
    @*Loading effect modal*@
    <div class="loadingEffect"></div>
</body>
</html>
