
@{
    ViewData["Title"] = "DMEditBCS_Pending";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}
@using ExpenseProcessingSystem.ViewModels
@model DMBCS2ViewModel
<div id="table" class="table-editable">
    @using (Html.BeginForm("EditBCS_Pending", "Home", FormMethod.Post, new { @class = "validate-form", @id = "tsForm", enctype = "multipart/form-data" }))
    {
        <table class="table table-bordered editable-th">
            <tr>
                <th>Employee Name</th>
                <th>TIN</th>
                <th>Position</th>
                <th colspan="3">Signatures</th>
                <th>Status</th>
            </tr>
            @if (Model != null)
            {
                <tr>
                    <td contenteditable="true">@Html.TextBoxFor(item => item.BCS_Name, new { @class = "w-full" })</td>
                    <td contenteditable="true">@Html.TextBoxFor(item => item.BCS_TIN, new { @class = "w-full" })</td>
                    <td contenteditable="true">@Html.TextBoxFor(item => item.BCS_Position, new { @class = "w-full" })</td>
                    <td contenteditable="true" colspan="3">
                        @Html.TextBoxFor(item => item.BCS_Signatures_Name, new { @class = "w-full" })
                        <input type="file" asp-for="BCS_Signatures">
                    </td>
                    <td contenteditable="false">@Html.TextBoxFor(item => item.BCS_Status, new { @class = "w-full" })</td>
                    @Html.HiddenFor(item => item.BCS_MasterID)
                </tr>
            }
        </table>
    }
</div>
