@using ExpenseProcessingSystem.ViewModels
@model AmortizationList

@{
    ViewData["Title"] = "Amortization";
}
<style>
    .m-1-1-5p {
        margin: 1% 1.5%;
    }
</style>
<div class="tabContent">
    <table class="table table-striped tab-tbl table-bordered table-hover w-97 m-1-1-5p">
        <colgroup>
            <col style="width:20%" />
            <col style="width:20%" />
            <col style="width:20%" />
            <col style="width:20%" />
            <col style="width:20%" />
        </colgroup>
        <thead>
            <tr>
                <th>Check Voucher No.</th>
                <th>Account</th>
                <th>Schedule</th>
                <th>Check Maker</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (amorViewModel item in Model.amortizations)
            {
                <tr data-href="@item.link">
                    <td>@Html.DisplayFor(model => item.voucherNo)</td>
                    <td>@Html.DisplayFor(model => item.account)</td>
                    <td>@Html.DisplayFor(model => item.sched)</td>
                    <td>@Html.DisplayFor(model => item.maker)</td>
                    <td>@Html.DisplayFor(model => item.amount)</td>
                </tr>
            }
        </tbody>
    </table>


    <script type="text/javascript">
        $(document).ready(function (e) {

            $('*[data-href]').on('click', function () {
                var hrefString = $(this).data("href");
                window.location.href = hrefString;
            });
        });
    </script>
</div>

    