@{
    ViewData["Title"] = "Close";
    string prevCcyRBU = Model.rbuItems.Count > 0 ? Model.rbuItems.OrderBy(x => x.ccy).ThenBy(x => x.expTrans).ToList()[0].ccy : "";
    string prevCcyFCDU = Model.fcduItems.Count > 0 ? Model.fcduItems.OrderBy(x => x.ccy).ThenBy(x => x.expTrans).ToList()[0].ccy : "";
    decimal totalAmount = 0M;
    int totalTransCount = 0;
    //  int index = 0;
}

@using ExpenseProcessingSystem.ViewModels

@model ClosingViewModel

<div class="tab-content-cont m-t-10" id="closeBody">
    <div class="flex-c">
        <div id="tbl-lbl" class="float-l"><p class="dis-inline-block">Date: @Html.EditorFor(m => m.date, new { htmlAttributes = new { @class = "input", @type = "date", @readonly = "readonly" } })</p></div>
        <div class="float-l">
            @if (Model.fcduStatus == "CLOSED" && Model.rbuStatus == "CLOSED")
            {
                <button class="tbl-btn dis-inline-block" id="openBook" value="openBook">Open Daily Book</button>
            }
            else
            {
                <button class="tbl-btn dis-inline-block" disabled>Open Daily Book</button>
            }
        </div>
    </div>
    <br />
    <div class="tbl-cont m-b-20">
        <table class="table table-striped tab-tbl m-b-20">
            <thead>
                <tr>
                    <th>Tran Type</th>
                    <th>GBase Trans #</th>
                    <th>Express Trans #</th>
                    <th>Particulars</th>
                    <th>CCY</th>
                    <th>Amount</th>
                    <th>Trans Count</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.rbuItems.OrderBy(x => x.ccy).ThenBy(x => x.expTrans).ToList())
                {
                    if (prevCcyRBU == item.ccy)
                    {
                        totalAmount += item.amount;
                        totalTransCount += item.transCount;
                        <tr>
                            <td>RBU</td>
                            <td>@item.gBaseTrans</td>
                            <td>@item.expTrans</td>
                            <td>@item.particulars</td>
                            <td>@item.ccy</td>
                            @if (item.ccy == "YEN")
                            {
                                <td>@item.amount.ToString("N0")</td>
                            }
                            else
                            {
                                <td>@item.amount.ToString("n")</td>
                            }
                            <td>@item.transCount</td>
                            <td>@item.status</td>
                        </tr>
                        prevCcyRBU = item.ccy;
                    }
                    else
                    {
                        <tr class="totalStyle">
                            <td colspan="4">RBU TOTAL</td>
                            <td>@prevCcyRBU</td>
                            @if (prevCcyRBU == "YEN")
                            {
                                <td>@totalAmount.ToString("N0")</td>
                            }
                            else
                            {
                                <td>@totalAmount.ToString("n")</td>
                            }
                            <td>@totalTransCount</td>
                            <td></td>
                        </tr>

                        totalAmount = item.amount;
                        totalTransCount = item.transCount;
                        <tr>
                            <td>RBU</td>
                            <td>@item.gBaseTrans</td>
                            <td>@item.expTrans</td>
                            <td>@item.particulars</td>
                            <td>@item.ccy</td>
                            @if (item.ccy == "YEN")
                            {
                                <td>@item.amount.ToString("N0")</td>
                            }
                            else
                            {
                                <td>@item.amount.ToString("n")</td>
                            }
                            <td>@item.transCount</td>
                            <td>@item.status</td>
                        </tr>
                        prevCcyRBU = item.ccy;
                    }
                }
                <tr class="totalStyle">
                    <td colspan="4">RBU TOTAL</td>
                    <td>@prevCcyRBU</td>
                    @if (prevCcyRBU == "YEN")
                    {
                        <td>@totalAmount.ToString("N0")</td>
                    }
                    else
                    {
                        <td>@totalAmount.ToString("n")</td>
                    }
                    <td>@totalTransCount</td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <div class="tbl-controls m-t-20">
            @if (Model.rbuStatus == "CLOSED")
            {
                <button class="tbl-btn float-l closeBtn" disabled>Close RBU</button>
                <button value="reOpenRBU" class="tbl-btn float-l closeBtn">Re-Open RBU</button>
            }
            else if (Model.rbuStatus == "OPEN")
            {
                <button value="CloseRBU" class="tbl-btn float-l closeBtn">Close RBU</button>
                <button class="tbl-btn float-l closeBtn" disabled>Re-Open RBU</button>
            }
            else
            {
                <button class="tbl-btn float-l closeBtn" disabled>Close RBU</button>
                <button class="tbl-btn float-l closeBtn" disabled>Re-Open RBU</button>
            }
            <button value="RBU" class="tbl-btn float-r proofSheet">Print Proof Sheet</button>
            <!--<button class="tbl-btn float-l">Print RBU Balance</button>-->
            <!--<button class="tbl-btn float-r">Print RBU Proof sheet</button>-->
        </div>

        <div id="tbl-lbl">
            <div class="dis-inline-block"><p>Status:</p></div>
            <div class="dis-inline-block">@Html.TextBoxFor(x => x.rbuStatus, new { @readonly = "true" })</div>
        </div>

    </div>

    @{
        totalAmount = 0;
        totalTransCount = 0;
    }
    <div class="tbl-cont m-t-20 m-b-20">
        <table class="table table-striped tab-tbl m-b-20">
            <thead>
                <tr>
                    <th>Tran Type</th>
                    <th>GBase Trans #</th>
                    <th>Express Trans #</th>
                    <th>Particulars</th>
                    <th>CCY</th>
                    <th>Amount</th>
                    <th>Trans Count</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.fcduItems.OrderBy(x => x.ccy).ThenBy(x => x.expTrans).ToList())
                {
                    if (prevCcyFCDU == item.ccy)
                    {
                        totalAmount += item.amount;
                        totalTransCount += item.transCount;
                        <tr>
                            <td>FCDU</td>
                            <td>@item.gBaseTrans</td>
                            <td>@item.expTrans</td>
                            <td>@item.particulars</td>
                            <td>@item.ccy</td>
                            @if (item.ccy == "YEN")
                            {
                                <td>@item.amount.ToString("N0")</td>
                            }
                            else
                            {
                                <td>@item.amount.ToString("n")</td>
                            }
                            <td>@item.transCount</td>
                            <td>@item.status</td>
                        </tr>
                        prevCcyFCDU = item.ccy;
                    }
                    else
                    {
                        <tr class="totalStyle">
                            <td colspan="4">FCDU TOTAL</td>
                            <td>@prevCcyFCDU</td>
                            @if (prevCcyFCDU == "YEN")
                            {
                                <td>@totalAmount.ToString("N0")</td>
                            }
                            else
                            {
                                <td>@totalAmount.ToString("n")</td>
                            }
                            <td>@totalTransCount</td>
                            <td></td>
                        </tr>

                        totalAmount = item.amount;
                        totalTransCount = item.transCount;
                        <tr>
                            <td>FCDU</td>
                            <td>@item.gBaseTrans</td>
                            <td>@item.expTrans</td>
                            <td>@item.particulars</td>
                            <td>@item.ccy</td>
                            @if (item.ccy == "YEN")
                            {
                                <td>@item.amount.ToString("N0")</td>
                            }
                            else
                            {
                                <td>@item.amount.ToString("n")</td>
                            }
                            <td>@item.transCount</td>
                            <td>@item.status</td>
                        </tr>
                        prevCcyFCDU = item.ccy;
                    }
                }
                <tr class="totalStyle">
                    <td colspan="4">FCDU TOTAL</td>
                    <td>@prevCcyFCDU</td>
                    @if (prevCcyFCDU == "YEN")
                    {
                        <td>@totalAmount.ToString("N0")</td>
                    }
                    else
                    {
                        <td>@totalAmount.ToString("n")</td>
                    }
                    <td>@totalTransCount</td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <div class="tbl-controls m-t-20 m-b-20">
            @if (Model.fcduStatus == "CLOSED")
            {
                <button class="tbl-btn float-l closeBtn" disabled>Close FCDU</button>
                <button value="reOpenFCDU" class="tbl-btn float-l closeBtn">Re-Open FCDU</button>
            }
            else if (Model.fcduStatus == "OPEN")
            {
                <button value="CloseFCDU" class="tbl-btn float-l closeBtn">Close FCDU</button>
                <button class="tbl-btn float-l closeBtn" disabled>Re-Open FCDU</button>
            }
            else
            {
                <button class="tbl-btn float-l closeBtn" disabled>Close FCDU</button>
                <button class="tbl-btn float-l closeBtn" disabled>Re-Open FCDU</button>
            }
            <button value="FCDU" class="tbl-btn float-r proofSheet">Print Proof Sheet</button>
        </div>

        <div id="tbl-lbl">
            <div class="dis-inline-block"><p>Status:</p></div>
            <div class="dis-inline-block">@Html.TextBoxFor(x => x.fcduStatus, new { @readonly = "true" })</div>
        </div>
    </div>
    <hr class="dotted" />
    <div id="tbl-lbl"><h4 style="font-weight:bold;">Petty Cash Balance:</h4></div>
    <br />
    <table class="table" id="close-tbl">
        <colgroup>
            <col style="width:15%;" />
            <col style="width:15%;" />
            <col />
        </colgroup>
        <tbody>
            <tr>
                <td>
                    <p>Beginning Balance</p>
                </td>
                <td>
                    @Html.TextBoxFor(x => x.pettyBegBalance, new { @readonly = "true", @class = "input", @id = "CBD_opeBalance" })
                </td>
                <td>
                    <button class="tbl-btn" id="StartPettyCash" value="StartPettyCash">Beginning Cash balance Confirmation</button>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Cash-IN</p>
                </td>
                <td>
                    @Html.TextBoxFor(x => x.recieve, new { @readonly = "true", @class = "input", @id = "CBD_recieve" })
                </td>
                <td><button class="tbl-btn" id="ClosePettyCash" value="ClosePettyCash">Petty Cash Breakdown</button></td>
            </tr>
            <tr>
                <td>
                    <p>Cash-OUT</p>
                </td>
                <td>
                    @Html.TextBoxFor(x => x.Disbursed, new { @readonly = "true", @class = "input", @id = "CBD_disburse" })
                </td>
                <td>
                    @if (Model.pcOpen)
                    {
                        <button class="tbl-btn" id="Close" value="Close">Close</button>
                    }
                    else
                    {
                        <button class="tbl-btn" disabled>Close</button>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <p>Ending Balance</p>
                </td>
                <td>
                    @Html.TextBoxFor(x => x.closeBal, new { @readonly = "true", @class = "input", @id = "CBD_closeBalance" })
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div id="hiddenValues">
        @Html.HiddenFor(x => x.oneK, new { @id = "" })
        @Html.HiddenFor(x => x.oneKAmount, new { @id = "" })
        @Html.HiddenFor(x => x.fiveH, new { @id = "" })
        @Html.HiddenFor(x => x.fiveHAmount, new { @id = "" })
        @Html.HiddenFor(x => x.twoH, new { @id = "" })
        @Html.HiddenFor(x => x.twoHAmount, new { @id = "" })
        @Html.HiddenFor(x => x.oneH, new { @id = "" })
        @Html.HiddenFor(x => x.oneHAmount, new { @id = "" })
        @Html.HiddenFor(x => x.fifty, new { @id = "" })
        @Html.HiddenFor(x => x.fiftyAmount, new { @id = "" })
        @Html.HiddenFor(x => x.twenty, new { @id = "" })
        @Html.HiddenFor(x => x.twentyAmount, new { @id = "" })
        @Html.HiddenFor(x => x.ten, new { @id = "" })
        @Html.HiddenFor(x => x.tenAmount, new { @id = "" })
        @Html.HiddenFor(x => x.five, new { @id = "" })
        @Html.HiddenFor(x => x.fiveAmount, new { @id = "" })
        @Html.HiddenFor(x => x.one, new { @id = "" })
        @Html.HiddenFor(x => x.oneAmount, new { @id = "" })
        @Html.HiddenFor(x => x.c25, new { @id = "" })
        @Html.HiddenFor(x => x.c25Amount, new { @id = "" })
        @Html.HiddenFor(x => x.c10, new { @id = "" })
        @Html.HiddenFor(x => x.c10Amount, new { @id = "" })
        @Html.HiddenFor(x => x.c5, new { @id = "" })
        @Html.HiddenFor(x => x.c5Amount, new { @id = "" })
        @Html.HiddenFor(x => x.c1, new { @id = "" })
        @Html.HiddenFor(x => x.c1Amout, new { @id = "" })
        @Html.HiddenFor(x => x.billTotal, new { @id = "" })
        @Html.HiddenFor(x => x.coinTotal, new { @id = "" })

    </div>
</div>
<div id="pettyCashModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center" style="width:500px !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 style="display:inline">Cash Break Down</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" id="pettyprntBody">

                    </div>
                    <div class="modal-footer">
                        <button type="button" id="pettyPrnt" class="btn float-l" data-dismiss="modal">Print</button>
                        <button type="button" class="btn float-r" data-dismiss="modal">Close</button>
                        <button class="btn float-r comVar" id="brkDwnSubmit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="login" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 style="display:inline">Gbase Login</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <table style="margin:5px;">
                            <tr>
                                <td>Racfid : </td>
                                <td>&nbsp;<input type="text" id="userName" class="input" /></td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Racfpassword : </td>
                                <td>&nbsp;<input type="password" id="passWord" class="input" /></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn float-r" data-dismiss="modal">Close</button>
                        <button class="btn float-r comVar" id="loginSubmit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("Close", "Home", FormMethod.Post, new { @id = "closeForm" }))
{
    <input type="hidden" name="command" id="cmdString" />
    <input type="hidden" name="username" id="userString" />
    <input type="hidden" name="password" id="passString" />
}
    <script type="text/javascript">
    $(function () {
        @if (Model.messages.Count() > 0)
        {
            <text>
                $('#divAlertWindow').find(".spanTitle").html("Information");
                $('#alert').text("@Model.messages[0]");
                $('#divAlertWindow').show();
            </text>
        }
         $(window).on("load", function () {

        });

        $("#pettyCashModal").on("click", "#brkDwnSubmit", function () {
            if (parseFloat($('#CBD_closeBalance_pop').text().replace(/\,/g, "")) != parseFloat($('#ClosingTotal').text().replace(/\,/g, ""))) {
                $('#divAlertWindow').find(".spanTitle").html("Error");
                $('#alert').text("Cash breakdown is not equal to ending balance.");
                $('#divAlertWindow').show();
                return false;
            }
            $.ajax({
                type: 'POST',
                url: "/Modal/closeSveBrkDown",
                data: $("#inputForm").serialize(),
                success: function (result) {
                    if (result) {
                        $('#divAlertWindow').find(".spanTitle").html("Information");
                        $('#alert').text("Cash breakdown saved.");
                        $('#pettyCashModal').modal('hide');
                        $('#divAlertWindow').show();
                    } else {
                        $('#divAlertWindow').find(".spanTitle").html("Information");
                        $('#alert').text("Failed to save cash breakdown.");
                        $('#pettyCashModal').modal('hide');
                        $('#divAlertWindow').show();
                    }
                }
            });
        });

        $("#closeBody").on("click", "#StartPettyCash", function (e) {
            var command = $(this).val();
            $("#pettyCashModal").find(".modal-body").empty();
            $("#pettyCashModal").find(".modal-body").load("@Url.Action("ClosePettyCash", "Modal")", { command : command}, function (response, status, xhr) {
                if (status == "error") {
                    alert("Something went wrong.");
                }
                $('#brkDwnSubmit').hide();
            });
            $('#pettyCashModal').modal('show');
        });

        $("#closeBody").on("click", "#ClosePettyCash", function (e) {
            var command = $(this).val();
            $("#pettyCashModal").find(".modal-body").empty();
            var pop = $("#pettyCashModal").find(".modal-body").load("@Url.Action("ClosePettyCash", "Modal")", { command: command }, function (response, status, xhr) {
                if (status == "error") {
                    alert("Something went wrong.");
                } else {
                    var mes = $("#eMessage").val();
                    if (typeof mes != "undefined") {
                        $('#alert').text(mes);
                        $('#divAlertWindow').show();
                    } else {
                        $('#brkDwnSubmit').show();
                        $('#pettyCashModal').modal('show');
                    }
                }
            });

        });

        $("#closeBody").on("click", ".closeBtn", function (e) {
            $("#cmdString").val($(this).val());
            $('#login').modal('show');
        });

        $("#closeBody").on("click", "#Close", function (e) {
            $("#cmdString").val($(this).val());
            $("#userString").val("-");
            $("#passString").val("-");
            $("#closeForm").submit();
        });

        $("#closeBody").on("click", "#openBook", function (e) {
            $("#cmdString").val($(this).val());
            $("#userString").val("-");
            $("#passString").val("-");
            $("#closeForm").submit();
        });

        $("#pettyCashModal").on("click", "#pettyPrnt", function () {
            var mywindow = window.open('', 'PRINT', 'height=400,width=600');

            mywindow.document.write('<html><head><title>' + document.title + '</title>');
            mywindow.document.write(document.getElementById("pettyprntBody").innerHTML);
            mywindow.document.write('</body></html>');

            mywindow.document.close(); // necessary for IE >= 10
            mywindow.focus(); // necessary for IE >= 10*/

            mywindow.print();
            mywindow.close();

            return true;
        });

        $("#login").on("click", "#loginSubmit", function (e) {
            $("#userString").val($("#userName").val());
            $("#passString").val($("#passWord").val());
            $("#closeForm").submit();
        });

        $("#closeBody").on("click", ".proofSheet", function () {
            window.open("/Home/printClosing?closeType=" + $(this).val());
            return false;
        });
    });
    </script>
