
@{
    ViewData["Title"] = "DM";
}
@using ExpenseProcessingSystem.ViewModels
@model DMViewModel
<div class="tab-content-cont m-t-10">
    <div id="tbl-lbl">
        <div class="dis-inline-block"><p>Data List Title:</p></div>
        <div class="dis-inline-block">
            <select id="dm-tbl">
                <option value="DMPartial_Payee">Payee</option>
                <option value="DMPartial_Check">Check</option>
                <option value="DMPartial_Acc">Account</option>
                <option value="DMPartial_Dept">Department</option>
                <option value="DMPartial_VAT">Value Added Tax</option>
                <option value="DMPartial_FBT">Fringe Benefit Tax</option>
                <option value="DMPartial_EWT">Expanded Withholding Tax</option>
                <option value="DMPartial_Curr">Currency</option>
            </select>
        </div>
    </div>
    <div id="partial-container">
        @*validation message*@
        <div id="ValidationSummary" style="display:none" class="">
            @Html.ValidationSummary(false, "", new { @id = "validationSummary" })
        </div>
    </div>
</div>

@functions {
public int CheckSession
{
    get
    {
        return Context.Session.Id != null ? 1:0;
    }
}
}
<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
</environment>
<script type="text/javascript">
    $(document).ready(function () {
        var cont = $('#partial-container');
        //var sel = $('select#dm-tbl select');
        var sortOrder = '@ViewData["sortOrder"]';
        var currentFilter = '@ViewData["currentFilter"]';
        var searchString = '@ViewData["searchString"]';
        var page = '@ViewData["page"]';
        var partial = '@ViewData["partialName"]';
        var colName = '@ViewData["colName"]';

        initPartial();

        function initPartial() {
            $('select#dm-tbl option[value=' + partial + ']').attr('selected', 'selected');
            $.ajax({
                url: '/Partial/' + partial,
                type: "Get",
                data: { 'sortOrder': sortOrder, 'currentFilter': currentFilter, 'colName': colName, 'searchString': searchString, 'page': page },
                async: true,
                //processData: false,
                datatype: "json",
                cache: false,
                success: function (data) {
                    cont.empty();
                    cont.html(data);
                    isSearchDisabled()
                }
            });
        }
        //change content of partial view on select on change
        $('select#dm-tbl').change(function () {
            if (@CheckSession == 1) {
                $('input#filterPartialName').val(this.value);
                $.ajax({
                    url: '/Partial/' + this.value,
                    type: "Get",
                    data: { sortOrder: sortOrder, currentFilter: currentFilter, searchString: searchString, page: page },
                    //data: model,
                    async: false,
                    processData: false,
                    datatype: "json",
                    cache: false,
                    success: function (data) {
                        cont.empty();
                        cont.html(data);
                        isSearchDisabled()
                    }
                });
            } else {
                alert("Session Timeout.");
                location.href = "/Account/Login";
            }
            
        });

        function isSearchDisabled() {
            if ($('.tab-tbl tbody tr').length <= 1) {
                $('#search-btn').attr("disabled", "disabled");
                $('#full-list-btn').attr("disabled", "disabled");
            } else {

                $('#search-btn').removeAttr("disabled");
                $('#full-list-btn').removeAttr("disabled");
            }
        }
    });
</script>
