
@{
    ViewData["Title"] = "DM";
}
@using ExpenseProcessingSystem.ViewModels
@model DMViewModel
<div class="tab-content-cont m-t-10">
    <div id="tbl-lbl">
        <div class="dis-inline-block"><p>Data List Title:</p></div>
        <div class="dis-inline-block">
            <select id="dm-tbl">
                <option value="DMPartial_Vendor">Vendor</option>
                <option value="DMPartial_Check">Check</option>
                <option value="DMPartial_Acc">Account</option>
                <option value="DMPartial_AccGroup">Account Group</option>
                <option value="DMPartial_Dept">Department</option>
                <option value="DMPartial_VAT">Value Added Tax</option>
                <option value="DMPartial_FBT">Fringe Benefit Tax</option>
                <option value="DMPartial_TR">Tax Rates</option>
                <option value="DMPartial_Curr">Currency</option>
                <option value="DMPartial_RegEmp">Regular Employee</option>
                <option value="DMPartial_TempEmp">Temporary Employee</option>
                <option value="DMPartial_Cust">Customer</option>
                <option value="DMPartial_BCS">BIR Cert Signatory</option>
            </select>
        </div>
    </div>
    <div id="partialContainer">
        <div id="partcontains"></div>
    </div>
    <input type="hidden" id="entryCheckTypes" />
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var sortOrder = '@ViewData["sortOrder"]';
        var currentFilter = '@ViewData["currentFilter"]';
        var searchString = '@ViewData["searchString"]';
        var page = '@ViewData["page"]';
        var partial = '@ViewData["partialName"]';
        var colName = '@ViewData["colName"]';

        initPartial();
        //------------[ FUNCTIONS ]---------------
        function initPartial() {
            $('select#dm-tbl option[value=' + partial + ']').attr('selected', 'selected');

            var filterData = { 'sortOrder': sortOrder, 'currentFilter': currentFilter, 'colName': colName, 'searchString': searchString, 'page': page };


            $('#partcontains').load("/Partial/" + partial, filterData, function (response, status, xhr) {
                if (status == "error") {
                    alert("Something went wrong.");
                } else {
                    isSearchDisabled();
                }
            });
        }
        //change content of partial view on select on change
        
        $('select#dm-tbl').change(function () {
            if (isSessionTimeout() != true) {
                $('input#filterPartialName').val(this.value);

                var filterData = { 'sortOrder': sortOrder, 'currentFilter': currentFilter, 'colName': colName, 'searchString': searchString, 'page': page };


                $('#partcontains').load("/Partial/" + this.value, filterData, function (response, status, xhr) {
                    if (status == "error") {
                        alert("Something went wrong.");
                    } else {
                        isSearchDisabled();
                    }
                });
            }
        });

        /*Possibly no longer needed(session check is inside the controller?) please check*/
        function isSessionTimeout() {
            var tmp = false;
            $.ajax({
                url: '/Account/checkSession',
                type: "POST",
                dataType: 'json',
                contentType: 'application/json',
                async: false,
                processData: false,
                cache: false,
                data: '{}',
                success: function (data) {
                    //FOR SESSION TIMEOUT CHECK
                    if (data == true) {
                        alert("Your session has timed out. Kindly re-login. Thank you.");
                        tmp = true;
                        location.href = "/Account/Login";
                    }
                },
                error: function (xhr) {
                    alert('error');
                }
            });
            return tmp;
        }

        function isSearchDisabled() {
            var noFilter = true;
            $('input[id^= "DMFilters_"]').each(function (i, obj) {
                if ($(this).val() == "") {
                } else if ($(this).val() == "0") {
                } else if ($(this).val() == "0001-01-01T00:00:00.000") {
                } else {
                    noFilter = false;
                    return false;
                }
            });
            //disable if no entries
            if ($('.tab-tbl tbody tr').length <= 0 && noFilter) {
                $('#search-btn').attr("disabled", "disabled");
                $('#full-list-btn').attr("disabled", "disabled");
            }else {
                $('#search-btn').removeAttr("disabled");
                $('#full-list-btn').removeAttr("disabled");
            }
        }

        function ajaxCall(url, data) {
            return $.ajax({
                url: url,
                type: "POST",
                data: data,
            });
        }
    });
</script>
