
@{
    ViewData["Title"] = "Entry_NC";
}
@using ExpenseProcessingSystem.ViewModels.Entry
@model EntryNCViewModelList
@inject IJsonHelper Json;

<div class="tabContent">
    <input id="_screen" type="hidden" value="nc" />
    <div id="tbl-lbl" class="flex-sb">
        <div class="dis-inline-block w-20">Date: <p class="dis-inline-block w-70">@Html.EditorFor(m => m.expenseDate, new { htmlAttributes = new { @class = "input w-97", @type = "date", @readonly = "readonly"@*, @id = "entryDate"*@ } })</p> </div>
    </div>
    <div id="tbl-lbl">
        <div class="dis-inline-block"><p>Category of Entries:</p></div>
        <div class="dis-inline-block">
            @Html.DropDownListFor(m => m.category_of_entry, Model.systemValues.category_of_entries, new { id = "categoryName" })
        </div>
    </div>
    <div id="nc_container" class="border-solid entry-tbl-cont">
    </div>
    <div id="entry-controls" class="m-b-10">
        <div class="flex-sb m-t-15">
            <div>
                <div class="dis-inline-block"><button class="tbl-btn btnEntryAction" name="command" value="Save" onclick="$('.nc-form').submit();">Save</button></div>
            </div>
        </div>
    </div>

    <div id="modalDiv">
        @Html.Partial("ModalPartial")
    </div>
    @*validation message*@
    <div id="ValidationSummary" style="display:none" class="">
        @Html.ValidationSummary(false, "", new { @id = "validationSummary" })
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var cont = $('#nc_container');

        var partial = '@ViewData["partialName"]';

        var $NC_TABLE = $('#NCPartialTbl');
        initPartial();
        //------------------- [[ Events ]] ---------------------
        $(document).on('click', '.nc-table-remove', function (e) {
            e.stopImmediatePropagation();
            var tr = $(this).closest('tr');
            tr.remove();
        });
        $(document).on('keypress', '[id$="ExpNCDtl_Remarks_Desc"]', function (e) {
            e.stopImmediatePropagation();
            var trID = $(this).closest('tr').attr('id').substring(5);
            var descLength = $(this).val().length;
            checkRemarksPeriodLength(trID, descLength);
        });

        $(document).on('keypress', '[id$="ExpNCDtl_Remarks_Period"]', function (e) {
            e.stopImmediatePropagation();
            var trID = $(this).closest('tr').attr('id').substring(5);
            var periodLength = $(this).val().length;
            checkRemarksDescLength(trID, periodLength);
        });

        //when Remarks Desc is changed, compares the Length of Desc and Period to not surpass the Gbase Remarks Limit
        function checkRemarksPeriodLength(trID, descLength) {
            var descElement = $("#EntryNC_ExpenseEntryNCDtls_" + trID + "__ExpNCDtl_Remarks_Desc");
            var periodElement = $("#EntryNC_ExpenseEntryNCDtls_" + trID + "__ExpNCDtl_Remarks_Period");
            var periodLength = periodElement.val().length;
            //Gbase limit is 30 - 1 for " " between  the Remarks Desc and Remarks Period
            if (parseInt(descLength) + parseInt(periodLength) >= 29) {
                descElement.attr("maxlength", descLength);
                periodElement.attr("maxlength", periodLength);
            } else {
                descElement.removeAttr("maxlength");
                periodElement.removeAttr("maxlength");
            }
        }

        //when Remarks Desc is changed, compares the Length of Desc and Period to not surpass the Gbase Remarks Limit
        function checkRemarksDescLength(trID, periodLength) {
            var descElement = $("#EntryNC_ExpenseEntryNCDtls_" + trID + "__ExpNCDtl_Remarks_Desc");
            var periodElement = $("#EntryNC_ExpenseEntryNCDtls_" + trID + "__ExpNCDtl_Remarks_Period");
            var descLength = descElement.val().length;
            //Gbase limit is 30 - 1 for " " between  the Remarks Desc and Remarks Period
            if (parseInt(descLength) + parseInt(periodLength) >= 29) {
                descElement.attr("maxlength", descLength);
                periodElement.attr("maxlength", periodLength);
            } else {
                descElement.removeAttr("maxlength");
                periodElement.removeAttr("maxlength");
            }
        }

        //when selection option in Account DropDownList is changed, compares the account to Comp Suspense / Petty Cash
        $(document).on('change', '.acc-sel', function (e) {
            e.stopImmediatePropagation();
            var selVal = this.value;
            $(this).parent().siblings("input[id$='__ExpNCDtlAcc_Acc_ID']").val(selVal);
            //if Computer Suspense
            if (selVal == "454") {
                if ($(this).parent().siblings("[id^='deb_']").length >= 1) {
                    $(this).parent().siblings("[id^='deb_']").find("[id$='__ExpNCDtlAcc_Amount']").addClass("nc-comp-susp-db");
                } else {
                    $(this).parent().siblings("[id^='cred_']").find("[id$='__ExpNCDtlAcc_Amount']").addClass("nc-comp-susp-cd");
                }
            } else if (selVal == "486") {
                if ($(this).parent().siblings("[id^='deb_']").length >= 1) {
                    $(this).parent().siblings("[id^='deb_']").find("[id$='__ExpNCDtlAcc_Amount']").addClass("nc-cdd-petty-db");
                } else {
                    $(this).parent().siblings("[id^='cred_']").find("[id$='__ExpNCDtlAcc_Amount']").addClass("nc-cdd-petty-cd");
                }
            } else if (selVal == "487") {
                if ($(this).parent().siblings("[id^='deb_']").length >= 1) {
                    $(this).parent().siblings("[id^='deb_']").find("[id$='__ExpNCDtlAcc_Amount']").addClass("nc-cdd-comp-db");
                } else {
                    $(this).parent().siblings("[id^='cred_']").find("[id$='__ExpNCDtlAcc_Amount']").addClass("nc-cdd-comp-cd");
                }
            }
        });
        $(document).on('change', '.curr-sel', function (e) {
            e.stopImmediatePropagation();
            var selVal = this.value;
            $(this).parent().siblings("input[id$='ExpNCDtlAcc_Curr_ID']").val(selVal);
        });
        $(document).on("click", "#add_new_nc_row", function (e) {
            e.stopImmediatePropagation();
            var tblName = $('#categoryName').find(":selected").val();

            var tblRow = $("tr[id^='item_']");
            var itemCount = ($(tblRow).length / 2);

            var $clone = tblName == "1" ? forma1RowFormat(itemCount, getAccsOptions(itemCount), getValueAccsOptions(), getCurrOptions(itemCount)) :
                tblName == "2" ? forma1RowFormat(itemCount, getAccsOptions(itemCount), getValueAccsOptions(), getCurrOptions(itemCount)) :
                tblName == "3" ? forma1RowFormat(itemCount, getAccsOptions(itemCount), getValueAccsOptions(), getCurrOptions(itemCount)) :
                tblName == "4" ? forma2RowFormat(($(tblRow).length / 3), getAccsPCROptions(itemCount, "1"), getAccsPCROptions(itemCount, "2"), getAccsPCROptions(itemCount, "3"), getOneValueAccsOption(itemCount, "1"), getOneValueAccsOption(itemCount, "2"), getOneValueAccsOption(itemCount, "3"), getCurrOptions(itemCount), getVendorOptions(itemCount), getTROptions(itemCount)) :
                tblName == "5" ? forma2RowFormat(($(tblRow).length / 3), getAccsPCROptions(itemCount, "1"), getAccsPCROptions(itemCount, "2"), getAccsPCROptions(itemCount, "3"), getOneValueAccsOption(itemCount, "1"), getOneValueAccsOption(itemCount, "2"), getOneValueAccsOption(itemCount, "3"), getCurrOptions(itemCount), getVendorOptions(itemCount), getTROptions(itemCount)) :
                tblName == "6" ? forma1RowFormat(itemCount, getAccsOptions(itemCount), getValueAccsOptions(), getCurrOptions(itemCount)) :
                tblName == "7" ? forma1RowFormat(itemCount, getAccsOptions(itemCount), getValueAccsOptions(), getCurrOptions(itemCount)) :
                tblName == "8" ? forma1RowFormat(itemCount, getAccsOptions(itemCount), getValueAccsOptions(), getCurrOptions(itemCount)) :
                tblName == "9" ? forma1RowFormat(itemCount, getAccsOptions(itemCount), getValueAccsOptions(), getCurrOptions(itemCount)) :
                tblName == "11" ? formatMiscEntries(($(tblRow).length), getAccsOptions(($(tblRow).length / 4)), getCurrOptions(($(tblRow).length / 4)), getValueAccsOptions(), getValueCurrsOptions(), getVendorOptions(($(tblRow).length / 4)), getTROptions(($(tblRow).length / 4))) :
                $('');
            $('#NCPartialTbl').find('tbody tr:last').before($clone);
            //$('#NCPartialTbl').find('tbody').append($clone);
        });

        // ------------------- [[ FUNCTIONS ]] ------------------
        function initPartial() {
            $('select#categoryName option[value=' + partial + ']').attr('selected', 'selected');
            var _entryID = @Model.entryID;
            var _expenseDate = $("#expenseDate").val();
            $.ajax({
                url: '/Partial/NC_Partial_GetPreview',
                type: "Get",
                data: {
                    'categoryID': partial, 'entryID': _entryID },
                async: true,
                datatype: "json",
                cache: false,
                success: function (data) {
                    cont.empty();
                    cont.html(data);
                    //isSearchDisabled()
                }
            });
        }
        //change content of partial view on select on change
        $('select#categoryName').change(function () {

            if (isSessionTimeout() != true) {
                partial = this.value;
                var _entryID = "";
                var _expenseDate = $("#expenseDate").val();
                $.ajax({
                    url: '/Partial/NC_Partial_GetPreview',
                    type: "Get",
                    data: {
                        'categoryID': partial, 'entryID': _entryID, 'expenseDate': _expenseDate
                    },
                    async: true,
                    datatype: "json",
                    cache: false,
                    success: function (data) {
                        cont.empty();
                        cont.html(data);
                    }
                });
            }
        });
        function isSessionTimeout() {
            var tmp = false;
            $.ajax({
                url: '/Account/checkSession',
                type: "POST",
                dataType: 'json',
                contentType: 'application/json',
                async: false,
                processData: false,
                cache: false,
                data: '{}',
                success: function (data) {
                    //FOR SESSION TIMEOUT CHECK
                    if (data == true) {
                        alert("Your session has timed out. Kindly re-login. Thank you.");
                        tmp = true;
                        location.href = "/Account/Login";
                    }
                },
                error: function (xhr) {
                    alert('error');
                }
            });
            return tmp;
        }
        //set values for Currency Dropdown List
        function getCurrOptions(itemCount) {
            var curroptions = "";
            if (itemCount > 0) {
                var phpCurrId = @ViewBag.phpid;
                $("#currOptions option").each(function (index, item) {
                    if (item.value == phpCurrId) {
                        curroptions += '<option value="' + item.value + '" selected>' + item.text + '</option>';
                    } else {
                        curroptions += '<option value="' + item.value + '">' + item.text + '</option>';
                    }
                });
            }
            return curroptions;
        }
        //set values for Vendor Dropdown List
        function getVendorOptions(itemCount) {
            var venoptions = "";
            if (itemCount > 0) {
                $("#venOptions option").each(function (index, item) {
                    if (index == 0) {
                        venoptions += '<option value="' + item.value + '" selected>' + item.text + '</option>';
                    } else {
                        venoptions += '<option value="' + item.value + '">' + item.text + '</option>';
                    }
                });
            }
            return venoptions;
        }
        //set values for Tax Rates Dropdown List
        function getTROptions(itemCount) {
            var trptions = "";
            if (itemCount > 0) {
                $("#trOptions option").each(function (index, item) {
                    if (index == 0) {
                        trptions += '<option value="' + item.value + '" selected>' + item.text + '</option>';
                    } else {
                        trptions += '<option value="' + item.value + '">' + item.text + '</option>';
                    }
                });
            }
            return trptions;
        }
        //set values for Accounts Dropdown List
        function getAccsOptions(itemCount) {
            var accoptions = "";
            if (itemCount > 0) {
                $("#accOptions option").each(function (index, item) {
                    if (index == 0) {
                        accoptions += '<option value="' + item.value + '" selected>' + item.text + '</option>';
                    } else {
                        accoptions += '<option value="' + item.value + '">' + item.text + '</option>';
                    }
                });
            }
            return accoptions;
        }
        function getAccsPCROptions(itemCount, rowNo) {
            var accoptions = "";
            if (itemCount > 0) {
                if (rowNo == "1") {
                    accoptions += '<option value="' + $("#EntryNC_ExpenseEntryNCDtls_0__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Acc_Name").parent().siblings("#EntryNC_ExpenseEntryNCDtls_0__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Acc_ID").val() + '" selected>' + $("#EntryNC_ExpenseEntryNCDtls_0__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Acc_Name").val() + '</option>';
                } else if (rowNo == "2") {
                    accoptions += '<option value="' + $("#EntryNC_ExpenseEntryNCDtls_0__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Acc_Name").parent().siblings("#EntryNC_ExpenseEntryNCDtls_0__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Acc_ID").val() + '" selected>' + $("#EntryNC_ExpenseEntryNCDtls_0__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Acc_Name").val() + '</option>';
                } else if (rowNo == "3") {
                    accoptions += '<option value="' + $("#EntryNC_ExpenseEntryNCDtls_0__ExpenseEntryNCDtlAccs_2__ExpNCDtlAcc_Acc_Name").parent().siblings("#EntryNC_ExpenseEntryNCDtls_0__ExpenseEntryNCDtlAccs_2__ExpNCDtlAcc_Acc_ID").val() + '" selected>' + $("#EntryNC_ExpenseEntryNCDtls_0__ExpenseEntryNCDtlAccs_2__ExpNCDtlAcc_Acc_Name").val() + '</option>';
                }
            }
            return accoptions;
        }
        function getOneValueAccsOption(itemCount, rowNo) {
            var accoptions = "0";
            if (itemCount > 0) {
                if (rowNo == "1") {
                    accoptions = $("#EntryNC_ExpenseEntryNCDtls_0__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Acc_ID").val();
                } else if (rowNo == "2") {
                    accoptions = $("#EntryNC_ExpenseEntryNCDtls_0__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Acc_ID").val();
                } else if (rowNo == "3") {
                    accoptions = $("#EntryNC_ExpenseEntryNCDtls_0__ExpenseEntryNCDtlAccs_2__ExpNCDtlAcc_Acc_ID").val();
                }
            }
            return accoptions;
        }
        function getValueAccsOptions() {
            return  $("#accOptions option:first").val();
        }
        function getValueCurrsOptions() {
            return @ViewBag.phpid;
        }

        function forma1RowFormat(itemCount, accoptions, accFirstID, curroptions) {
            var dt = new Date();
            var formatMonth = (dt.getMonth() + 1).length == 2 ? (dt.getMonth() + 1) : "0" + (dt.getMonth() + 1);
            var CurrIDOfFirstRow = $("#EntryNC_ExpenseEntryNCDtls_0__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Curr_ID").val();
            return $('<tr id="item_' + itemCount + '">'
                + '<td class="voucher-input"><input id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpNCDtl_Remarks_Desc" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpNCDtl_Remarks_Desc"  type="text" value=""></td>'
                + '<td  class="voucher-input" colspan="2">'
                + '<input class="text-box single-line" id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpNCDtl_Remarks_Period" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpNCDtl_Remarks_Period" type="text" value="">'
                + '</td>'
                + '<td class="cat-hidden hidden" colspan="1" rowspan="2">'
                + '<input class= "w-full cat-hidden hidden" id = "EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpNCDtl_Vendor_ID" name = "EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpNCDtl_Vendor_ID" readonly = "true" type = "text" value = "0" >'
                + '</td>'
                + '<td class="cat-hidden hidden" colspan="1" rowspan="2">'
                + '<input class= "w-full cat-hidden hidden" id = "EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpNCDtl_TR_ID" name = "EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpNCDtl_TR_ID" readonly = "true" type = "text" value = "0" >'
                + '</td>'
                + '<td class="cat-hidden hidden" colspan="1" rowspan="2">'
                + '<input class= "w-full cat-hidden hidden" id = "EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpNCDtl_TaxBasedAmt" name = "EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpNCDtl_TaxBasedAmt" readonly = "true" type = "text" value = "0" >'
                + '</td>'
                + '<td colspan="3"  class="voucher-input">'
                + '<select class= "w-full input acc-sel" data-val="true" data-val- required="The Account field is required." id = "EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Acc_Name" name = "EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Acc_Name"> '
                + accoptions
                + '</select> </td>'
                + '<td> </td>'
                + '<td> <select id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Curr_ID" class="w-full input curr-sel" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Curr_ID">'
                + curroptions
                + '</select></td>'
                + '<td class="voucher-input" id="deb_' + itemCount + '"><input class="ncVar NumberOnlyOneDecimal" data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Amount" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Amount" type="text" value="0"></td>'
                + '<td></td>'
                + '<td></td>'
                + '<input data-val="true" data-val-required="The Account field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Acc_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Acc_ID" type="hidden" value="' + accFirstID + '">'
                + '<input data-val="true" data-val-required="The CCY field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Curr_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Curr_ID" type="hidden" value="' + CurrIDOfFirstRow + '">'
                + '<input data-val="true" data-val-required="The Type field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Type_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Type_ID" type="hidden" value="1">'
                + '</tr>'
                + '<tr id="item_' + itemCount + '">'
                + '<td></td>'
                + '<td colspan="2"></td>'
                + '<td colspan="3" class="voucher-input">'
                + '<select class= "w-full input  acc-sel" data-val="true" data-val- required="The Account field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Acc_Name" name = "EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[1].ExpNCDtlAcc_Acc_Name"> '
                + accoptions
                + '</select></td>'
                + '<td class="voucher-inter"><input class="ncVar NumberOnlyOneDecimal" data-val="true" data-val-number="The field Inter-Rate must be a number." data-val-required="The Inter-Rate field is required." disabled="disabled" id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Inter_Rate" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[1].ExpNCDtlAcc_Inter_Rate"  type="text" value="0"></td>'
                + '<td></td>'
                + '<td></td>'
                + '<td> <select id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Curr_ID" class="w-full input curr-sel" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[1].ExpNCDtlAcc_Curr_ID">'
                + curroptions
                + '</select></td>'
                + '<td class="" id="cred_' + itemCount + '"><input class="ncVar NumberOnlyOneDecimal" data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Amount" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[1].ExpNCDtlAcc_Amount"  type="text" readonly="true" value="0"></td>'
                + '<input data-val="true" data-val-required="The Account field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Acc_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[1].ExpNCDtlAcc_Acc_ID" type="hidden" value="' + accFirstID + '">'
                + '<input data-val="true" data-val-required="The CCY field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Curr_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[1].ExpNCDtlAcc_Curr_ID" type="hidden" value="' + CurrIDOfFirstRow + '">'
                + '<input data-val="true" data-val-required="The Type field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Type_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[1].ExpNCDtlAcc_Type_ID" type="hidden" value="2">'
                + '</tr>'
                + '<tr class="NC_spacing_row"><td colspan="13"></td></tr>');
        }
        function forma2RowFormat(itemCount, accoptions1, accoptions2, accoptions3, accID1, accID2, accID3, curroptions, venOptions, trOptions) {
            var dt = new Date();
            var formatMonth = (dt.getMonth() + 1).length == 2 ? (dt.getMonth() + 1) : "0" + (dt.getMonth() + 1);
            var dtFormatted = dt.getFullYear() + "-" + formatMonth + "-" + dt.getDate();
            var CurrIDOfFirstRow = $("#EntryNC_ExpenseEntryNCDtls_0__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Curr_ID").val();
            return $('<tr id="item_' + itemCount + '">'
                + '<td class="voucher-input"><input id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpNCDtl_Remarks_Desc" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpNCDtl_Remarks_Desc" type="text" value=""></td>'
                + '<td  class="voucher-input" colspan="2">'
                + '<div class="dis-inline-block w-48 voucher-input">'
                + '<input class="text-box single-line" id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpNCDtl_Remarks_Period" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpNCDtl_Remarks_Period" type="text" value="">'
                + '</div>'
                + '</td>'
                + '<td colspan="3">'
                +' <select class= "w-full input acc-sel" data - val="true" data - val - required="The Account field is required." id = "EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Acc_Name" name = "EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Acc_Name" >'
                + accoptions1
                + '</select> </td>'
                + '<td class="" colspan="1" rowspan="3">'
                + '<select id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpNCDtl_Vendor_ID" class="w-full input ven-sel" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpNCDtl_Vendor_ID">'
                + venOptions
                + '</select >'
                + '</td>'
                + '<td class="" colspan="1" rowspan="3">'
                + '<select id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpNCDtl_TR_ID" class="w-full input ven-sel" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpNCDtl_TR_ID">'
                + trOptions
                + '</select >'
                + '</td>'
                + '<input class="input voucher-input NumberOnlyOneDecimal" data-val="true" data-val-number="The field Tax Based Amount must be a number." data-val-required="The Tax Based Amount field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpNCDtl_TaxBasedAmt" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpNCDtl_TaxBasedAmt" type="text" value="0">'
                + '<td></td>'
                + '<td> <select id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Curr_ID" class="w-full input curr-sel" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Curr_ID">'
                + curroptions
                + '</select></td>'
                + '<td class="voucher-input" id="deb_' + itemCount + '"><input class="ncVar NumberOnlyOneDecimal " data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Amount" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Amount" type="text" value="0"></td>'
                + '<td></td>'
                + '<td></td>'
                + '<input data-val="true" data-val-required="The Account field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Acc_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Acc_ID" type="hidden" value="' + accID1 + '">'
                + '<input data-val="true" data-val-required="The CCY field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Curr_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Curr_ID" type="hidden" value="' + CurrIDOfFirstRow + '">'
                + '<input data-val="true" data-val-required="The Type field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Type_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Type_ID" type="hidden" value="1">'
                + '</tr>'
                + '<tr id="item_' + itemCount + '">'
                + '<td></td>'
                + '<td colspan="2"></td>'
                + '<td colspan="3">'
                + '<select class= "w-full input acc-sel" data - val="true" data - val - required="The Account field is required." id = "EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Acc_Name" name = "EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[1].ExpNCDtlAcc_Acc_Name" > '
                + accoptions2
                + '</select> </td>'
                + '<td></td>'
                + '<td></td>'
                + '<td class=""><input class="ncVar NumberOnlyOneDecimal" data-val="true" data-val-number="The field Inter-Rate must be a number." data-val-required="The Inter-Rate field is required." disabled="disabled" id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Inter_Rate" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[1].ExpNCDtlAcc_Inter_Rate" readonly="true" type="text" value="0"></td>'
                + '<td> <select id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Curr_ID" class="w-full input curr-sel" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[1].ExpNCDtlAcc_Curr_ID">'
                + curroptions
                + '</select></td>'
                + '<td class="" id="cred_' + itemCount + '"><input class="ncVar NumberOnlyOneDecimal " data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Amount" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[1].ExpNCDtlAcc_Amount" readonly="true" type="text" value="0"></td>'
                + '<input data-val="true" data-val-required="The Account field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Acc_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[1].ExpNCDtlAcc_Acc_ID" type="hidden" value="' + accID2 + '">'
                + '<input data-val="true" data-val-required="The CCY field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Curr_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[1].ExpNCDtlAcc_Curr_ID" type="hidden" value="' + CurrIDOfFirstRow + '">'
                + '<input data-val="true" data-val-required="The Type field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Type_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[1].ExpNCDtlAcc_Type_ID" type="hidden" value="2">'
                + '</tr>'
                + '<tr id="item_' + itemCount + '">'
                + '<td></td>'
                + '<td colspan="2"></td>'
                + '<td colspan="3">'
                + '<select class= "w-full input acc-sel" data - val="true" data - val - required="The Account field is required." id = "EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_2__ExpNCDtlAcc_Acc_Name" name = "EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[2].ExpNCDtlAcc_Acc_Name" > '
                + accoptions3
                + '</select> </td>'+ '<td></td>'
                + '<td></td>'
                + '<td></td>'
                + '<td><input id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_2__ExpNCDtlAcc_Curr_Name" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[2].ExpNCDtlAcc_Curr_Name" readonly="true" type="text" value="PHP"></td>'
                + '<td class="" id="cred_' + itemCount + '"><input class="ncVar NumberOnlyOneDecimal " data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_2__ExpNCDtlAcc_Amount" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[2].ExpNCDtlAcc_Amount" readonly="true" type="text" value="0"></td>'
                + '<input data-val="true" data-val-required="The Account field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_2__ExpNCDtlAcc_Acc_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[2].ExpNCDtlAcc_Acc_ID" type="hidden" value="' + accID3 + '">'
                + '<input data-val="true" data-val-required="The CCY field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_2__ExpNCDtlAcc_Curr_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[2].ExpNCDtlAcc_Curr_ID" type="hidden" value="' + CurrIDOfFirstRow + '">'
                + '<input data-val="true" data-val-required="The Type field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_2__ExpNCDtlAcc_Type_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[2].ExpNCDtlAcc_Type_ID" type="hidden" value="2">'
                + '</tr>'
                + '<tr class="NC_spacing_row"><td colspan="13"></td></tr>');
        }
        function formatMiscEntries(itemCount, accoptions, curroptions, accFirstID, currFirstID, venOptions, trOptions) {
            var dt = new Date();
            var formatMonth = (dt.getMonth() + 1).length == 2 ? (dt.getMonth() + 1) : "0" + (dt.getMonth() + 1);
            var dtFormatted = dt.getFullYear() + "-" + formatMonth + "-" + dt.getDate();
            return $('<tr id="item_' + itemCount + '">'
                + '<td class="voucher-input">'
                + '<input id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpNCDtl_Remarks_Desc" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpNCDtl_Remarks_Desc" type="text" value="">'
                + '</td>'
                + '<td colspan="2" class="voucher-input">'
                + '<input class="text-box single-line" id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpNCDtl_Remarks_Period" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpNCDtl_Remarks_Period" type="text" value="">'
                + '</td>'
                + '<td colspan="1" rowspan="4">'
                + '<select id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpNCDtl_Vendor_ID" class="w-full input ven-sel" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpNCDtl_Vendor_ID">'
                + venOptions
                + '</select>'
                + '</td>'
                + '<td colspan="1" rowspan="4">'
                + '<select id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpNCDtl_TR_ID" class="w-full input ven-sel" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpNCDtl_TR_ID">'
                + trOptions
                + '</select>'
                + '</td>'
                + '<td colspan="1" rowspan="4"><input class="input voucher-input NumberOnlyOneDecimal" data-val="true" data-val-number="The field Tax Based Amount must be a number." data-val-required="The Tax Based Amount field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpNCDtl_TaxBasedAmt" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpNCDtl_TaxBasedAmt" type="text" value="0"></td>'
                + '<td colspan="3" class="voucher-input">'
                + '<select id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Acc_Name" class="w-full input acc-sel" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Acc_Name">'
                + accoptions
                + '</select>'
                + '</td>'
                + '<td class="voucher-input"><input class="ncVar NumberOnlyOneDecimal" data-val="true" data-val-number="The field Inter-Rate must be a number." data-val-required="The Inter-Rate field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Inter_Rate" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Inter_Rate" type="text" value="0"></td>'
                + '<td>'
                + '<select id="curr[' + itemCount + ']_[0]" class="w-full input curr-sel misc-curr-0" name="curr[' + itemCount + ']_[0]">'
                + curroptions
                + '</select>'
                + '</td>'
                + '<td class="voucher-input db" id="deb_' + itemCount + '">'
                + '<input class="ncVar NumberOnlyOneDecimalMisc misc-0 amt-db-' + itemCount + '-0" id="amt-db-' + itemCount + '-0" data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." type="text" value="0">'
                + '</td>'

                + '<td>'
                + '<select id="curr[' + itemCount + ']_[0]" class="w-full input curr-sel misc-curr-0" name="curr[' + itemCount + ']_[0]">'
                + curroptions
                + '</select>'
                + '</td>'
                + '<td class="voucher-input cd" id="cred_' + itemCount + '">'
                + '<input class="ncVar NumberOnlyOneDecimalMisc misc-0 amt-cd-' + itemCount + '-0" id="amt-cd-' + itemCount + '-0" data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." type="text" value="0">'
                + '</td>'
                + '<input data-val="true" data-val-required="The Account field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Acc_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Acc_ID" type="hidden" value="' + accFirstID + '">'
                + '<input data-val="true" data-val-required="The Type field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Type_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Type_ID" type="hidden" value="1">'
                + '</tr>'
                + '<tr id="">'
                + '<td></td>'
                + '<td colspan="2" class=""></td>'
                + '<td colspan="3" class="voucher-input">'
                + '<select id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Acc_Name" class="w-full input acc-sel" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[1].ExpNCDtlAcc_Acc_Name">'
                + accoptions
                + '</select>'
                + '</td>'
                + '<td class="voucher-input"><input class="ncVar NumberOnlyOneDecimal" data-val="true" data-val-number="The field Inter-Rate must be a number." data-val-required="The Inter-Rate field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Inter_Rate" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[1].ExpNCDtlAcc_Inter_Rate" type="text" value="0"></td>'
                + '<td>'
                + '<select id="curr[' + itemCount + ']_[1]" class="w-full input curr-sel misc-curr-1" name="curr[' + itemCount + ']_[1]">'
                + curroptions
                + '</select>'
                + '</td>'
                + '<td class="voucher-input db" id="deb_' + itemCount + '">'
                + '<input class="ncVar NumberOnlyOneDecimalMisc misc-1 amt-db-' + itemCount + '-1" id="amt-db-' + itemCount + '-1" data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." type="text" value="0">'
                + '</td>'

                + '<td>'
                + '<select id="curr[' + itemCount + ']_[1]" class="w-full input curr-sel misc-curr-1" name="curr[' + itemCount + ']_[1]">'
                + curroptions
                + '</select>'
                + '</td>'
                + '<td class="voucher-input cd" id="cred_' + itemCount + '">'
                + '<input class="ncVar NumberOnlyOneDecimalMisc misc-1 amt-cd-' + itemCount + '-1" id="amt-cd-' + itemCount + '-1" data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." type="text" value="0">'
                + '</td>'
                + '<input data-val="true" data-val-required="The Account field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Acc_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[1].ExpNCDtlAcc_Acc_ID" type="hidden" value="' + accFirstID + '">'
                + '<input data-val="true" data-val-required="The Type field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Type_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[1].ExpNCDtlAcc_Type_ID" type="hidden" value="2">'
                + '</tr>'
                + '<tr id="">'
                + '<td></td>'
                + '<td colspan="2" class=""></td>'
                + '<td colspan="3" class="voucher-input">'
                + '<select id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_2__ExpNCDtlAcc_Acc_Name" class="w-full input acc-sel" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[2].ExpNCDtlAcc_Acc_Name">'
                + accoptions
                + '</select>'
                + '</td>'
                + '<td class="voucher-input"><input class="ncVar NumberOnlyOneDecimal" data-val="true" data-val-number="The field Inter-Rate must be a number." data-val-required="The Inter-Rate field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_2__ExpNCDtlAcc_Inter_Rate" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[2].ExpNCDtlAcc_Inter_Rate" type="text" value="0"></td>'
                + '<td>'
                + '<select id="curr[' + itemCount + ']_[2]" class="w-full input curr-sel misc-curr-2" name="curr[' + itemCount + ']_[2]">'
                + curroptions
                + '</select>'
                + '</td>'
                + '<td class="voucher-input db" id="deb_' + itemCount + '">'
                + '<input class="ncVar NumberOnlyOneDecimalMisc misc-2 amt-db-' + itemCount + '-2" id="amt-db-' + itemCount + '-2" data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." type="text" value="0">'
                + '</td>'

                + '<td>'
                + '<select id="curr[' + itemCount + ']_[2]" class="w-full input curr-sel misc-curr-2" name="curr[' + itemCount + ']_[2]">'
                + curroptions
                + '</select>'
                + '</td>'
                + '<td class="voucher-input cd" id="cred_' + itemCount + '">'
                + '<input class="ncVar NumberOnlyOneDecimalMisc misc-2 amt-cd-' + itemCount + '-2" id="amt-cd-' + itemCount + '-2" data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." type="text" value="0">'
                + '</td>'
                + '<input data-val="true" data-val-required="The Account field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_2__ExpNCDtlAcc_Acc_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[2].ExpNCDtlAcc_Acc_ID" type="hidden" value="' + accFirstID + '">'
                + '<input data-val="true" data-val-required="The Type field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_2__ExpNCDtlAcc_Type_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[2].ExpNCDtlAcc_Type_ID" type="hidden" value="2">'
                + '</tr>'
                + '<tr id="">'
                + '<td></td>'
                + '<td colspan="2" class=""></td>'
                + '<td colspan="3" class="voucher-input">'
                + '<select id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_3__ExpNCDtlAcc_Acc_Name" class="w-full input acc-sel" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[3].ExpNCDtlAcc_Acc_Name">'
                + accoptions
                + '</select>'
                + '</td>'
                + '<td class="voucher-input"><input class="ncVar NumberOnlyOneDecimal" data-val="true" data-val-number="The field Inter-Rate must be a number." data-val-required="The Inter-Rate field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_3__ExpNCDtlAcc_Inter_Rate" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[3].ExpNCDtlAcc_Inter_Rate" type="text" value="0"></td>'
                + '<td>'
                + '<select id="curr[' + itemCount + ']_[3]" class="w-full input curr-sel misc-curr-3" name="curr[' + itemCount + ']_[3]">'
                + curroptions
                + '</select>'
                + '</td>'
                + '<td class="voucher-input db" id="deb_' + itemCount + '">'
                + '<input class="ncVar NumberOnlyOneDecimalMisc misc-3 amt-db-' + itemCount + '-3" id="amt-db-' + itemCount + '-3" data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." type="text" value="0">'
                + '</td>'

                + '<td>'
                + '<select id="curr[' + itemCount + ']_[3]" class="w-full input curr-sel misc-curr-3" name="curr[' + itemCount + ']_[3]">'
                + curroptions
                + '</select>'
                + '</td>'
                + '<td class="voucher-input cd" id="cred_' + itemCount + '">'
                + '<input class="ncVar NumberOnlyOneDecimalMisc misc-3 amt-cd-' + itemCount + '-3" id="amt-cd-' + itemCount + '-3" data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." type="text" value="0">'
                + '</td>'
                + '<input data-val="true" data-val-required="The Account field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_3__ExpNCDtlAcc_Acc_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[3].ExpNCDtlAcc_Acc_ID" type="hidden" value="' + accFirstID + '">'
                + '<input data-val="true" data-val-required="The Type field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_3__ExpNCDtlAcc_Type_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[3].ExpNCDtlAcc_Type_ID" type="hidden" value="2">'
                + '</tr>'
                + '<input data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Amount" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Amount" type="hidden" value="0">'
                + '<input data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Amount" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[1].ExpNCDtlAcc_Amount" type="hidden" value="0">'
                + '<input data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_2__ExpNCDtlAcc_Amount" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[2].ExpNCDtlAcc_Amount" type="hidden" value="0">'
                + '<input data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_3__ExpNCDtlAcc_Amount" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[3].ExpNCDtlAcc_Amount" type="hidden" value="0">'
                + '<input data-val="true" data-val-required="The CCY field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Curr_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Curr_ID" type="hidden" value="31">'
                + '<input data-val="true" data-val-required="The CCY field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Curr_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[1].ExpNCDtlAcc_Curr_ID" type="hidden" value="31">'
                + '<input data-val="true" data-val-required="The CCY field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_2__ExpNCDtlAcc_Curr_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[2].ExpNCDtlAcc_Curr_ID" type="hidden" value="31">'
                + '<input data-val="true" data-val-required="The CCY field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_3__ExpNCDtlAcc_Curr_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[3].ExpNCDtlAcc_Curr_ID" type="hidden" value="31">');
        }
        function forma3RowFormat(itemCount, accoptions, curroptions, accFirstID, currFirstID, venOptions, trOptions) {
            var dt = new Date();
            var formatMonth = (dt.getMonth() + 1).length == 2 ? (dt.getMonth() + 1) : "0" + (dt.getMonth() + 1);
            var dtFormatted = dt.getFullYear() + "-" + formatMonth + "-" + dt.getDate();
            return $('<tr id="item_' + itemCount + '">'
                + '<td class="voucher-input"><input id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpNCDtl_Remarks_Desc" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpNCDtl_Remarks_Desc"  type="text" value=""></td>'
                + '<td  class="voucher-input" colspan="2">'
                + '<div class="dis-inline-block w-48 voucher-input">'
                + '<input class="text-box single-line" id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpNCDtl_Remarks_Period" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpNCDtl_Remarks_Period" type="text" value="">'
                + '</div>'
                + '</td>'
                + '<td colspan="3"  class="voucher-input">'
                + '<select class= "w-full input acc-sel" data-val="true" data-val- required="The Account field is required." id = "EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Acc_Name" name = "EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Acc_Name"> '
                + accoptions
                + '</select> </td>'
                + '<td class="" colspan="1" rowspan="4">'
                + '<select id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpNCDtl_Vendor_ID" class="w-full input ven-sel" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpNCDtl_Vendor_ID">'
                + venOptions
                + '</select >'
                + '</td>'
                + '<td class="" colspan="1" rowspan="4">'
                + '<select id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpNCDtl_TR_ID" class="w-full input ven-sel" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpNCDtl_TR_ID">'
                + trOptions
                + '</select >'
                + '</td>'
                + '<td class="voucher-input"><input class="ncVar NumberOnlyOneDecimal" data-val="true" data-val-number="The field Inter-Rate must be a number." data-val-required="The Inter-Rate field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Inter_Rate" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Inter_Rate" type="text" value="0"></td>'
                + '<td> <select id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Curr_ID" class="w-full input curr-sel" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Curr_ID">'
                + curroptions
                + '</select></td>'
                + '<td class="voucher-input" id="deb_' + itemCount + '"><input class="ncVar NumberOnlyOneDecimal" data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Amount" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Amount" type="text" value="0"></td>'
                + '<td></td>'
                + '<td></td>'
                + '<input data-val="true" data-val-required="The Account field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Acc_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Acc_ID" type="hidden" value="' + accFirstID + '">'
                + '<input data-val="true" data-val-required="The CCY field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Curr_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Curr_ID" type="hidden" value="' + currFirstID + '">'
                + '<input data-val="true" data-val-required="The Type field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_0__ExpNCDtlAcc_Type_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Type_ID" type="hidden" value="1">'
                + '</tr>'
                + '<tr id="item_' + itemCount + '">'
                + '<td></td>'
                + '<td colspan="2"></td>'
                + '<td colspan="3" class="voucher-input">'
                + '<select class= "w-full input  acc-sel" data-val="true" data-val- required="The Account field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Acc_Name" name = "EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[1].ExpNCDtlAcc_Acc_Name"> '
                + accoptions
                + '</select></td>'
                + '<td></td>'
                + '<td></td>'
                + '<td></td>'
                + '<td> <select id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Curr_ID" class="w-full input curr-sel" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[1].ExpNCDtlAcc_Curr_ID">'
                + curroptions
                + '</select></td>'
                + '<td class="voucher-input" id="cred_' + itemCount + '"><input class="ncVar NumberOnlyOneDecimal" data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Amount" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[1].ExpNCDtlAcc_Amount"  type="text" value="0"></td>'
                + '<input data-val="true" data-val-required="The Account field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Acc_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[1].ExpNCDtlAcc_Acc_ID" type="hidden" value="' + accFirstID + '">'
                + '<input data-val="true" data-val-required="The CCY field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Curr_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[1].ExpNCDtlAcc_Curr_ID" type="hidden" value="' + currFirstID + '">'
                + '<input data-val="true" data-val-required="The Type field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_1__ExpNCDtlAcc_Type_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[1].ExpNCDtlAcc_Type_ID" type="hidden" value="2">'
                + '</tr>'
                + '<tr id="item_' + itemCount + '">'
                + '<td></td>'
                + '<td colspan="2"></td>'
                + '<td colspan="3" class="voucher-input">'
                + '<select id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_2__ExpNCDtlAcc_Acc_Name" class="w-full input acc-sel" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[2].ExpNCDtlAcc_Acc_Name">'
                + accoptions
                + '</select>'
                + '</td>'
                + '<td></td>'
                + '<td></td>'
                + '<td></td>'
                + '<td>'
                + '<select id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_2__ExpNCDtlAcc_Curr_ID" class="w-full input curr-sel" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[2].ExpNCDtlAcc_Curr_ID">'
                + curroptions
                + '</select>'
                + '</td>'
                + '<td class="voucher-input" id="cred_' + itemCount + '">'
                + '<input class="ncVar NumberOnlyOneDecimal " data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_2__ExpNCDtlAcc_Amount" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[2].ExpNCDtlAcc_Amount" type="text" value="0">'
                + '</td>'
                + '<input data-val="true" data-val-required="The Account field is required." id="EntryNC_ExpenseEntryNCDtls_' + accFirstID + '__ExpenseEntryNCDtlAccs_2__ExpNCDtlAcc_Acc_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[2].ExpNCDtlAcc_Acc_ID" type="hidden" value="' + accFirstID + '">'
                + '<input data-val="true" data-val-required="The CCY field is required." id="EntryNC_ExpenseEntryNCDtls_' + accFirstID + '__ExpenseEntryNCDtlAccs_2__ExpNCDtlAcc_Curr_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[2].ExpNCDtlAcc_Curr_ID" type="hidden" value="' + currFirstID + '">'
                + '<input data-val="true" data-val-required="The Type field is required." id="EntryNC_ExpenseEntryNCDtls_' + accFirstID + '__ExpenseEntryNCDtlAccs_2__ExpNCDtlAcc_Type_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[2].ExpNCDtlAcc_Type_ID" type="hidden" value="2">'
                + '</tr>'
                + '<tr id="item_' + itemCount + '">'
                + '<td></td>'
                + '<td colspan="2"></td>'
                + '<td colspan="3" class="voucher-input">'
                + '<select id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_3__ExpNCDtlAcc_Acc_Name" class="w-full input acc-sel" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[3].ExpNCDtlAcc_Acc_Name">'
                + accoptions
                + '</select>'
                + '</td>'
                + '<td></td>'
                + '<td></td>'
                + '<td></td>'
                + '<td>'
                + '<select id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_3__ExpNCDtlAcc_Curr_ID" class="w-full input curr-sel" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[3].ExpNCDtlAcc_Curr_ID">'
                + curroptions
                + '</select>'
                + '</td>'
                + '<td class="voucher-input" id="cred_' + itemCount + '">'
                + '<input class="ncVar NumberOnlyOneDecimal " data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." id="EntryNC_ExpenseEntryNCDtls_' + itemCount + '__ExpenseEntryNCDtlAccs_3__ExpNCDtlAcc_Amount" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[3].ExpNCDtlAcc_Amount" type="text" value="0">'
                + '</td>'
                + '<input data-val="true" data-val-required="The Account field is required." id="EntryNC_ExpenseEntryNCDtls_' + accFirstID + '__ExpenseEntryNCDtlAccs_3__ExpNCDtlAcc_Acc_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[3].ExpNCDtlAcc_Acc_ID" type="hidden" value="' + accFirstID + '">'
                + '<input data-val="true" data-val-required="The CCY field is required." id="EntryNC_ExpenseEntryNCDtls_' + accFirstID + '__ExpenseEntryNCDtlAccs_3__ExpNCDtlAcc_Curr_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[3].ExpNCDtlAcc_Curr_ID" type="hidden" value="' + currFirstID + '">'
                + '<input data-val="true" data-val-required="The Type field is required." id="EntryNC_ExpenseEntryNCDtls_' + accFirstID + '__ExpenseEntryNCDtlAccs_3__ExpNCDtlAcc_Type_ID" name="EntryNC.ExpenseEntryNCDtls[' + itemCount + '].ExpenseEntryNCDtlAccs[3].ExpNCDtlAcc_Type_ID" type="hidden" value="2">'
                + '</tr>'
                + '<tr class="NC_spacing_row"><td colspan="13"></td></tr>');
        }
    });
</script>