@using ExpenseProcessingSystem.ViewModels
@model EntryCVViewModelList
@inject IJsonHelper Json;

@{
    ViewData["Title"] = "Entry_SS";
}

<div class="tabContent">
    <input id="_screen" type="hidden" value="cv" />
    @using (Html.BeginForm("AddNewSS", "Home", FormMethod.Post, new { @class = "validate-form" }))
    {
        <div id="tbl-lbl">
            <div class="dis-inline-block"><p>Date:</p></div>
            <div class="dis-inline-block">
                @Html.EditorFor(m => m.expenseDate, new { htmlAttributes = new { @class = "input w-97", @type = "date", @readonly = "readonly" } })
            </div>
            <div class="dis-inline-block" style="float:right;">
                <p class="dis-inline-block">
                    @Html.TextBoxFor(model => model.expenseYear, new { @readonly = "true", @class = "input" })
                </p>
                -
                <p class="dis-inline-block">
                    @Html.TextBoxFor(model => model.expenseId, new { @readonly = "true", @class = "input" })
                </p>
            </div>
        </div>
        <div class="flex-c">
            <table class="table table-bordered table-striped voucher-tbl w-97" id="inputTable">
                <colgroup>
                    <col style="width:20%;" />
                    <col style="width:18%;" />
                    <col style="width:15%;" />
                    <col style="width:10%" />
                    <col style="width:2%;" />
                    <col style="width:6%;" />
                    <col style="width:2%;" />
                    <col style="width:6%;" />
                    <col style="width:5%;" />
                    <col style="width:8%;" />
                    <col style="width:8%;" />
                    <col style="width:8%;" />
                    <col style="width:2%;" />
                </colgroup>
                <thead>
                    <tr>
                        <th rowspan="2">Gbase Remarks</th>
                        <th rowspan="2">Payee</th>
                        <th rowspan="2">Account</th>
                        <th rowspan="2">Department</th>
                        <th colspan="2" rowspan="2">VAT</th>
                        <th colspan="2" rowspan="2">EWT</th>
                        <th rowspan="2">Currency</th>
                        <th>Debit</th>
                        <th colspan="2">Credit</th>
                    </tr>
                    <tr>
                        <th scope="col">Gross Amount</th>
                        <th scope="col">EWT Amount</th>
                        <th scope="col">Cash</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.EntryCV.Count; i++)
                    {
                        <tr id="item_@i">
                            <td class="p-b-1 p-t-1">
                                <div class="flex-sb">
                                    @Html.TextBoxFor(x => Model.EntryCV[i].GBaseRemarks, new { @class = "input100 w-80" })
                                    <div id="remark_@i">
                                        <a href="#" class="gRemarks glyphicon glyphicon-folder-open fs-23 m-r-5"></a>
                                        @for (int y = 0; y < Model.EntryCV[i].gBaseRemarksDetails.Count(); y++)
                                        {
                                            @Html.HiddenFor(x => Model.EntryCV[i].gBaseRemarksDetails[y].docType);
                                            @Html.HiddenFor(x => Model.EntryCV[i].gBaseRemarksDetails[y].desc);
                                            @Html.HiddenFor(x => Model.EntryCV[i].gBaseRemarksDetails[y].invNo);
                                            @Html.HiddenFor(x => Model.EntryCV[i].gBaseRemarksDetails[y].amount);
                                        }
                                    </div>
                                </div>
                            </td>
                            <td>
                                @Html.DropDownListFor(m => Model.EntryCV[i].dtlSSPayee, new SelectList(Model.systemValues.employees, "Value", "Text", Model.systemValues.employees.SelectedValue), new { @class = "input100 txtPayee" })
                            </td>
                            <td>
                                @Html.DropDownListFor(x => Model.EntryCV[i].account, new SelectList(Model.systemValues.acc, "accId", "accName"), new { @class = "input100 txtAcc" })
                            </td>
                            <td>
                                @Html.DropDownListFor(x => Model.EntryCV[i].dept, new SelectList(Model.systemValues.dept, "Value", "Text", Model.systemValues.dept.SelectedValue), new { @class = "input100" })
                            </td>
                            <td style="text-align:center">
                                @Html.CheckBoxFor(x => Model.EntryCV[i].chkVat, new { @class = "chkVat comVar" })
                            </td>
                            <td>
                                @*@Html.TextBoxFor(x => Model.EntryCV[i].vat, new { @class = "input100 txtVat", @readonly = "true" })*@
                                @Html.DropDownListFor(x => Model.EntryCV[i].vat, new SelectList(Model.systemValues.vat, "Value", "Text", Model.systemValues.vat.SelectedValue), new { @class = "input100 txtVat comVar", @disabled = "true" })
                            </td>
                            <td style="text-align:center">
                                @Html.CheckBoxFor(x => Model.EntryCV[i].chkEwt, new { @class = "chkEwt comVar", @disabled = "true" })
                            </td>
                            <td>
                                @Html.DropDownListFor(x => Model.EntryCV[i].ewt, new SelectList(Model.systemValues.ewt, "Value", "Text", Model.systemValues.ewt.SelectedValue), new { @class = "input100 txtEwt comVar", @disabled = "true" })
                            </td>
                            <td>
                                @Html.DropDownListFor(x => Model.EntryCV[i].ccy, new SelectList(Model.systemValues.currency, "Value", "Text", Model.systemValues.currency.SelectedValue), new { @class = "input100 txtccy" })
                            </td>
                            <td>
                                @Html.TextBoxFor(x => Model.EntryCV[i].debitGross, new { @class = "input100 txtGross", @type = "number", @min = "0", @readonly = "readonly" })
                            </td>
                            <td>
                                @Html.TextBoxFor(x => Model.EntryCV[i].credEwt, new { @class = "input100 txtCredEwt", @type = "number", @min = "0", @readonly = "readonly" })
                            </td>
                            <td>
                                @Html.TextBoxFor(x => Model.EntryCV[i].credCash, new { @class = "input100 txtCredCash", @type = "number", @min = "0", @readonly = "readonly" })
                            </td>
                            <td id="req_@i">
                                <a class="cashBreakdown reqBtn glyphicon glyphicon-list-alt" href="#"></a>
                                @Html.HiddenFor(x => Model.EntryCV[i].modalInputFlag, new { @class = "hiddenItem" })
                                @Html.HiddenFor(x => Model.EntryCV[i].screenCode, new { @class = "hiddenScreencode" })
                                @Html.HiddenFor(x => Model.EntryCV[i].ccyAbbrev, new { @class = "hiddenCcyAbbrev" })
                                <div id="divCashBD_@i">
                                    @for (int y = 0; y < Model.EntryCV[i].cashBreakdown.Count(); y++)
                                    {
                                        @Html.HiddenFor(x => Model.EntryCV[i].cashBreakdown[y].cashDenomination)
                                        @Html.HiddenFor(x => Model.EntryCV[i].cashBreakdown[y].cashNoPC)
                                        @Html.HiddenFor(x => Model.EntryCV[i].cashBreakdown[y].cashAmount)
                                    }
                                </div>
                            </td>
                        </tr>
                    }

                    <tr>
                        <td style="border:none; background-color:#f2f2f2" rowspan="2"><a id="addRow" href="#" class="glyphicon glyphicon-plus"></a></td>
                        <td colspan="8" style="text-align:right; border:none; background-color:#f2f2f2">Subtotal : </td>
                        <td rowspan="2"><div class="flex-c"><input type="text" class="input100" readonly id="grossTotal" /></div></td>
                        <td><input type="text" readonly class="input100" id="credEwtTotal" /></td>
                        <td><input type="text" readonly class="input100" id="credCashTotal" /></td>
                    </tr>
                    <tr>
                        <td colspan="8" style="text-align:right; border:none; background-color:#f2f2f2 ">Total:</td>
                        <td colspan="2"><div class="flex-c"><input type="text" class="input100" readonly id="credTotal" /></div></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div id="entry-controls" class="m-b-10">
            <div class="flex-sb">
                <div>
                    <div class="dis-inline-block tbl-btn"><button>Save</button></div>
                    <div class="dis-inline-block tbl-btn"><button disabled>Delete</button></div>
                    <div class="dis-inline-block tbl-btn"><button disabled>Modify</button></div>
                </div>
                <div>
                    <div class="dis-inline-block tbl-btn"><button id="reversal_entry" disabled>Create Reversal Entry</button></div>
                </div>
            </div>
            <div class="flex-sb">
                <div>
                    <div class="dis-inline-block tbl-btn"><button disabled>Approve/Verify</button></div>
                    <div class="dis-inline-block tbl-btn"><button disabled>Reject</button></div>
                </div>
                <div>
                    <div class="dis-inline-block tbl-btn"><button disabled>Delete GBase Post</button></div>
                </div>
                <div>
                    <div class="dis-inline-block tbl-btn"><button disabled>Print BIR Certificate</button></div>
                </div>
            </div>
        </div>
        @Html.HiddenFor(x => Model.entryID)
        @Html.HiddenFor(x => Model.createdDate)
        @Html.HiddenFor(x => x.payee_type)
    }
    <div id="modalDiv">
        @Html.Partial("ModalGBase")
    </div>
</div>
@*validation message*@
<div id="ValidationSummary" style="display:none" class="">
    @Html.ValidationSummary(false, "", new { @id = "validationSummary" })
</div>
<script>   
    $(document).ready(function () {
        //Enable Cash breakdown button if currency = PHP, disable if not.
        var trs = $("#inputTable").find("tbody").find("tr");
        for (var cnt = 0; cnt < trs.length - 2; cnt++) {
            reqBtnDisable(cnt);
            ddlEnabled(cnt);
        }

        $(function () {
            $(window).on("load", function () {
                var gross = $(".txtGross");
                var credEwt = $(".txtCredEwt");
                var credCash = $(".txtCredCash");

                var grossTotal = 0;
                var ewtSubTotal = 0;
                var cashSubTotal = 0;

                for (var i = 0; i < gross.length; i++) {
                    grossTotal += Number(gross[i].value);
                }

                for (var i = 0; i < credEwt.length; i++) {
                    ewtSubTotal += Number(credEwt[i].value);
                }

                for (var i = 0; i < credCash.length; i++) {
                    cashSubTotal += Number(credCash[i].value);
                }

                $("#grossTotal").val(grossTotal);
                $("#credEwtTotal").val(ewtSubTotal);
                $("#credCashTotal").val(cashSubTotal);
                $("#credTotal").val(Number(ewtSubTotal + cashSubTotal));
            });

            $("#addRow").click(function (e) {
                var itemCount = document.getElementById('inputTable').getElementsByTagName('tbody')[0].childElementCount - 2;
                var tableRef = document.getElementById('inputTable').getElementsByTagName('tbody')[0];

                var acc = @Html.Raw(Json.Serialize(Model.systemValues.acc));
                var dept = @Html.Raw(Json.Serialize(Model.systemValues.dept));
                var curr = @Html.Raw(Json.Serialize(Model.systemValues.currency));
                var ewt = @Html.Raw(Json.Serialize(Model.systemValues.ewt));
                var vat = @Html.Raw(Json.Serialize(Model.systemValues.vat));
                var payee = @Html.Raw(Json.Serialize(Model.systemValues.employees));

                // Insert a row in the table at the last row
                var newRow = tableRef.insertRow(itemCount);
                newRow.id = "item_" + itemCount

                var htmlContent = '<td class="p-b-1 p-t-1"><div class="flex-sb">' +
                    '<input class="input100 w-80" id="EntryCV_' + itemCount + '__GBaseRemarks" name="EntryCV[' + itemCount + '].GBaseRemarks" type="text" value="">' +
                    '<div id="remark_' + itemCount + '"><a href="#" class="gRemarks glyphicon glyphicon-folder-open fs-23 m-r-5"></a></div></div></td>' +
                    '<td><select class="input100 txtPayee" id="EntryCV_' + itemCount + '__dtlSSPayee" name="EntryCV[' + itemCount + '].dtlSSPayee">';

                for (var i = 0; i < payee.length; i++) {
                    htmlContent += '<option value="' + payee[i]["value"] + '">' + payee[i]["text"] + '</option>';
                }

                htmlContent += '</select></td>' +
                    '<td><select class="input100 txtAcc" id="EntryCV_' + itemCount + '__account" name="EntryCV[' + itemCount + '].account">';

                for (var i = 0; i < acc.length; i++) {
                    htmlContent += '<option value="' + acc[i]["accId"] + '" class="' + acc[i]["accCode"] + '">' + acc[i]["accName"] + '</option>';
                }

                htmlContent += '</select></td>' +
                    '<td><select class="input100" id="EntryCV_' + itemCount + '__dept" name="EntryCV[' + itemCount + '].dept">';
                for (var i = 0; i < dept.length; i++) {
                    htmlContent += '<option value="' + dept[i]["value"] + '">' + dept[i]["text"] + '</option>';
                }

                htmlContent += '</select></td>' +
                    '<td style="text-align:center"><input class="chkVat comVar" data-val="true" data-val-required="The chkVat field is required." id="EntryCV_' + itemCount + '__chkVat" name="EntryCV[' + itemCount + '].chkVat" type="checkbox" value="true"></td>' +
                    //'<td><input class="input100 txtVat" data-val="true" data-val-number="The field vat must be a number." data-val-required="The vat field is required." id="EntryCV_' + itemCount + '__vat" name="EntryCV[' + itemCount + '].vat" readonly="true" type="text" value="0"></td>' +
                    '<td><select class="input100 txtVat comVar" data-val="true" data-val-required="The vat field is required." id="EntryCV_' + itemCount + '__vat" name="EntryCV[' + itemCount + '].vat" disabled="disabled">';
                for (var i = 0; i < vat.length; i++) {
                    htmlContent += '<option value="' + vat[i]["value"] + '">' + vat[i]["text"] + '</option>';
                }
                htmlContent += '</select></td>' +
                    '<td style="text-align:center"><input class="chkEwt comVar" data-val="true" data-val-required="The chkEwt field is required." id="EntryCV_' + itemCount + '__chkEwt" name="EntryCV[' + itemCount + '].chkEwt" type="checkbox" value="true" disabled="disabled"></td>' +
                    '<td><select class="input100 txtEwt comVar" data-val="true" data-val-required="The ewt field is required." id="EntryCV_' + itemCount + '__ewt" name="EntryCV[' + itemCount + '].ewt" disabled="disabled">';
                for (var i = 0; i < ewt.length; i++) {
                    htmlContent += '<option value="' + ewt[i]["value"] + '">' + ewt[i]["text"] + '</option>';
                }
                htmlContent += '</select></td>' +
                    '<td><select class="input100 txtccy" data-val="true" data-val-required="The ccy field is required." id="EntryCV_' + itemCount + '__ccy" name="EntryCV[' + itemCount + '].ccy">';
                for (var i = 0; i < curr.length; i++) {
                    htmlContent += '<option value="' + curr[i]["value"] + '">' + curr[i]["text"] + '</option>';
                }
                htmlContent += '</select></td>' +
                    '<td><input class="input100 txtGross" data-val="true" data-val-number="The field debitGross must be a number." data-val-required="The debitGross field is required." id="EntryCV_' + itemCount + '__debitGross" name="EntryCV[' + itemCount + '].debitGross" type="number" readonly="true" min="0" value="0"></td>' +
                    '<td><input class="input100  txtCredEwt" data-val="true" data-val-number="The field credEwt must be a number." data-val-required="The credEwt field is required." id="EntryCV_' + itemCount + '__credEwt" name="EntryCV[' + itemCount + '].credEwt" type="number" readonly="true" min="0" value="0"></td>' +
                    '<td><input class="input100 txtCredCash" data-val="true" data-val-number="The field credCash must be a number." data-val-required="The credCash field is required." id="EntryCV_' + itemCount + '__credCash" name="EntryCV[' + itemCount + '].credCash" type="number" readonly="true" min="0" value="0"></td>' +
                    '<td id="req_' + itemCount + '"><a class="cashBreakdown reqBtn glyphicon glyphicon-list-alt" href="#"></a><input class="hiddenItem" data-val="true" data-val-required="The modalInputFlag field is required." id="EntryCV_' + itemCount + '__modalInputFlag" name="EntryCV[' + itemCount + '].modalInputFlag" type="hidden" value="0"><input id="EntryCV_' + itemCount + '__screenCode" name="EntryCV[' + itemCount + '].screenCode" type="hidden" value="SS"><input class="hiddenCcyAbbrev" id="EntryCV_' + itemCount + '__ccyAbbrev" name="EntryCV[' + itemCount + '].ccyAbbrev" type="hidden" value=""><div id="divCashBD_' + itemCount + '"></div></td>';

                newRow.innerHTML = htmlContent;
                reqBtnDisable(itemCount);
            });

            //Cash Breakdown Modal
            $("table").on("click", ".cashBreakdown", function (e) {
                e.stopImmediatePropagation();

                var pNode = $(this.parentNode)[0].parentNode;
                var id = pNode.id;
                var modalDivBody = $('.modal-body');
                var modalDivFooter = $('.modal-footer').find("#add_row_btn").remove();;

                $('.modal-header').find('.modal-title').remove();
                $('.modal-header').append('<h4 class="modal-title">Cash Breakdown</h4>');

                modalDivBody.load("@Url.Action("EntryExpenseCashBreakdown", "Modal")", {
                    "id": id,
                    "vendor": $("#" + pNode.id).find(".txtPayee option:selected").text(),
                    "account": $("#" + pNode.id).find(".txtAcc option:selected").text(),
                    "amount": $("#" + pNode.id).find(".txtGross").val(),
                    "screencode": $("#" + pNode.id).find(".hiddenScreencode").val()
                }, function (response, status, xhr) {
                    if (status == "error") {
                        alert("Something went wrong.");
                    } else {
                        if ($("#parentIdCashBreakdown") != null) {
                            var tableRef = document.getElementById('modalTable').getElementsByTagName('tbody')[0];
                            //var tableRef = $("#modalTable").children("tbody");
                            var grossAmount = Number($("#" + id).find(".txtGross").val());
                        }
                    }
                });

                $('#myModal').modal('show');
            });

            //Enable Cash breakdown button if currency = PHP, disable if not.
            $("table").on("change", ".txtccy", function (e) {
                reqBtnDisable($(this.parentNode)[0].parentNode.id.replace('item_', ''));
            });

            //Get EWT and VAT of selected vendor.
            $("table").on("change", ".txtPayee", function (e) {
                var vendorid = $(this).val();
                var pNode = $(this.parentNode)[0].parentNode;
                var ddlVAT = $('#' + pNode.id).find('.txtVat');
                var ddlEWT = $('#' + pNode.id).find('.txtEwt');

                $.getJSON('getVendorVatList', { vendorID: vendorid }, function (data) {
                    ddlVAT.empty();
                    if (data.length == 0) {
                        ddlVAT.append($('<option/>', {
                            value: 0,
                            text: "N/A"
                        }));
                    }
                    $.each(data, function (index, itemData) {
                        ddlVAT.append($('<option/>', {
                            value: itemData["value"],
                            text: itemData["text"]
                        }));
                    });
                });

                $.getJSON('getVendorTRList', { vendorID: vendorid }, function (data) {
                    ddlEWT.empty();
                    if (data.length == 0) {
                        ddlEWT.append($('<option/>', {
                            value: 0,
                            text: "N/A"
                        }));
                    }
                    $.each(data, function (index, itemData) {
                        ddlEWT.append($('<option/>', {
                            value: itemData["value"],
                            text: itemData["text"]
                        }));
                    });
                });               
            });
        });
    });
</script>
<script type="text/javascript">
    function tblBuilder(tableRef, begMonth, day, duration, grossAmount) {
        var dvdAmount = roundNumber((grossAmount / duration), 2);

        var now = new Date();
        var Year = now.getFullYear();

        for (var i = 0; i < duration; i++) {
            var newRow = tableRef.insertRow(i);
            var cellDate = newRow.insertCell(0);
            var cellAmount = newRow.insertCell(1);

            var month = Number(begMonth) + Number(i);

            cellDate.innerHTML = new Date(Year, month, day).toDateString();
            cellAmount.innerHTML = dvdAmount;
        }
    };

    function roundNumber(num, scale) {
        if (!("" + num).includes("e")) {
            return +(Math.round(num + "e+" + scale) + "e-" + scale);
        } else {
            var arr = ("" + num).split("e");
            var sig = ""
            if (+arr[1] + scale > 0) {
                sig = "+";
            }
            return +(Math.round(+arr[0] + "e" + sig + (+arr[1] + scale)) + "e-" + scale);
        }
    };
    function round(value, exp) {
        if (typeof exp === 'undefined' || +exp === 0)
            return Math.round(value);

        value = +value;
        exp = +exp;

        if (isNaN(value) || !(typeof exp === 'number' && exp % 1 === 0))
            return NaN;

        // Shift
        value = value.toString().split('e');
        value = Math.round(+(value[0] + 'e' + (value[1] ? (+value[1] + exp) : exp)));

        // Shift back
        value = value.toString().split('e');
        return +(value[0] + 'e' + (value[1] ? (+value[1] - exp) : -exp));
    };

    function reqBtnDisable(idx){
        if ($('#EntryCV_' + idx + '__ccy option:selected').text() != "PHP") {
            $('#req_' + idx).find('.reqBtn').css("pointer-events", "none");
            $('#req_' + idx).find('.hiddenCcyAbbrev').val("");
        } else {
            $('#req_' + idx).find('.reqBtn').css("pointer-events", "auto");
            $('#req_' + idx).find('.hiddenCcyAbbrev').val("PHP");
        }
    };

    function ddlEnabled(idx) {
        if ($('#item_' + idx).find('.chkVat').is(':checked')) {
            $('#item_' + idx).find('.txtVat').removeAttr('disabled');
        }

        if ($('#item_' + idx).find('.chkEwt').is(':checked')) {
            $('#item_' + idx).find('.txtEwt').removeAttr('disabled');
        }
    };
</script>
<script type="text/javascript" src="~/js/EntryScripts.js"></script>
