
@{
    ViewData["Title"] = "Entry_NC";

    var uid = ViewBag.userID;
}
@using ExpenseProcessingSystem.ViewModels.Entry
@using ExpenseProcessingSystem.ConstantData
@model EntryNCViewModelList

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<div class="tabContent">
    <input id="_screen" type="hidden" value="nc" />
    <div id="tbl-lbl" class="flex-sb">
        <div class="dis-inline-block w-20">Date: <p class="dis-inline-block w-70">@Html.DisplayFor(model => model.expenseDate, new { @readonly = "true", @class = "input w-97" })</p> </div>
    </div>
    <div id="tbl-lbl">
        <div class="dis-inline-block"><p>Category of Entries:</p></div>
        <div class="dis-inline-block">
            @Html.DisplayFor(x=> x.EntryNC.NC_Category_Name)
            @*@Html.DropDownListFor(m => m.category_of_entry, Model.systemValues.category_of_entries, new { id = "categoryName" })*@
        </div>
    </div>

    <div id="nc_container" class="border-solid">
        <table id="NCPartialTbl" class="table table-bordered voucher-tbl" style="background-color: #fff; text-align: center">
            <thead>
                <tr>
                    <th rowspan="1" colspan="3">Remarks</th>
                    <th rowspan="2" colspan="3">Accounts</th>
                    <th rowspan="2">Inter-Rate</th>
                    <th rowspan="2">CCY</th>
                    <th rowspan="2">Debit</th>
                    <th rowspan="2">CCY</th>
                    <th rowspan="2">Credit</th>
                </tr>
                <tr>
                    <th colspan="1">Description</th>
                    <th colspan="2">Period</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.EntryNC != null && Model.EntryNC.ExpenseEntryNCDtls.Count > 0)
                {
                    @for (int i = 0; i < Model.EntryNC.ExpenseEntryNCDtls.Count; i++)
                    {
                        <tr id="item_@i" class="">
                            <td>@Html.DisplayFor(modelItem => Model.EntryNC.ExpenseEntryNCDtls[i].ExpNCDtl_Remarks_Desc, new { @readonly = "true" })</td>
                            <td colspan="2">
                                @Html.DisplayFor(modelItem => Model.EntryNC.ExpenseEntryNCDtls[i].ExpNCDtl_Remarks_Period, new { @type = "date", @class = "" })
                            </td>

                            <td colspan="3">@Html.DisplayFor(modelItem => Model.EntryNC.ExpenseEntryNCDtls[i].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Acc_Name, new { @readonly = "true", @class = "w-full" })</td>
                            <td>@Html.DisplayFor(modelItem => Model.EntryNC.ExpenseEntryNCDtls[i].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Inter_Rate, new { @class = "ncVar", @disabled = "disabled", @readonly = "true" })</td>
                            @if (Model.EntryNC.ExpenseEntryNCDtls[i].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Type_ID == GlobalSystemValues.NC_DEBIT)
                            {

                                <td>@Html.DisplayFor(modelItem => Model.EntryNC.ExpenseEntryNCDtls[i].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Curr_Name, new { @readonly = "true" })</td>
                                <td>@Html.DisplayFor(modelItem => Model.EntryNC.ExpenseEntryNCDtls[i].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Amount, new { @class = "ncVar" })</td>
                                <td></td>
                                <td></td>
                            }
                            else if (Model.EntryNC.ExpenseEntryNCDtls[i].ExpenseEntryNCDtlAccs.First().ExpNCDtlAcc_Type_ID == GlobalSystemValues.NC_CREDIT ||
                                    Model.EntryNC.ExpenseEntryNCDtls[i].ExpenseEntryNCDtlAccs.First().ExpNCDtlAcc_Type_ID == GlobalSystemValues.NC_EWT)
                            {
                                <td></td>
                                <td></td>
                                <td>@Html.DisplayFor(modelItem => Model.EntryNC.ExpenseEntryNCDtls[i].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Curr_Name, new { @readonly = "true" })</td>
                                <td>@Html.DisplayFor(modelItem => Model.EntryNC.ExpenseEntryNCDtls[i].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Amount, new { @class = "ncVar", @readonly = "true" })</td>
                            }
                            @Html.HiddenFor(x => x.EntryNC.ExpenseEntryNCDtls[i].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Acc_ID)
                            @Html.HiddenFor(x => x.EntryNC.ExpenseEntryNCDtls[i].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Curr_ID)
                            @Html.HiddenFor(x => x.EntryNC.ExpenseEntryNCDtls[i].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Type_ID)
                        </tr>

                        @for (int j = 1; j < Model.EntryNC.ExpenseEntryNCDtls[i].ExpenseEntryNCDtlAccs.Count; j++)
                        {
                            <tr id="item_@i" class="">
                                <td></td>
                                <td colspan="2"></td>
                                <td colspan="3">@Html.DisplayFor(modelItem => Model.EntryNC.ExpenseEntryNCDtls[i].ExpenseEntryNCDtlAccs[j].ExpNCDtlAcc_Acc_Name, new { @readonly = "true", @class = "w-full" })</td>
                                <td></td>
                                @if (Model.EntryNC.ExpenseEntryNCDtls[i].ExpenseEntryNCDtlAccs[j].ExpNCDtlAcc_Type_ID == GlobalSystemValues.NC_DEBIT)
                                {

                                    <td>@Html.DisplayFor(modelItem => Model.EntryNC.ExpenseEntryNCDtls[i].ExpenseEntryNCDtlAccs[j].ExpNCDtlAcc_Curr_Name, new { @readonly = "true" })</td>
                                    <td>@Html.DisplayFor(modelItem => Model.EntryNC.ExpenseEntryNCDtls[i].ExpenseEntryNCDtlAccs[j].ExpNCDtlAcc_Amount, new { @class = "ncVar" })</td>
                                    <td></td>
                                    <td></td>
                                }
                                else if (Model.EntryNC.ExpenseEntryNCDtls[i].ExpenseEntryNCDtlAccs[j].ExpNCDtlAcc_Type_ID == GlobalSystemValues.NC_CREDIT ||
                                    Model.EntryNC.ExpenseEntryNCDtls[i].ExpenseEntryNCDtlAccs[j].ExpNCDtlAcc_Type_ID == GlobalSystemValues.NC_EWT)
                                {
                                    <td></td>
                                    <td></td>
                                    <td>@Html.DisplayFor(modelItem => Model.EntryNC.ExpenseEntryNCDtls[i].ExpenseEntryNCDtlAccs[j].ExpNCDtlAcc_Curr_Name, new { @readonly = "true" })</td>
                                    <td>@Html.DisplayFor(modelItem => Model.EntryNC.ExpenseEntryNCDtls[i].ExpenseEntryNCDtlAccs[j].ExpNCDtlAcc_Amount, new { @class = "ncVar", @readonly = "true" })</td>
                                }
                            </tr>

                            @Html.HiddenFor(x => x.EntryNC.ExpenseEntryNCDtls[i].ExpenseEntryNCDtlAccs[j].ExpNCDtlAcc_Acc_ID)
                            @Html.HiddenFor(x => x.EntryNC.ExpenseEntryNCDtls[i].ExpenseEntryNCDtlAccs[j].ExpNCDtlAcc_Curr_ID)
                            @Html.HiddenFor(x => x.EntryNC.ExpenseEntryNCDtls[i].ExpenseEntryNCDtlAccs[j].ExpNCDtlAcc_Type_ID)
                        }
                        <tr class="NC_spacing_row"><td colspan="11"></td></tr>
                    }
                }
                @Html.HiddenFor(x => x.EntryNC.NC_Category_ID)
                @Html.HiddenFor(x => x.category_of_entry)
                @Html.HiddenFor(x => x.expenseDate)
            </tbody>
        </table>

        @if (Model.EntryNC.NC_Category_ID == GlobalSystemValues.NC_LS_PAYROLL)
        {
            <table class="table table-bordered voucher-tbl m-t-20" style="background-color: #fafafa; border: 2px solid #ccc !important">
                <tr style="border-bottom: 2px solid #ccc !important;">
                    <td colspan="2">Total</td>
                    <td colspan="5"></td>
                    <td colspan="1" class="border-solid NC_readonly_row">@Html.DisplayFor(x => x.EntryNC.NC_DebitAmt, new { @readonly = "true" })</td>
                    <td colspan="1" class="border-solid"></td>
                    <td colspan="1" class="border-solid NC_readonly_row">@Html.DisplayFor(x => x.EntryNC.NC_CredAmt, new { @readonly = "true" })</td>
                </tr>
                <tr>
                    <td colspan="7"></td>
                    <td colspan="1">Debit</td>
                    <td colspan="1"></td>
                    <td colspan="1">Credit</td>
                </tr>
                <tr>
                    <td colspan="2">Balance Checker</td>
                    <td colspan="1"></td>
                    <td colspan="3">Computer Suspense</td>
                    <td colspan="1"></td>
                    <td colspan="1" class="border-solid NC_readonly_row">@Html.DisplayFor(x => x.EntryNC.NC_CS_DebitAmt, new { @readonly = "true" })</td>
                    <td colspan="1"></td>
                    <td colspan="1" class="border-solid NC_readonly_row">@Html.DisplayFor(x => x.EntryNC.NC_CS_CredAmt, new { @readonly = "true" })</td>
                </tr>
                <tr>
                    <td colspan="2">Total</td>
                    <td colspan="5"></td>
                    <td colspan="3" class="border-solid NC_readonly_row">@Html.DisplayFor(x => x.EntryNC.NC_CS_TotalAmt, new { @readonly = "true" })</td>
                </tr>
                @Html.HiddenFor(x => x.EntryNC.NC_IE_DebitAmt)
                @Html.HiddenFor(x => x.EntryNC.NC_IE_CredAmt)
                @Html.HiddenFor(x => x.EntryNC.NC_IE_TotalAmt)
                @Html.HiddenFor(x => x.EntryNC.NC_TotalAmt)
            </table>
        }
        else if (Model.EntryNC.NC_Category_ID == GlobalSystemValues.NC_JS_PAYROLL)
        {
            <table class="table table-bordered voucher-tbl m-t-20" style="background-color: #fafafa; border: 2px solid #ccc !important">
                <tr>
                    <td colspan="7"></td>
                    <td colspan="1">Debit</td>
                    <td colspan="1"></td>
                    <td colspan="1">Credit</td>
                </tr>
                <tr>
                    <td colspan="2">Balance Checker</td>
                    <td colspan="1"></td>
                    <td colspan="3">Computer Suspense</td>
                    <td colspan="1"></td>
                    <td colspan="1" class="border-solid NC_readonly_row">@Html.DisplayFor(x => x.EntryNC.NC_CS_DebitAmt, new { @readonly = "true" })</td>
                    <td colspan="1"></td>
                    <td colspan="1" class="border-solid NC_readonly_row">@Html.DisplayFor(x => x.EntryNC.NC_CS_CredAmt, new { @readonly = "true" })</td>
                </tr>
                <tr>
                    <td colspan="2">Total</td>
                    <td colspan="5"></td>
                    <td colspan="3" class="border-solid NC_readonly_row">@Html.DisplayFor(x => x.EntryNC.NC_CS_TotalAmt, new { @readonly = "true" })</td>
                </tr>
                <tr>
                    <td colspan="7"></td>
                    <td colspan="1">Debit</td>
                    <td colspan="1"></td>
                    <td colspan="1">Credit</td>
                </tr>
                <tr>
                    <td colspan="2">Balance Checker</td>
                    <td colspan="1"></td>
                    <td colspan="3">Inter-Entity Liability</td>
                    <td colspan="1"></td>
                    <td colspan="1" class="border-solid NC_readonly_row">@Html.DisplayFor(x => x.EntryNC.NC_IE_DebitAmt, new { @readonly = "true" })</td>
                    <td colspan="1"></td>
                    <td colspan="1" class="border-solid NC_readonly_row">@Html.DisplayFor(x => x.EntryNC.NC_IE_CredAmt, new { @readonly = "true" })</td>
                </tr>
                <tr>
                    <td colspan="2">Total</td>
                    <td colspan="5"></td>
                    <td colspan="3" class="border-solid NC_readonly_row">@Html.DisplayFor(x => x.EntryNC.NC_IE_TotalAmt, new { @readonly = "true" })</td>
                </tr>
            </table>
            @Html.HiddenFor(x => x.EntryNC.NC_DebitAmt)
            @Html.HiddenFor(x => x.EntryNC.NC_CredAmt)
            @Html.HiddenFor(x => x.EntryNC.NC_TotalAmt)
        }
        else if (Model.EntryNC.NC_Category_ID == GlobalSystemValues.NC_PETTY_CASH_REPLENISHMENT
            || Model.EntryNC.NC_Category_ID == GlobalSystemValues.NC_RETURN_OF_JS_PAYROLL)
        {
            <table class="table table-bordered voucher-tbl" style="background-color: #fafafa; border: 2px solid #ccc !important; margin-bottom: 20px!important">
                @if (!(Model.EntryNC.NC_Category_ID == GlobalSystemValues.NC_RETURN_OF_JS_PAYROLL))
                {
                    <tr style="border-bottom: 2px solid #ccc !important;">
                        <td colspan="2">Total</td>
                        <td colspan="6"></td>
                        <td colspan="1" class="border-solid NC_readonly_row">@Html.DisplayFor(x => x.EntryNC.NC_DebitAmt, new { @readonly = "true" })</td>
                        <td colspan="1" class="border-solid"></td>
                        <td colspan="1" class="border-solid NC_readonly_row">@Html.DisplayFor(x => x.EntryNC.NC_CredAmt, new { @readonly = "true" })</td>
                    </tr>
                    <tr class="NC_spacing_row"><td colspan="11"></td></tr>
                }
                else
                {
                    @Html.HiddenFor(x => x.EntryNC.NC_DebitAmt)
                    @Html.HiddenFor(x => x.EntryNC.NC_CredAmt)
                    @Html.HiddenFor(x => x.EntryNC.NC_TotalAmt)
                }
                <tr>
                    <td colspan="11"><label class="float-l">CDD Instruction Sheet</label></td>
                </tr>
                <tr id="NC_PCR1">
                    <td>@Html.DisplayFor(modelItem => Model.EntryNC.ExpenseEntryNCDtls_CDD[0].ExpNCDtl_Remarks_Desc, new { @readonly = "true" })</td>
                    <td colspan="2">
                        @Html.EditorFor(modelItem => Model.EntryNC.ExpenseEntryNCDtls_CDD[0].ExpNCDtl_Remarks_Period, new { @type = "date", @class = "hidden" })
                    </td>

                    <td colspan="3">@Html.DisplayFor(modelItem => Model.EntryNC.ExpenseEntryNCDtls_CDD[0].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Acc_Name, new { @readonly = "true", @class = "w-full" })</td>
                    <td class="voucher-inter">@Html.DisplayFor(modelItem => Model.EntryNC.ExpenseEntryNCDtls_CDD[0].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Inter_Rate, new { @class = "ncVar", @disabled = "disabled", @readonly = "true" })</td>
                    @if (Model.EntryNC.ExpenseEntryNCDtls_CDD[0].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Type_ID == GlobalSystemValues.NC_DEBIT)
                    {
                        <td>@Html.DisplayFor(modelItem => Model.EntryNC.ExpenseEntryNCDtls_CDD[0].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Curr_Name, new { @readonly = "true" })</td>
                        <td class="" id="">@Html.DisplayFor(modelItem => Model.EntryNC.ExpenseEntryNCDtls_CDD[0].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Amount, new { @class = "ncVar", @readonly = "true" })</td>
                        <td></td>
                        <td></td>
                    }
                    else if (Model.EntryNC.ExpenseEntryNCDtls_CDD[0].ExpenseEntryNCDtlAccs.First().ExpNCDtlAcc_Type_ID == GlobalSystemValues.NC_CREDIT ||
                        Model.EntryNC.ExpenseEntryNCDtls_CDD[0].ExpenseEntryNCDtlAccs.First().ExpNCDtlAcc_Type_ID == GlobalSystemValues.NC_EWT)
                    {
                        <td></td>
                        <td></td>
                        <td>@Html.DisplayFor(modelItem => Model.EntryNC.ExpenseEntryNCDtls_CDD[0].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Curr_Name, new { @readonly = "true" })</td>
                        <td class="" id="">@Html.DisplayFor(modelItem => Model.EntryNC.ExpenseEntryNCDtls_CDD[0].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Amount, new { @class = "ncVar", @readonly = "true" })</td>
                    }
                    @Html.HiddenFor(x => x.EntryNC.ExpenseEntryNCDtls_CDD[0].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Acc_ID)
                    @Html.HiddenFor(x => x.EntryNC.ExpenseEntryNCDtls_CDD[0].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Curr_ID)
                    @Html.HiddenFor(x => x.EntryNC.ExpenseEntryNCDtls_CDD[0].ExpenseEntryNCDtlAccs[0].ExpNCDtlAcc_Type_ID)
                </tr>

                @for (int j = 1; j < Model.EntryNC.ExpenseEntryNCDtls_CDD[0].ExpenseEntryNCDtlAccs.Count; j++)
                {
                <tr id="NC_PCR2">
                    <td></td>
                    <td colspan="2"></td>
                    <td colspan="3">@Html.DisplayFor(modelItem => Model.EntryNC.ExpenseEntryNCDtls_CDD[0].ExpenseEntryNCDtlAccs[j].ExpNCDtlAcc_Acc_Name, new { @readonly = "true", @class = "w-full" })</td>
                    <td></td>
                    @if (Model.EntryNC.ExpenseEntryNCDtls_CDD[0].ExpenseEntryNCDtlAccs[j].ExpNCDtlAcc_Type_ID == GlobalSystemValues.NC_DEBIT)
                    {
                        <td>@Html.DisplayFor(modelItem => Model.EntryNC.ExpenseEntryNCDtls_CDD[0].ExpenseEntryNCDtlAccs[j].ExpNCDtlAcc_Curr_Name, new { @readonly = "true" })</td>
                        <td class="" id="">@Html.DisplayFor(modelItem => Model.EntryNC.ExpenseEntryNCDtls_CDD[0].ExpenseEntryNCDtlAccs[j].ExpNCDtlAcc_Amount, new { @class = "ncVar", @readonly = "true" })</td>
                        <td></td>
                        <td></td>
                    }
                    else if (Model.EntryNC.ExpenseEntryNCDtls_CDD[0].ExpenseEntryNCDtlAccs[j].ExpNCDtlAcc_Type_ID == GlobalSystemValues.NC_CREDIT ||
                        Model.EntryNC.ExpenseEntryNCDtls_CDD[0].ExpenseEntryNCDtlAccs[j].ExpNCDtlAcc_Type_ID == GlobalSystemValues.NC_EWT)
                    {
                        <td></td>
                        <td></td>
                        <td>@Html.DisplayFor(modelItem => Model.EntryNC.ExpenseEntryNCDtls_CDD[0].ExpenseEntryNCDtlAccs[j].ExpNCDtlAcc_Curr_Name, new { @readonly = "true" })</td>
                        <td>@Html.DisplayFor(modelItem => Model.EntryNC.ExpenseEntryNCDtls_CDD[0].ExpenseEntryNCDtlAccs[j].ExpNCDtlAcc_Amount, new { @class = "ncVar", @readonly = "true" })</td>
                    }
                    @Html.HiddenFor(x => x.EntryNC.ExpenseEntryNCDtls_CDD[0].ExpenseEntryNCDtlAccs[j].ExpNCDtlAcc_Acc_ID)
                    @Html.HiddenFor(x => x.EntryNC.ExpenseEntryNCDtls_CDD[0].ExpenseEntryNCDtlAccs[j].ExpNCDtlAcc_Curr_ID)
                    @Html.HiddenFor(x => x.EntryNC.ExpenseEntryNCDtls_CDD[0].ExpenseEntryNCDtlAccs[j].ExpNCDtlAcc_Type_ID)
                </tr>
                }
                @Html.HiddenFor(x => x.EntryNC.NC_IE_DebitAmt)
                @Html.HiddenFor(x => x.EntryNC.NC_IE_CredAmt)
                @Html.HiddenFor(x => x.EntryNC.NC_IE_TotalAmt)
                @Html.HiddenFor(x => x.EntryNC.NC_CS_DebitAmt)
                @Html.HiddenFor(x => x.EntryNC.NC_CS_CredAmt)
                @Html.HiddenFor(x => x.EntryNC.NC_CS_TotalAmt)
            </table>
        }
        else
        {
            <table class="table table-bordered voucher-tbl m-t-20" style="background-color: #fafafa; border: 2px solid #ccc !important">
                <tr style="border-bottom: 2px solid #ccc !important;">
                    <td colspan="2">Total</td>
                    <td colspan="5"></td>
                    <td colspan="1" class="border-solid NC_readonly_row">@Html.DisplayFor(x => x.EntryNC.NC_DebitAmt, new { @readonly = "true" })</td>
                    <td colspan="1" class="border-solid"></td>
                    <td colspan="1" class="border-solid NC_readonly_row">@Html.DisplayFor(x => x.EntryNC.NC_CredAmt, new { @readonly = "true" })</td>
                </tr>
                @Html.HiddenFor(x => x.EntryNC.NC_IE_DebitAmt)
                @Html.HiddenFor(x => x.EntryNC.NC_IE_CredAmt)
                @Html.HiddenFor(x => x.EntryNC.NC_IE_TotalAmt)
                @Html.HiddenFor(x => x.EntryNC.NC_CS_DebitAmt)
                @Html.HiddenFor(x => x.EntryNC.NC_CS_CredAmt)
                @Html.HiddenFor(x => x.EntryNC.NC_CS_TotalAmt)
                @Html.HiddenFor(x => x.EntryNC.NC_TotalAmt)
            </table>
        }
    </div>
   
    <div id="entry-status" class="m-t-10 m-b-10">
        <div class="dis-inline-block"><label>Status: </label></div>
        <div class="dis-inline-block">@Html.DisplayFor(x => x.status, new { @readonly = "true", @class = "input" })</div>
        <div class="dis-inline-block"><label>Approver:</label></div>
        <div class="dis-inline-block">@Html.DisplayFor(model => model.approver, new { @readonly = "true", @class = "input" })</div>
        <div class="dis-inline-block"><label>Verifier:</label></div>
        <div class="dis-inline-block">
            <p class="dis-inline-block">@Html.DisplayFor(model => model.verifier_1, new { @readonly = "true", @class = "m-l-5 input" })</p>
            <p class="dis-inline-block">@Html.DisplayFor(model => model.verifier_2, new { @readonly = "true", @class = "m-l-5 input" })</p>
        </div>
    </div>
    <div id="entry-controls" class="m-b-10">
        @using (Html.BeginForm("VerAppModNC", "Home", FormMethod.Post, new { @class = "validate-form" }))
        {
            @Html.HiddenFor(x => Model.entryID)
            @Html.HiddenFor(x => Model.EntryNC.NC_Category_ID)
            <div class="flex-sb">
                <div>
                    <div class="dis-inline-block tbl-btn"><button disabled>Save</button></div>

                    @if (int.Parse(HttpContextAccessor.HttpContext.Session.GetString("UserID")) == Model.maker)
                    {
                        @if ((Model.statusID == GlobalSystemValues.STATUS_APPROVED) || (Model.statusID == GlobalSystemValues.STATUS_REJECTED) || (Model.statusID == GlobalSystemValues.STATUS_REVERSED))
                        {
                            <div class="dis-inline-block tbl-btn"><button disabled>Delete</button></div>
                            <div class="dis-inline-block tbl-btn"><button disabled>Modify</button></div>
                        }
                        else
                        {
                            <div class="dis-inline-block tbl-btn"><button value="Delete" name="command">Delete</button></div>
                            <div class="dis-inline-block tbl-btn"><button value="Modify" name="command">Modify</button></div>
                        }
                    }
                    else
                    {
                        <div class="dis-inline-block tbl-btn"><button disabled>Delete</button></div>
                        <div class="dis-inline-block tbl-btn"><button disabled>Modify</button></div>
                    }
                </div>

                @if ((Model.statusID == GlobalSystemValues.STATUS_APPROVED))
                {
                    <div>
                        <div class="dis-inline-block tbl-btn"><button value="Reversal" name="command">Create Reversal Entry</button></div>
                    </div>
                    if (Model.EntryNC.NC_Category_ID != GlobalSystemValues.NC_PETTY_CASH_REPLENISHMENT)
                    {
                        <div>
                            <div class="dis-inline-block tbl-btn m-l-41"><button disabled>Print CDD Instruction Sheet</button></div>
                        </div>
                    }
                    else
                    {
                        <div>
                            <div class="dis-inline-block tbl-btn m-l-41"><button value="PrintCDD" name="command">Print CDD Instruction Sheet</button></div>
                        </div>
                    }
                }
                else if (Model.statusID == GlobalSystemValues.STATUS_REJECTED)
                {
                    <div>
                        <div class="dis-inline-block tbl-btn"><button disabled>Create Reversal Entry</button></div>
                    </div>
                    <div>
                        <div class="dis-inline-block tbl-btn m-l-41"><button disabled>Print CDD Instruction Sheet</button></div>
                    </div>
                }
                else if (Model.statusID == GlobalSystemValues.STATUS_REVERSED)
                {
                    <div>
                        <div class="dis-inline-block tbl-btn"><button disabled>Create Reversal Entry</button></div>
                    </div>
                    <div>
                        <div class="dis-inline-block tbl-btn m-l-41"><button value="PrintCDD" name="command">Print CDD Instruction Sheet</button></div>
                    </div>
                }
                else
                {
                    <div>
                        @if (Model.statusID == GlobalSystemValues.STATUS_POSTED && Model.lastUpdatedDate.Date < DateTime.Now.Date)
                        {
                            if (int.Parse(HttpContextAccessor.HttpContext.Session.GetString("UserID")) == Model.maker
                                || int.Parse(HttpContextAccessor.HttpContext.Session.GetString("UserID")) == Model.verifier_1_id
                                || int.Parse(HttpContextAccessor.HttpContext.Session.GetString("UserID")) == Model.verifier_2_id
                                || int.Parse(HttpContextAccessor.HttpContext.Session.GetString("UserID")) == Model.approver_id)
                            {
                                <div class="dis-inline-block tbl-btn"><button id="reversal_entry" value="Reversal" name="command">Create Reversal Entry</button></div>
                            }
                            else
                            {
                                <div class="dis-inline-block tbl-btn"><button id="reversal_entry" disabled>Create Reversal Entry</button></div>
                            }
                        }
                        else
                        {
                            <div class="dis-inline-block tbl-btn"><button id="reversal_entry" disabled>Create Reversal Entry</button></div>
                        }
                    </div>
                    <div>
                        <div class="dis-inline-block tbl-btn m-l-41"><button disabled>Print CDD Instruction Sheet</button></div>
                    </div>
                }

            </div>
            <div class="flex-sb">
                <div>
                    @if (HttpContextAccessor.HttpContext.Session.GetString("accessType") == GlobalSystemValues.ROLE_MAKER)
                    {
                        <div class="dis-inline-block tbl-btn"><button disabled>Approve/Verify</button></div>
                    }
                    else
                    {
                        if (Model.statusID != GlobalSystemValues.STATUS_PENDING &&
                            Model.statusID != GlobalSystemValues.STATUS_VERIFIED)
                        {
                            <div class="dis-inline-block tbl-btn"><button disabled>Approve/Verify</button></div>
                            <div class="dis-inline-block tbl-btn"><button disabled>Reject</button></div>
                        }
                        else
                        {
                            <div class="dis-inline-block tbl-btn"><button value="@HttpContextAccessor.HttpContext.Session.GetString("accessType")" name="command">Approve/Verify</button></div>
                            <div class="dis-inline-block tbl-btn"><button value="Reject" name="command">Reject</button></div>
                        }
                    }
                </div>
                <div>
                </div>
                <div>
                </div>
            </div>
        }
    </div>
    <div id="modalDiv">
        @Html.Partial("ModalPartial")
    </div>
</div>

<script type="text/javascript" src="~/js/EntryScripts.js"></script>
<script type="text/javascript">
    $(function () {

        //$(".printCDD_IS").click(function (e) {
        //    e.preventDefault();

        //    window.location.href = "/Home/CDD_IS_NC_PCR";
        //});
        $(window).on("load", function () {
            if (@ViewBag.Success == 1) {
                alert("Entry Approved");
            } else if (@ViewBag.Success == 0){
                alert("Entry Failed");
            }
        });
    });
</script>