@{
    ViewData["Title"] = "Entry_CV";
}
@using ExpenseProcessingSystem.ViewModels
@model EntryCVViewModelList
@inject IJsonHelper Json;

<div class="tabContent">
    <input id="_screen" type="hidden" value="cv" />
    @using (Html.BeginForm("AddNewCV", "Home", FormMethod.Post, new { @class = "validate-form" , @id = "inputForm"}))
    {
        @Html.HiddenFor(model=>model.maker);
        <div id="tbl-lbl" class="flex-sb">
            <div class="dis-inline-block w-20">Date: <p class="dis-inline-block w-70">@Html.EditorFor(m => m.expenseDate, new { htmlAttributes = new { @class = "input w-97", @type = "date", @readonly = "readonly", @id="entryDate" } })</p> </div>
            <div class="dis-inline-block"><p class="dis-inline-block">@Html.TextBoxFor(model => model.expenseYear, new { @readonly = "true", @class = "input" })</p> - <p class="dis-inline-block">@Html.TextBoxFor(model => model.expenseId, new { @readonly = "true", @class = "input", @id="voucherNo" })</p></div>
            <div class="dis-inline-block float-r">Check No : <p class="dis-inline-block">@Html.TextBoxFor(model => model.checkNo, new { @readonly = "true", @class = "input", @id = "checkNo" })</p></div>
        </div>
        <div id="tbl-lbl">
            <div class="dis-inline-block"><p>Payee:</p></div>
            <div class="dis-inline-block">
                @Html.DropDownListFor(m => m.vendor, new SelectList(Model.systemValues.vendors, "Value", "Text", Model.systemValues.vendors.SelectedValue), new { @id = "vendorName" })
            </div>
        </div>
        <div class="flex-c">
            <table class="table table-bordered table-striped voucher-tbl w-97" id="inputTable">
                <colgroup>
                    <col style="width:20%;" />
                    <col style="width:15%;" />
                    <col style="width:3%;" />
                    <col style="width:10%" />
                    <col style="width:2%;" />
                    <col style="width:5%;" />
                    <col style="width:2%;" />
                    <col style="width:5%;" />
                    <col style="width:7%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:2%;" />
                </colgroup>
                <thead>
                    <tr>
                        <th rowspan="2">Gbase Remarks</th>
                        <th rowspan="2">Account</th>
                        <th rowspan="2">FBT</th>
                        <th rowspan="2">Department</th>
                        <th colspan="2" rowspan="2">VAT</th>
                        <th colspan="2" rowspan="2">EWT</th>
                        <th rowspan="2">Currency</th>
                        <th>Debit</th>
                        <th colspan="2">Credit</th>
                    </tr>
                    <tr>
                        <th scope="col">Gross Amount</th>
                        <th scope="col">EWT Amount</th>
                        <th scope="col">Cash</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.EntryCV.Count; i++)
                    {
                    <tr id="item_@i">
                        <td class="p-b-1 p-t-1">
                            <div class="flex-sb">
                                @Html.TextBoxFor(x => Model.EntryCV[i].GBaseRemarks, new { @class = "input100 w-80" })
                                <div id="remark_@i">
                                    <a href="#" class="gRemarks glyphicon glyphicon-folder-open fs-23 m-r-5"></a>
                                    @for (int y = 0; y < Model.EntryCV[i].gBaseRemarksDetails.Count(); y++)
                                    {
                                        @Html.HiddenFor(x => Model.EntryCV[i].gBaseRemarksDetails[y].docType);
                                        @Html.HiddenFor(x => Model.EntryCV[i].gBaseRemarksDetails[y].desc);
                                        @Html.HiddenFor(x => Model.EntryCV[i].gBaseRemarksDetails[y].invNo);
                                        @Html.HiddenFor(x => Model.EntryCV[i].gBaseRemarksDetails[y].amount);
                                    }
                                </div>
                            </div>
                        </td>
                        <td>
                            @*@Html.DropDownListFor(x => Model.EntryCV[i].account, new SelectList(Model.systemValues.acc, "accId", "accName", Model.systemValues.acc.Where(x=> x.accId == Model.EntryCV[i].account)), new { @class = "input100 txtAcc" })*@
                            <select id="@Html.IdFor(x => Model.EntryCV[i].account)" class="input100 txtAcc" name="@Html.NameFor(x => Model.EntryCV[i].account)">
                                @foreach (var groepModel in Model.systemValues.acc)
                                {
                                    if (@groepModel.accId == @Model.EntryCV[0].account)
                                    {
                                        <option value="@groepModel.accId" class="@groepModel.accCode" selected>@groepModel.accName</option>
                                    }
                                    else
                                    {
                                        <option value="@groepModel.accId" class="@groepModel.accCode">@groepModel.accName</option>
                                    }

                                }
                            </select>
                        </td>
                        <td style="text-align:center">@Html.CheckBoxFor(x => Model.EntryCV[i].fbt)</td>
                        <td>
                            @Html.DropDownListFor(x => Model.EntryCV[i].dept, new SelectList(Model.systemValues.dept, "Value", "Text", Model.systemValues.dept.SelectedValue), new { @class = "input100 txtDept" })
                        </td>
                        <td style="text-align:center">@Html.CheckBoxFor(x => Model.EntryCV[i].chkVat, new { @class = "chkVat comVar" })</td>
                        <td>
                            @Html.DropDownListFor(x => Model.EntryCV[i].vat, new SelectList(Model.systemValues.vat, "Value", "Text", Model.systemValues.vat.SelectedValue), new { @class = "input100 txtVat comVar", @disabled = "true" })
                        </td>
                        <td style="text-align:center">@Html.CheckBoxFor(x => Model.EntryCV[i].chkEwt, new { @class = "chkEwt comVar" })</td>
                        <td>
                            @Html.DropDownListFor(x => Model.EntryCV[i].ewt, new SelectList(Model.systemValues.ewt, "Value", "Text", Model.systemValues.ewt.SelectedValue), new { @class = "input100 txtEwt comVar", @disabled = "true" })
                        </td>
                        <td>
                            @Html.DropDownListFor(x => Model.EntryCV[i].ccy, new SelectList(Model.systemValues.currency, "Value", "Text", Model.systemValues.currency.SelectedValue), new { @class = "input100" })
                        </td>
                        <td>@Html.TextBoxFor(x => Model.EntryCV[i].debitGross, new { @class = "input100 txtGross", @readonly = "readonly" })</td>
                        <td>@Html.TextBoxFor(x => Model.EntryCV[i].credEwt, new { @class = "input100 txtCredEwt", @readonly = "readonly" })</td>
                        <td>@Html.TextBoxFor(x => Model.EntryCV[i].credCash, new { @class = "input100 txtCredCash", @readonly = "readonly" })</td>
                        <td id="req_@i">
                            <a class="reqBtn glyphicon glyphicon-list-alt"></a>
                            @Html.HiddenFor(x => Model.EntryCV[i].month, new { @class = "txtAmorMonth" })
                            @Html.HiddenFor(x => Model.EntryCV[i].day, new { @class = "txtAmorDay" })
                            @Html.HiddenFor(x => Model.EntryCV[i].duration, new { @class = "txtAmorDuration" })
                            @for (int y = 0; y < Model.EntryCV[i].amtDetails.Count(); y++)
                            {
                                @Html.HiddenFor(x => Model.EntryCV[i].amtDetails[y].amtDate);
                                @Html.HiddenFor(x => Model.EntryCV[i].amtDetails[y].amtAmount);
                            }
                        </td>
                    </tr>
                    }

                    <tr>
                        <td style="border:none; background-color:#f2f2f2" rowspan="2"><a id="addRow" href="#" class="glyphicon glyphicon-plus"></a></td>
                        <td colspan="8" style="text-align:right; border:none; background-color:#f2f2f2">Subtotal : </td>
                        <td rowspan="2"><div class="flex-c"><input type="text" class="input100" readonly id="grossTotal" /></div></td>
                        <td><input type="text" readonly class="input100" id="credEwtTotal" /></td>
                        <td><input type="text" readonly class="input100" id="credCashTotal" /></td>
                    </tr>
                    <tr>
                        <td colspan="8" style="text-align:right; border:none; background-color:#f2f2f2 ">Total : </td>
                        <td colspan="2"><div class="flex-c"><input type="text" class="input100" readonly id="credTotal" /></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="voucherPreview" class="border-solid">
            <div id="tbl-lbl">
                <div class="dis-inline-block"><p>Preview of Voucher:</p></div>
            </div>
            <iframe id="iframePreview" frameborder="0" src="" style="position: relative; min-height: 50vh; max-height: 100%; width: 100%;"></iframe>
        </div>
        <div id="entry-status" class="m-t-10 m-b-10">
            <div class="dis-inline-block"><label>Status: </label></div>
            <div class="dis-inline-block">@Html.TextBoxFor(x => x.status, new { @readonly = "true", @class = "input" })</div>
            <div class="dis-inline-block"><label>Approver:</label></div>
            <div class="dis-inline-block">@Html.TextBoxFor(model => model.approver, new { @readonly = "true", @class = "input", @id="approver" })</div>
            <div class="dis-inline-block"><label>Verifier:</label></div>
            <div class="dis-inline-block">
                <p class="dis-inline-block">@Html.TextBoxFor(model => model.verifier_1, new { @readonly = "true", @class = "m-l-5 input", @id="verifier1" })</p>
                <p class="dis-inline-block">@Html.TextBoxFor(model => model.verifier_2, new { @readonly = "true", @class = "m-l-5 input", @id="verifier2" })</p>
            </div>
        </div>
        <div id="entry-controls" class="m-b-10">
            <div class="flex-sb">
                <div>
                    <div class="dis-inline-block tbl-btn"><button>Save</button></div>
                    <div class="dis-inline-block tbl-btn"><button disabled>Delete</button></div>
                    <div class="dis-inline-block tbl-btn"><button disabled>Modify</button></div>
                </div>
                <div>
                    <div class="dis-inline-block tbl-btn"><button id="reversal_entry" disabled>Create Reversal Entry</button></div>
                </div>
                <div>
                    <div class="dis-inline-block tbl-btn m-l-41"><button disabled>Print Check</button></div>
                </div>

            </div>
            <div class="flex-sb">
                <div>
                    <div class="dis-inline-block tbl-btn"><button disabled>Approve/Verify</button></div>
                    <div class="dis-inline-block tbl-btn"><button disabled>Reject</button></div>
                </div>
                <div>
                    <div class="dis-inline-block tbl-btn"><button disabled>Delete GBase Post</button></div>
                </div>
                <div>
                    <div class="dis-inline-block tbl-btn"><button disabled>Print BIR Certificate</button></div>
                </div>
            </div>
        </div>
    }
    @*@if (Html.ViewData.ModelState.IsValid)
    {
        <p style="height: 100px; color: green"> VALID</p>
    }
    else
    {
        <p style="height: 100px; color: red"> INVALID</p>
    }*@
    <div id="ValidationSummary" style="display: none" class="">
        @Html.ValidationSummary(false, "", new { @id = "validationSummary" })
    </div>
    <div id="modalDiv">
        @Html.Partial("ModalGbase")
    </div>

</div>
<script>
    $(function () {
        $(window).on("load", function () {
            var gross = $(".txtGross");
            var credEwt = $(".txtCredEwt");
            var credCash = $(".txtCredCash");

            var grossTotal = 0;
            var ewtSubTotal = 0;
            var cashSubTotal = 0;

            for (var i = 0; i < gross.length; i++) {
                grossTotal += Number(gross[i].value);
            }

            for (var i = 0; i < credEwt.length; i++) {
                ewtSubTotal += Number(credEwt[i].value);
            }

            for (var i = 0; i < credCash.length; i++) {
                cashSubTotal += Number(credCash[i].value);
            }

            $("#grossTotal").val(grossTotal);
            $("#credEwtTotal").val(ewtSubTotal);
            $("#credCashTotal").val(cashSubTotal);
            $("#credTotal").val(Number(ewtSubTotal + cashSubTotal));

            var rowTemplate = $("#rowTemplate")

            $(rowTemplate).find("#template_duration").removeAttr("data-val-required");
            $(rowTemplate).find("#template_GBaseRemarks").removeAttr("data-val-required");
            $(rowTemplate).find("#template_account").removeAttr("data-val-required");
            $(rowTemplate).find("#template_fbt").removeAttr("data-val-required");
            $(rowTemplate).find("#template_dept").removeAttr("data-val-required");
            $(rowTemplate).find("#template_chkVat").removeAttr("data-val-required");
            $(rowTemplate).find("#template_vat").removeAttr("data-val-required");
            $(rowTemplate).find("#template_chkEwt").removeAttr("data-val-required");
            $(rowTemplate).find("#template_ewt").removeAttr("data-val-required");
            $(rowTemplate).find("#template_ccy").removeAttr("data-val-required");
            $(rowTemplate).find("#template_debitGross").removeAttr("data-val-required");
            $(rowTemplate).find("#template_credEwt").removeAttr("data-val-required");
            $(rowTemplate).find("#template_credCash").removeAttr("data-val-required");
            $(rowTemplate).find("#template_month").removeAttr("data-val-required");
            $(rowTemplate).find("#template_day").removeAttr("data-val-required");

            $('#iframePreview').prop('src', "/Home/GenerateVoucher");
        });

        $("#addRow").click(function (e) {
            var itemCount = document.getElementById('inputTable').getElementsByTagName('tbody')[0].childElementCount - 2;
            var tableRef = document.getElementById('inputTable').getElementsByTagName('tbody')[0];


            var trClone = $("#rowTemplate").clone().attr("id","item_" + itemCount);

            //Gbase Remarks
            $(trClone).find("#template_GBaseRemarks").attr("name", "EntryCV[" + itemCount + "].GBaseRemarks");
            $(trClone).find("#template_GBaseRemarks").attr("id", "EntryCV_" + itemCount + "__GBaseRemarks");
            $(trClone).find("#remark_").attr("id", "remark_" + itemCount);
            //Account
            $(trClone).find("#template_account").attr("name", "EntryCV[" + itemCount + "].account");
            $(trClone).find("#template_account").attr("id", "EntryCV_" + itemCount + "__account");
            //FBT
            $(trClone).find("#template_fbt").attr("name", "EntryCV[" + itemCount + "].fbt");
            $(trClone).find("#template_fbt").attr("id", "EntryCV_" + itemCount + "__fbt");
            //Department
            $(trClone).find("#template_dept").attr("name", "EntryCV[" + itemCount + "].dept");
            $(trClone).find("#template_dept").attr("id", "EntryCV_" + itemCount + "__dept");
            //Vat Checkbox
            $(trClone).find("#template_chkVat").attr("name", "EntryCV[" + itemCount + "].chkVat");
            $(trClone).find("#template_chkVat").attr("id", "EntryCV_" + itemCount + "__chkVat");
            //Vat
            $(trClone).find("#template_vat").attr("name", "EntryCV[" + itemCount + "].vat");
            $(trClone).find("#template_vat").attr("id", "EntryCV_" + itemCount + "__vat");
            //EWT Checkbox
            $(trClone).find("#template_chkEwt").attr("name", "EntryCV[" + itemCount + "].chkEwt");
            $(trClone).find("#template_chkEwt").attr("id", "EntryCV_" + itemCount + "__chkEwt");
            //EWT
            $(trClone).find("#template_ewt").attr("name", "EntryCV[" + itemCount + "].ewt");
            $(trClone).find("#template_ewt").attr("id", "EntryCV_" + itemCount + "__ewt");
            //Currency
            $(trClone).find("#template_ccy").attr("name", "EntryCV[" + itemCount + "].ccy");
            $(trClone).find("#template_ccy").attr("id", "EntryCV_" + itemCount + "__ccy");
            //Debit Gross
            $(trClone).find("#template_debitGross").attr("name", "EntryCV[" + itemCount + "].debitGross");
            $(trClone).find("#template_debitGross").attr("id", "EntryCV_" + itemCount + "__debitGross");
            //Credit EWT
            $(trClone).find("#template_credEwt").attr("name", "EntryCV[" + itemCount + "].credEwt");
            $(trClone).find("#template_credEwt").attr("id", "EntryCV_" + itemCount + "__credEwt");
            //Credit Cash
            $(trClone).find("#template_credCash").attr("name", "EntryCV[" + itemCount + "].credCash");
            $(trClone).find("#template_credCash").attr("id", "EntryCV_" + itemCount + "__credCash");
            //Requirement button
            $(trClone).find("#req_").attr("id", "req_" + itemCount);
            //Month
            $(trClone).find("#template_month").attr("name", "EntryCV[" + itemCount + "].month");
            $(trClone).find("#template_month").attr("id", "EntryCV_" + itemCount + "__month");
            //Day
            $(trClone).find("#template_day").attr("name", "EntryCV[" + itemCount + "].day");
            $(trClone).find("#template_day").attr("id", "EntryCV_" + itemCount + "__day");
            //Duration
            $(trClone).find("#template_duration").attr("name", "EntryCV[" + itemCount + "].duration");
            $(trClone).find("#template_duration").attr("id", "EntryCV_" + itemCount + "__duration");

            $(trClone).insertAfter($("#inputTable > tbody").find("#item_" + (itemCount - 1)));
        });

        //ExpenseAmortization
        $("table").on("click", ".expenseAmortization", function (e) {
            e.stopImmediatePropagation();

            var pNode = $(this.parentNode)[0].parentNode;

            var id = pNode.id;
            var month;
            var day;
            var duration;

            if ($("#" + id).find(".txtAmorMonth").val() != null) {
                month = $("#" + id).find(".txtAmorMonth").val();
            } else {
                month = 1;
            }
            if ($("#" + id).find(".txtAmorDay").val() != null) {
                day = $("#" + id).find(".txtAmorDay").val();
            } else {
                day = 1;
            }
            if ($("#" + id).find(".txtAmorDuration").val() != null) {
                duration = $("#" + id).find(".txtAmorDuration").val();
            } else {
                duration = 1;
            }

            var modalDivBody = $('.modal-body');
            var modalDivFooter = $('.modal-footer').find("#add_row_btn").remove();;

            if ($('.modal-header').find(".modal-title")[0] == null) {
                $('.modal-header').append('<h4 class="modal-title">Prepaid Expense Amortization Schedule</h4>');
            }

            var vendor = $("#vendorName option:selected").text();
            var account = $("#" + pNode.id).find(".txtAcc option:selected").text()

            modalDivBody.load("@Url.Action("EntryExpenseAmortization", "Modal")", {
                "id": id,
                "vendor": vendor,
                "account": account,
                "month": month,
                "day": day,
                "duration": duration
            }, function (response, status, xhr) {
                if (status == "error") {
                    alert("Something went wrong.");
                } else {
                    if ($("#parentIdAmortization") != null) {
                        var tableRef = document.getElementById('modalTable').getElementsByTagName('tbody')[0];
                        //var tableRef = $("#modalTable").children("tbody");
                        var grossAmount = Number($("#" + id).find(".txtGross").val());

                        tblBuilder(tableRef, month, day, duration, grossAmount);
                    }
                }
            });

            $('#myModal').modal('show');
        });

        $("table").on("change", ".txtAcc", function (e) {

            var pNode = String($(this.parentNode)[0].parentNode.id);
            var accCode = $(this).find("option:selected").attr("class");
            var btnAttr = $("#" + pNode).find("#req_" + pNode.substring(5)).find(".reqBtn");
            //if (accCode == "21") {
            if (accCode == "13265" || accCode == "13281") {
                btnAttr.attr("href", "#");
                btnAttr.attr("class", "expenseAmortization reqBtn glyphicon glyphicon-list-alt");
            } else {
                btnAttr.removeAttr("href");
                btnAttr.attr("class","reqBtn glyphicon glyphicon-list-alt");
            }
        });
    });
</script>
<script type="text/javascript">
    function tblBuilder(tableRef, begMonth, day, duration, grossAmount) {
        var dvdAmount = roundNumber((grossAmount / duration), 2);

        var now = new Date();
        var Year = now.getFullYear();

        for (var i = 0; i < duration; i++) {
            var newRow = tableRef.insertRow(i);
            var cellDate = newRow.insertCell(0);
            var cellAmount = newRow.insertCell(1);

            var month = Number(begMonth) + Number(i);

            cellDate.innerHTML = new Date(Year, month, day).toDateString();
            cellAmount.innerHTML = dvdAmount;
        }
    };

    function roundNumber(num, scale) {
        if (!("" + num).includes("e")) {
            return +(Math.round(num + "e+" + scale) + "e-" + scale);
        } else {
            var arr = ("" + num).split("e");
            var sig = ""
            if (+arr[1] + scale > 0) {
                sig = "+";
            }
            return +(Math.round(+arr[0] + "e" + sig + (+arr[1] + scale)) + "e-" + scale);
        }
    };
</script>
<script type="text/javascript" src="~/js/EntryScripts.js"></script>


<div class="hidden">
    <table id="templateTable">
        <thead></thead>
        <tbody>
            <tr id="rowTemplate">
                <td class="p-b-1 p-t-1">
                    <div class="flex-sb">
                        @Html.TextBoxFor(x => Model.template.GBaseRemarks,new { @class = "input100 w-80", @value = "" })
                        <div id="remark_">
                            <a href="#" class="gRemarks glyphicon glyphicon-folder-open fs-23 m-r-5"></a>
                        </div>
                    </div>
                </td>
                <td>
                    <select id="@Html.IdFor(x => Model.template.account)" class="input100 txtAcc" name="@Html.NameFor(x => Model.template.account)">
                        @foreach (var groepModel in Model.systemValues.acc)
                        {
                            if (Model.systemValues.acc.IndexOf(groepModel) == 0)
                            {
                                <option value="@groepModel.accId" class="@groepModel.accCode" selected>@groepModel.accName</option>
                            }
                            else
                            {
                                <option value="@groepModel.accId" class="@groepModel.accCode">@groepModel.accName</option>
                            }

                        }
                    </select>
                </td>
                <td style="text-align:center">@Html.CheckBoxFor(x => Model.template.fbt)</td>
                <td>
                    @Html.DropDownListFor(x => Model.template.dept, new SelectList(Model.systemValues.dept, "Value", "Text", Model.systemValues.dept.SelectedValue), new { @class = "input100 txtDept" })
                </td>
                <td style="text-align:center">@Html.CheckBoxFor(x => Model.template.chkVat, new { @class = "chkVat comVar" })</td>
                <td>
                    @Html.DropDownListFor(x => Model.template.vat, new SelectList(Model.systemValues.vat, "Value", "Text", Model.systemValues.vat.SelectedValue), new { @class = "input100 txtVat comVar", @disabled = "true" })
                </td>
                <td style="text-align:center">@Html.CheckBoxFor(x => Model.template.chkEwt, new { @class = "chkEwt comVar" })</td>
                <td>
                    @Html.DropDownListFor(x => Model.template.ewt, new SelectList(Model.systemValues.ewt, "Value", "Text", Model.systemValues.ewt.SelectedValue), new { @class = "input100 txtEwt comVar", @disabled = "true" })
                </td>
                <td>
                    @Html.DropDownListFor(x => Model.template.ccy, new SelectList(Model.systemValues.currency, "Value", "Text", Model.systemValues.currency.SelectedValue), new { @class = "input100" })
                </td>
                <td>@Html.TextBoxFor(x => Model.template.debitGross, new { @class = "input100 txtGross", @readonly = "readonly" })</td>
                <td>@Html.TextBoxFor(x => Model.template.credEwt, new { @class = "input100 txtCredEwt", @readonly = "readonly" })</td>
                <td>@Html.TextBoxFor(x => Model.template.credCash, new { @class = "input100 txtCredCash", @readonly = "readonly" })</td>
                <td id="req_">
                    <a class="reqBtn glyphicon glyphicon-list-alt"></a>
                    @Html.HiddenFor(x => Model.template.month, new { @class = "txtAmorMonth" })
                    @Html.HiddenFor(x => Model.template.day, new { @class = "txtAmorDay" })
                    @Html.HiddenFor(x => Model.template.duration, new { @class = "txtAmorDuration" })
                </td>
            </tr>
        </tbody>
    </table>
</div>