@using ExpenseProcessingSystem.ViewModels
@model HomeIndexViewModel
<div class="tabContent">
    <div class="p-t-10 p-l-20 p-r-20">
        <form asp-action="History" asp-controller="Home" method="get" id="search-frm">
            <div class="form-actions no-color">
                <p class="">Filter by:</p>
                    <table class="table">
                        <tr>
                            <td>@Html.LabelFor(model => model.Filters.HistoryFil.Hist_Voucher_No)</td>
                            <td>
                                @Html.DropDownListFor(model => model.Filters.HistoryFil.Hist_Voucher_Type, new SelectList(Model.Filters.HistoryFil.Hist_Type_Select, "Value", "Text", "1"), "-- Voucher Type --", new { @class = "dis-inline-block" })
                                @Html.DropDownListFor(model => model.Filters.HistoryFil.Hist_Voucher_Year, new SelectList(Model.Filters.HistoryFil.Hist_YearList, "YearID", "YearID", DateTime.Now.Year), "-- Voucher Year --", new { @class = "dis-inline-block" })
                                @Html.EditorFor(model => model.Filters.HistoryFil.Hist_Voucher_No, new { @class = "dis-inline-block" })
                            </td>
                            <td>@Html.LabelFor(model => model.Filters.HistoryFil.Hist_Maker)</td>
                            <td>@Html.TextBoxFor(model => model.Filters.HistoryFil.Hist_Maker, new { @class = "input" })</td>
                            <td>@Html.LabelFor(model => model.Filters.HistoryFil.Hist_Approver)</td>
                            <td>@Html.TextBoxFor(model => model.Filters.HistoryFil.Hist_Approver, new { @class = "input" })</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(model => model.Filters.HistoryFil.Hist_Created_Date)</td>
                            <td>@Html.TextBoxFor(model => model.Filters.HistoryFil.Hist_Created_Date, new { @class = "input w-49", @type = "date" })</td>
                            <td>@Html.LabelFor(model => model.Filters.HistoryFil.Hist_Updated_Date)</td>
                            <td>@Html.TextBoxFor(model => model.Filters.HistoryFil.Hist_Updated_Date, new { @class = "input", @type = "date" })</td>
                            <td>@Html.LabelFor(model => model.Filters.HistoryFil.Hist_Status)</td>
                            <td>@Html.TextBoxFor(model => model.Filters.HistoryFil.Hist_Status, new { @class = "input" })</td>
                            <td colspan="2" style="text-align: right;">
                                <input type="submit" value="Search" class="btn btn-default" id="search-btn" />
                                <input type="button" value="Back to Full List" id="full-list-btn" class="btn btn-default" />
                            </td>
                        </tr>
                    </table>
            </div>
        </form>
    </div>
    <div class="flex-c p-t-10">
        <table class="table table-striped tab-tbl table-bordered table-hover w-97">
            <thead>
                <tr>
                    <th><a asp-action="History" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["HistVoucherSortParm"]">Voucher No<p class="btn-xs glyphicon @ViewData["glyph-1"]"></p></a></th>
                    <th><a asp-action="History" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["HistMakerSortParm"]">Maker<p class="btn-xs glyphicon @ViewData["glyph-2"]"></p></a></th>
                    <th>Verifier/s</th>
                    <th><a asp-action="History" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["HistApproverSortParm"]">Approver<p class="btn-xs glyphicon @ViewData["glyph-3"]"></p></a></th>
                    <th><a asp-action="History" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["HistDateCreatedSortParm"]">Date Submitted<p class="btn-xs glyphicon @ViewData["glyph-4"]"></p></a></th>
                    <th><a asp-action="History" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["HistLastUpdatedSortParm"]">Last Updated Date<p class="btn-xs glyphicon @ViewData["glyph-5"]"></p></a></th>
                    <th><a asp-action="History" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["HistStatusSortParm"]">Status<p class="btn-xs glyphicon @ViewData["glyph-6"]"></p></a></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.HistoryList.Count > 0)
                {
                    @foreach (AppHistoryViewModel item in Model.HistoryList)
                    {
                        <tr data-href="@String.Concat(item.App_Link,"/",item.App_Entry_ID)">
                            <td>@Html.DisplayFor(model => item.App_Voucher_No)</td>
                            <td>@Html.DisplayFor(model => item.App_Maker_Name)</td>
                            <td>
                                @if (item.App_Verifier_Name_List[0] != null && item.App_Verifier_Name_List[1] != null)
                                {
                                    <text>@item.App_Verifier_Name_List[0] / @item.App_Verifier_Name_List[1]</text>
                                }
                                else
                                {
                                    <text>@item.App_Verifier_Name_List[0]</text>
                                }
                            </td>
                            <td>@Html.DisplayFor(model => item.App_Approver_Name)</td>
                            <td>@Html.DisplayFor(model => item.App_Date)</td>
                            <td>@Html.DisplayFor(model => item.App_Last_Updated)</td>
                            <td>@Html.DisplayFor(model => item.App_Status)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        @using (Html.BeginForm("", "Home", FormMethod.Post, new { @class = "validate-form", @id = "pendingForm" }))
        {
            <input id="entryID" type="hidden" name="entryID" value="" />
        }
    </div>
    @{
        var prevDisabled = !Model.HistoryList.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HistoryList.HasNextPage ? "disabled" : "";
    }
    <a page="@(Model.HistoryList.PageIndex - 1)"
       class="btn pagination-btn btn-xs btn-default @prevDisabled glyphicon glyphicon-menu-left">
    </a>
    <input type="text" class="pagination-input" id="paginationInput" val="" />
    <input type="text" class="pagination-input" value="@(Model.HistoryList.PageIndex) of @(Model.HistoryList.TotalPages)" disabled />
    <a page="@(Model.HistoryList.PageIndex + 1)"
       class="btn pagination-btn btn-default @nextDisabled glyphicon glyphicon-menu-right">
    </a>
</div>

<script type="text/javascript">
    $(function () {
        $('*[data-href]').on('click', function () {
            var form = $("#pendingForm")
            var hrefString = $(this).data("href").split("/");
            var link = hrefString[0];
            var entryID = hrefString[1];

            $("#entryID").val(entryID);
            form.attr("action", "/Home/" + link)
            form.submit();
        });
    });
    //reset search filter values
    $(document).on("click", "#full-list-btn", function (e) {
        e.stopImmediatePropagation();
        $('input[id^= "Filters_HistoryFil_"]').each(function (i, obj) {
            $(this).val("");
            if ($(this).attr('type') == "date") {
                $(this).val("0001-01-01T00:00:00.000");
            }
        });
        $("option:selected").prop("selected", false)
        $('#search-frm').submit();
    });
</script>