@{
    ViewData["Title"] = "Index";
}
@using ExpenseProcessingSystem.ViewModels
@model HomeIndexViewModel
<div class="tabContent hometabContent">
    <div>
        <form asp-action="Index" asp-controller="Home" method="get" id="search-frm">
            <div class="form-actions no-color">
                <p>
                    Find by:
                    <table class="table">
                        <tr>
                            <td>@Html.LabelFor(model => model.Filters.NotifFil.Notif_Last_Updated)</td>
                            <td>@Html.EditorFor(model => model.Filters.NotifFil.Notif_Last_Updated, new { htmlAttributes = new { @class = "input h-20 w-97 fs-11 form -control" } })</td>
                            <td>@Html.LabelFor(model => model.Filters.NotifFil.NotifFil_Message)</td>
                            <td>@Html.TextBoxFor(model => model.Filters.NotifFil.NotifFil_Message, new { @class = "input" })</td>
                            <td>@Html.LabelFor(model => model.Filters.NotifFil.NotifFil_Verifier_Approver_Name)</td>
                            <td>@Html.TextBoxFor(model => model.Filters.NotifFil.NotifFil_Verifier_Approver_Name, new { @class = "input" })</td>
                            <td>@Html.LabelFor(model => model.Filters.NotifFil.NotifFil_Status)</td>
                            <td>@Html.TextBoxFor(model => model.Filters.NotifFil.NotifFil_Status, new { @class = "input" })</td>
                            <td colspan="2" style="text-align: right;">
                                <input type="submit" value="Search" class="btn btn-default" id="search-btn" />
                                <input type="button" value="Back to Full List" id="full-list-btn" class="btn btn-default" />
                            </td>
                        </tr>
                    </table>
                </p>
            </div>
        </form>
        <div class="tab-tbl">All Notification Records:</div>
        <table class="table table-striped tab-tbl table-bordered">
            <thead>
                <tr>
                    <th id="Application_Type_Name"><a asp-action="Index" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["NotifAppIDSortParm"]">Application Type<p class="btn-xs glyphicon @ViewData["glyph-1"]"></p></a></th>
                    <th colspan="3" id="Message"><a asp-action="Index" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["NotifMessageSortParm"]">Notification Message<p class="btn-xs glyphicon @ViewData["glyph-2"]"></p></a></th>
                    <th id="Application_Maker_Name"><a asp-action="Index" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["NotifLastUpdatedSortParm"]">Application Owner/Maker<p class="btn-xs glyphicon @ViewData["glyph-3"]"></p></a></th>
                    <th id="Date"><a asp-action="Index" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["NotifApproverSortParm"]">Application Date<p class="btn-xs glyphicon @ViewData["glyph-4"]"></p></a></th>
                    <th id="Status_Name"><a asp-action="Index" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["NotifTypeStatSortParm"]">Status<p class="btn-xs glyphicon @ViewData["glyph-5"]"></p></a></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.NotifList.Count != 0)
                {
                    @foreach (var item in Model.NotifList)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Notif_Application_Type_Name)</td>
                            <td colspan="3">@Html.DisplayFor(modelItem => item.Notif_Message)</td>
                            <td>@Html.DisplayFor(modelItem => item.Notif_Application_Maker_Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Notif_Date)</td>
                            <td>@Html.DisplayFor(modelItem => item.Notif_Status_Name)</td>
                        </tr>
                    }
                }
                else
                {
                    <tr></tr>}
            </tbody>
        </table>
        @{
            var prevDisabled = !Model.NotifList.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.NotifList.HasNextPage ? "disabled" : "";
        }

        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.NotifList.PageIndex - 1)"
           asp-controller="Home"
           asp-route-partialName="@ViewData["Title"]"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn pagination-btn btn-xs btn-default @prevDisabled glyphicon glyphicon-menu-left">
        </a>
        <input type="text" class="pagination-input" id="paginationInput" val="" />
        <input type="text" class="pagination-input" value="@(Model.NotifList.PageIndex)of @(Model.NotifList.TotalPages)" disabled />
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-controller="Home"
           asp-route-partialName="@ViewData["Title"]"
           asp-route-page="@(Model.NotifList.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn pagination-btn btn-default @nextDisabled glyphicon glyphicon-menu-right">
        </a>
        @Html.Partial("ModalPartial")
    </div>
