@model PaginatedList<ExpenseProcessingSystem.ViewModels.Entry.LiquidationMainListViewModel>
@{
    ViewData["Title"] = "Liquidation_Main";
}
<div class="tabContent">
    <div class="flex-c p-t-10">
        <table class="table table-striped tab-tbl table-bordered table-hover w-97">
            <colgroup>
                <col style="width:15%" />
                <col style="width:15%" />
                <col style="width:15%" />
                <col style="width:15%" />
                <col style="width:20%" />
                <col style="width:20%" />
            </colgroup>
            <thead>
                <tr>
                    <th style="text-align:center"><a asp-action="Liquidation_Main" asp-route-sortOrder="@ViewData["ApplicationTypeSortParm"]">Application Type<p class="btn-xs glyphicon @ViewData["glyph-1"]"></p></a></th>
                    <th style="text-align:center"><a asp-action="Liquidation_Main" asp-route-sortOrder="@ViewData["AmountSortParm"]">Amount<p class="btn-xs glyphicon @ViewData["glyph-2"]"></p></a></th>
                    <th style="text-align:center"><a asp-action="Liquidation_Main" asp-route-sortOrder="@ViewData["MakerSortParm"]">Maker<p class="btn-xs glyphicon @ViewData["glyph-3"]"></p></a></th>
                    <th style="text-align:center"><a asp-action="Liquidation_Main" asp-route-sortOrder="@ViewData["ApproverSortParm"]">Approver<p class="btn-xs glyphicon @ViewData["glyph-4"]"></p></a></th>
                    <th style="text-align:center"><a asp-action="Liquidation_Main" asp-route-sortOrder="@ViewData["DateSubmittedSortParm"]">Date Submitted<p class="btn-xs glyphicon @ViewData["glyph-5"]"></p></a></th>
                    <th style="text-align:center"><a asp-action="Liquidation_Main" asp-route-sortOrder="@ViewData["LastUpdatedDateSortParm"]">Last Updated Date<p class="btn-xs glyphicon @ViewData["glyph-6"]"></p></a></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr data-href="@String.Concat(item.App_Link, "/", item.App_ID)">
                        <td>@Html.DisplayFor(model => item.App_Type)</td>
                        <td style="text-align:right">@Html.DisplayFor(model => item.App_Amount)</td>
                        <td>@Html.DisplayFor(model => item.App_Maker)</td>
                        <td>@Html.DisplayFor(model => item.App_Approver)</td>
                        <td style="text-align:center">@Html.DisplayFor(model => item.App_Date)</td>
                        <td style="text-align:center">@Html.DisplayFor(model => item.App_Last_Updated)</td>
                    </tr>
                }
            </tbody>
        </table>
        @using (Html.BeginForm("", "Home", FormMethod.Post, new { @class = "validate-form", @id = "liquidationForm" }))
        {
            <input id="entryID" type="hidden" name="entryID" value="" />
        }
    </div>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Liquidation_Main"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn pagination-btn btn-xs btn-default @prevDisabled glyphicon glyphicon-menu-left">
    </a>
    <input type="text" class="pagination-input" id="paginationInput" val="" />
    <input type="text" class="pagination-input txtMaxPage" value="of @(Model.TotalPages)" disabled />
    <a asp-action="Liquidation_Main"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn pagination-btn btn-default @nextDisabled glyphicon glyphicon-menu-right btnForInputPagination">
    </a>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var initHref = $('.btnForInputPagination').attr('href');
        var currPageNo = initHref.substring(initHref.lastIndexOf("=") + 1) - 1;
        $('#paginationInput').val(currPageNo);
        $(function () {
            $('*[data-href]').on('click', function () {
                var form = $("#liquidationForm")
                var hrefString = $(this).data("href").split("/");
                var link = hrefString[0];
                var entryID = hrefString[1];

                $("#entryID").val(entryID);
                form.attr("action", "/Home/" + link)
                form.submit();
            });
        });
        $("#paginationInput").change(function (e) {
            var $pageInput = $(this);
            var data = $pageInput.data("value"),
                val = $pageInput.val();
            if (val == "") {
                return false;
            }
            var href = $('.btnForInputPagination').attr('href');

            if (parseInt(val) > parseInt($('.txtMaxPage').val().substring($('.txtMaxPage').val().lastIndexOf(" ") + 1))) {
                $(this).val(currPageNo);

            }
            window.location = href.substring(0, href.lastIndexOf("=") + 1) + "" + $(this).val();
        }); 
    });
</script>
<script type="text/javascript" src="~/js/EntryScripts.js"></script>