@model ExpenseProcessingSystem.ViewModels.HomeReportViewModel
@using ExpenseProcessingSystem.ConstantData
@{
    ViewData["Title"] = "Report";
}

@section Scripts {
    <script type="text/javascript" src="~/js/ReportFilterScript.js"></script>
    @* custom css *@
    <link rel="stylesheet" href="~/css/Report.css" />
}

@using (Html.BeginForm())
{
    <div class="m-t-10 rep-voucher-cont">
        <table class="table rep-voucher-tbl rep-voucher-tbl-left">
            <colgroup>
                <col class="w-10" />
                <col class="w-20" />
                <col class="w-12-5" />
                <col class="w-12-5" />
                <col class="w-12-5" />
                <col class="w-12-5" />
                <col class="w-12-5" />
                <col class="w-20" />
            </colgroup>
            <tr>
                <td></td>
                <td>@Html.LabelFor(m => m.ReportTypesList)</td>
                <td colspan="4">
                    @Html.DropDownListFor(m => m.ReportTypesList, new SelectList(Model.ReportTypesList, "Id", "TypeName"), "----Select Report Type----", new { @class = "dis-inline-block", id = "ddlReportType" })
                </td>
                <td colspan="2"></td>
            </tr>
            <tr id="" class="rep_alpha_m hidden">
                <td></td>
                <td> Period: </td>
                <td>
                    @Html.DropDownListFor(m => m.YearList, new SelectList(Model.YearList, "YearID", "YearID"), null, new { @class = "dis-inline-block w-49", id = "ddlYear_" + @HomeReportConstantValue.APSWT_M })
                    @Html.DropDownListFor(m => m.CurrentMonth, new SelectList(Model.MonthList, "MonthID", "MonthName"), null, new { @class = "dis-inline-block w-49", id = "ddlMonth_" + @HomeReportConstantValue.APSWT_M })
                </td>
                <td colspan="2"></td>
            </tr>
            <tr id="" class="rep_alpha_m hidden">
                <td></td>
                <td>Signatory : </td>
                <td>
                    @Html.DropDownListFor(m => m.SignatoryList, new SelectList(Model.SignatoryList, "BCS_ID", "BCS_Name"), null, new { @class = "dis-inline-block", id = "ddlSignatory_" + @HomeReportConstantValue.APSWT_M })
                </td>
                <td colspan="2"></td>
            </tr>
            <tr id="" class="rep_alpha_10000 hidden">
                <td></td>
                <td> Period: </td>
                <td>
                    @Html.DropDownListFor(m => m.YearList, new SelectList(Model.YearList, "YearID", "YearID"), null, new { @class = "dis-inline-block w-49", id = "ddlYear_" + @HomeReportConstantValue.AST1000 })
                    @Html.DropDownListFor(m => m.CurrentMonth, new SelectList(Model.MonthList, "MonthID", "MonthName"), null, new { @class = "dis-inline-block w-49", id = "ddlMonth_" + @HomeReportConstantValue.AST1000 })
                </td>
                <td colspan="2"></td>
            </tr>
            <tr id="" class="rep_alpha_10000 hidden">
                <td></td>
                <td> To:</td>
                <td>
                    @Html.DropDownListFor(m => m.YearList, new SelectList(Model.YearList, "YearID", "YearID"), null, new { @class = "dis-inline-block w-49", id = "ddlYearTo_" + @HomeReportConstantValue.AST1000 })
                    @Html.DropDownListFor(m => m.CurrentMonth, new SelectList(Model.MonthList, "MonthID", "MonthName"), null, new { @class = "dis-inline-block w-49", id = "ddlMonthTo_" + @HomeReportConstantValue.AST1000 })
                </td>
                <td colspan="2"></td>
            </tr>
            <tr id="" class="rep_alpha_10000 hidden">
                <td></td>
                <td>Tax Rate: </td>
                <td rowspan="2">
                    <div style="overflow-x:scroll;white-space:nowrap;pointer-events:none;background-color:#ccc" id="divChkTax">
                        <input type="checkbox" id="chkAllTax" /> All:
                        @foreach (var i in Model.TaxRateList)
                        {
                            @Html.CheckBox("chkTaxRate_" + @HomeReportConstantValue.AST1000, false, new { @Value = i, @class = "chkTaxRate" })<label>@((i * 100))%</label>
                        }
                    </div>
                </td>
                <td colspan="2"></td>
            </tr>
            <tr id="" class="rep_alpha_10000 hidden">
                <td></td>
                <td>Signatory : </td>
                <td>
                    @Html.DropDownListFor(m => m.SignatoryList, new SelectList(Model.SignatoryList, "BCS_ID", "BCS_Name"), null, new { @class = "dis-inline-block", id = "ddlSignatory_" + @HomeReportConstantValue.AST1000 })
                </td>
                <td colspan="2"></td>
            </tr>
            <tr id="" class="rep_actual hidden">
                <td></td>
                <td> Period: </td>
                <td>
                    @Html.DropDownListFor(m => m.YearList, new SelectList(Model.YearList, "YearID", "YearID"), null, new { @class = "dis-inline-block w-49", id = "ddlYear_" + @HomeReportConstantValue.ActualBudgetReport })
                    @Html.DropDownListFor(m => m.CurrentMonth, new SelectList(Model.MonthList, "MonthID", "MonthName"), null, new { @class = "dis-inline-block w-49", id = "ddlMonth_" + @HomeReportConstantValue.ActualBudgetReport })
                </td>
                <td colspan="2"></td>
            </tr>

            <tr id="" class="rep_trans hidden">
                <td><a href="#" id="deselectRadio"><img src="~/images/deselect.png" style="width:20%; vertical-align:middle" /></a>@Html.RadioButton("radioTimePeriod", "1", false, new { id = "radioPeriodOption1", @class = "radioPeriodOption", disabled = "disabled" })</td>
                <td> From:</td>
                <td>
                    @Html.DropDownListFor(m => m.YearList, new SelectList(Model.YearList, "YearID", "YearID"), null, new { @class = "dis-inline-block w-49", id = "ddlYear", disabled = "disabled" })
                    @Html.DropDownListFor(m => m.CurrentMonth, new SelectList(Model.MonthList, "MonthID", "MonthName"), null, new { @class = "dis-inline-block w-49", id = "ddlMonth", disabled = "disabled" })
                </td>
                

            </tr>
            <tr id="" class="rep_trans hidden">
                <td></td>
                <td> To:</td>
                <td>
                    @Html.DropDownListFor(m => m.YearList, new SelectList(Model.YearList, "YearID", "YearID"), null, new { @class = "dis-inline-block w-49", id = "ddlYearTo_" + @HomeReportConstantValue.AST1000 })
                    @Html.DropDownListFor(m => m.CurrentMonth, new SelectList(Model.MonthList, "MonthID", "MonthName"), null, new { @class = "dis-inline-block w-49", id = "ddlMonthTo_" + @HomeReportConstantValue.AST1000 })
                </td>
                <td colspan="2"></td>
            </tr>
            <tr id="" class="rep_trans hidden">
                <td>@Html.RadioButton("radioTimePeriod", "3", false, new { id = "radioPeriodOption3", @class = "radioPeriodOption", disabled = "disabled" })</td>
                <td>Period From:</td>
                <td>@Html.EditorFor(m => m.PeriodFrom, new { htmlAttributes = new { @class = "input h-20 fs-11 form-control", @type = "date", disabled = "disabled" } })</td>
                <td style="text-align: right">Period To: </td>
                <td>@Html.EditorFor(m => m.PeriodTo, new { htmlAttributes = new { @class = "input h-20 fs-11 form-control", @type = "date", disabled = "disabled" } })</td>
            </tr>
            <tr id="" class="rep_trans hidden">
                <td></td>
                <td>Signatory : </td>
                <td>
                    @Html.DropDownListFor(m => m.SignatoryList, new SelectList(Model.SignatoryList, "BCS_ID", "BCS_Name"), null, new { @class = "dis-inline-block", id = "ddlSignatory_" + @HomeReportConstantValue.AST1000 })
                </td>
                <td colspan="2"></td>
            </tr>
        </table>
        <table class="table rep-voucher-tbl rep-voucher-tbl-right" id="rep_file_format">
            <colgroup>
                <col style="width: 5%" />
                <col style="width: 12%" />
                <col style="width: 2%" />
                <col style="width: 2%" />
                <col style="width: 2%" />
                <col style="width: 2%" />
                <col style="width: 20%" />
            </colgroup>
            <tr>
                <td>@Html.LabelFor(m => m.ReportSubTypesList)</td>
                <td colspan="2">
                    @Html.DropDownListFor(m => m.ReportTypesList, new SelectList(Model.ReportSubTypesList, "Id", "SubTypeName"), "----Select Report Sub-Type----", new { @class = "dis-inline-block w-full", id = "ddlSubType", disabled = "disabled" })
                </td>
                <td colspan="5"></td>
            </tr>
            <tr>
                <td><label>File Format: </label></td>
                <td>
                    @Html.DropDownListFor(m => m.FileFormatList, new SelectList(Model.FileFormatList, "FileFormatID", "FileFormatName"), null, new { @class = "dis-inline-block", id = "ddlFileFormat", disabled = "disabled" })
                    @Html.ValidationMessageFor(m => m.FileFormatList)
                </td>
                <td colspan="2" rowspan="2">
                    <button class="btn" style="width: 90%;" id="btnGenerateFile" disabled="disabled">Generate File</button>
                </td>
                <td colspan="1" rowspan="2"><button class="btn m-r-10" style="width:97%;" id="btnGeneratePreview" disabled="disabled">Generate Preview</button></td>
                <td colspan="2"></td>
            </tr>
        </table>
    </div>
}
@*validation message*@
<div id="ValidationSummary" style="display:none" class="">
    @Html.ValidationSummary(false, "", new { @id = "validationSummary" })
</div>

<div id="tbl-lbl" class="w-full m-t-150">
    <div id="tbl-lbl"><p>Preview Report: <text id="txtAsOfLabel"></text><text id="txtDatePreviewShow"></text></p></div>
</div>
<div class="tabContent rep-tab-cont">
    <div id="voucherPreview" style="min-height: 50vh; max-height: 100%;">
        <iframe id="iframePreview" frameborder="0" src="" style="position: relative; min-height: 50vh; max-height: 100%; width: 100%;"></iframe>
    </div>
</div>

@Html.AntiForgeryToken()
@Html.Hidden("hiddenCurrentSemester", Model.CurrentSemester.ToString(), new { @id = "hiddenCurrentSemester" })

<script>
    $(document).ready(function () {
        $("#ddlReportType").on("change", function (e) {
            removeFilEl();
            repTypeChange();
        });
        //FUNCTIONS
        function removeFilEl() {
            var tbl = $(".rep-voucher-tbl-left").find("tbody");
            $(tbl).find("tr:gt(0)").addClass("hidden");
        }
        function repTypeChange() {
            var reptype = $("#ddlReportType option:selected").val();
            var tbl = $(".rep-voucher-tbl-left").find("tbody");

            //fields
            var rep_alpha_m = $(".rep_alpha_m");
            var rep_alpha_10000 = $(".rep_alpha_10000");
            var rep_actual = $(".rep_actual");

            //signatory
            var sign = $("#rep_sign");

            if (reptype == "2") {
                rep_alpha_m.removeClass("hidden");
            }
            if (reptype == "3") {
                rep_alpha_10000.removeClass("hidden");
            }
            if (reptype == "5") {
                rep_actual.removeClass("hidden");
            }
            if (reptype == "8") {
                rep_period_from.removeClass("hidden");
                rep_period_to.removeClass("hidden");
            }
        }
    });
</script>