@model ExpenseProcessingSystem.ViewModels.HomeReportViewModel

@{
    ViewData["Title"] = "Report";
}

@section Scripts {
    <script type="text/javascript" src="~/js/ReportFilterScript.js"></script>
}

@using (Html.BeginForm())
{
    <div class="m-t-10">
        <table class="table voucher-tbl">
            <colgroup>
                <col style="width:5%">
                <col style="width:7%">
                <col style="width:13%">
                <col style="width:13%">
                <col style="width:13%">
                <col style="width:5%">
                <col style="width:5%">
                <col style="width:13%">
                <col style="width:13%">
                <col style="width:13%">
            </colgroup>
            <tr>
                <td></td>
                <td>@Html.LabelFor(m => m.ReportTypesList)</td>
                <td colspan="2">
                    @Html.DropDownListFor(m => m.ReportTypesList, new SelectList(Model.ReportTypesList, "Id", "TypeName"), "----Select Report Type----", new { @class = "dis-inline-block", id = "ddlReportType" })
                </td>
                <td>@Html.LabelFor(m => m.ReportSubTypesList)</td>
                <td colspan="2">
                    @Html.DropDownListFor(m => m.ReportTypesList, new SelectList(Model.ReportSubTypesList, "Id", "SubTypeName"), "----Select Report Sub-Type----", new { @class = "dis-inline-block", id = "ddlSubType", disabled = "disabled" })
                </td>
                <td colspan="4"></td>
            </tr>
            <tr>
                <td colspan="10">
                    @*validation message*@
                    <div id="ValidationSummary" style="display:none" class="">
                        @Html.ValidationSummary(false, "", new { @id = "validationSummary" })
                    </div>
                </td>
            </tr>
            <tr>
                <td><a href="#" id="deselectRadio"><img src="~/images/deselect.png" style="width:20%; vertical-align:middle" /></a>@Html.RadioButton("radioTimePeriod", "1", false, new { id = "radioPeriodOption1", @class = "radioPeriodOption", disabled = "disabled" })</td>
                <td> From:</td>
                <td>
                    @Html.DropDownListFor(m => m.YearList, new SelectList(Model.YearList, "YearID", "YearID"), null, new { @class = "dis-inline-block w-49", id = "ddlYear", disabled = "disabled" })
                    @Html.DropDownListFor(m => m.CurrentMonth, new SelectList(Model.MonthList, "MonthID", "MonthName"), null, new { @class = "dis-inline-block w-49", id = "ddlMonth", disabled = "disabled" })
                </td>
                <td style="text-align: right"> To:</td>
                <td>
                    @Html.DropDownListFor(m => m.YearList, new SelectList(Model.YearList, "YearID", "YearID"), null, new { @class = "dis-inline-block w-49", id = "ddlYearTo", disabled = "disabled" })
                    @Html.DropDownListFor(m => m.CurrentMonth, new SelectList(Model.MonthList, "MonthID", "MonthName"), null, new { @class = "dis-inline-block w-49", id = "ddlMonthTo", disabled = "disabled" })
                </td>
                <td>@Html.RadioButton("radioTimePeriod", "3", false, new { id = "radioPeriodOption3", @class = "radioPeriodOption", disabled = "disabled" })</td>
                <td>Period From:</td>
                <td>@Html.EditorFor(m => m.PeriodFrom, new { htmlAttributes = new { @class = "input h-20 fs-11 form-control", @type = "date", disabled = "disabled" } })</td>
                <td style="text-align: right">Period To: </td>
                <td>@Html.EditorFor(m => m.PeriodTo, new { htmlAttributes = new { @class = "input h-20 fs-11 form-control", @type = "date", disabled = "disabled" } })</td>
            </tr>
            <tr>
                <td>&#9679</td>
                <td>Check No.</td>
                <td><input id="CheckNoFrom" class="number-inputNoDecimal input h-20 fs-11" type="text" disabled="disabled"/></td>
                <td style="text-align:right">To: </td>
                <td><input id="CheckNoTo" class="number-inputNoDecimal input h-20 fs-11" type="text" disabled="disabled" /></td>
                <td></td>
                <td>Tax Rate: </td>
                <td colspan="3" rowspan="2">
                    <div style="overflow-x:scroll;white-space:nowrap;pointer-events:none;background-color:#ccc" id="divChkTax" >
                        <input type="checkbox" id="chkAllTax" /> All: 
                        @foreach(var i in Model.TaxRateList)
                        {
                            @Html.CheckBox("chkTaxRate", false, new { @Value=i, @class="chkTaxRate" })<label>@((i*100))%</label>
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td>&#9679</td>
                <td>Voucher No.</td>
                <td><input id="VoucherNoFrom" class="number-inputNoDecimal input h-20 fs-11" type="text" disabled="disabled" /></td>
                <td style="text-align:right">To: </td>
                <td><input id="VoucherNoTo" class="number-inputNoDecimal input h-20 fs-11" type="text" disabled="disabled" /></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>&#9679</td>
                <td>Covered Tran No.</td>
                <td>
                    <input id="TransNoFrom" class="number-inputNoDecimal input h-20 fs-11" type="text" disabled="disabled" />
                </td>
                <td style="text-align:right">To: </td>
                <td>
                    <input id="TransNoTo" class="number-inputNoDecimal input h-20 fs-11" type="text" disabled="disabled" />
                </td>
                <td></td>
                <td>Signatory :  </td>
                <td>
                    @Html.DropDownListFor(m => m.SignatoryList, new SelectList(Model.SignatoryList, "BCS_ID", "BCS_Name"), null, new { @class = "dis-inline-block", id = "ddlSignatory", disabled = "disabled" })
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>&#9679</td>
                <td>Remarks</td>
                <td><input id="SubjName" class="input h-20 fs-11" type="text" disabled="disabled" /></td>
                <td></td>
                <td></td>
                <td></td>
                <td>File Format: </td>
                <td>
                    @Html.DropDownListFor(m => m.FileFormatList, new SelectList(Model.FileFormatList, "FileFormatID", "FileFormatName"), null, new { @class = "dis-inline-block", id = "ddlFileFormat", disabled = "disabled" })
                    @Html.ValidationMessageFor(m => m.FileFormatList)
                </td>
                <td rowspan="2">
                    <button class="btn" style="width: 90%;" id="btnGenerateFile" disabled="disabled">Generate File</button>
                </td>
                <td rowspan="2"><button class="btn" style="width:97%;" id="btnGeneratePreview" disabled="disabled">Generate Preview</button></td>
            </tr>
        </table>
    </div>
}
<div id="tbl-lbl">
    <div id="tbl-lbl"><p>Preview Report: <text id="txtAsOfLabel"></text><text id="txtDatePreviewShow"></text></p></div>
</div>
<div class="tabContent" style=" background-color: #fafafa;">
    <div id="voucherPreview" style="min-height: 50vh; max-height: 100%;">
        <iframe id="iframePreview" frameborder="0" src="" style="position: relative; min-height: 50vh; max-height: 100%; width: 100%;"></iframe>
    </div>
</div>

@Html.AntiForgeryToken()
@Html.Hidden("hiddenCurrentSemester", Model.CurrentSemester.ToString(), new { @id = "hiddenCurrentSemester" })
