@model ExpenseProcessingSystem.ViewModels.HomeReportDataFilterViewModel

@{
    Layout = null;
}

<style>
    .table-PDF {
        border-collapse: collapse;
        border-width: 1px;
        border-style: solid;
        border-color: black;
        margin-top: 20px;
    }

    thead {
        display: table-header-group
    }

    tfoot {
        display: table-row-group
    }

    .tr-PDF {
        page-break-inside: avoid;
        border-width: 1px;
    }

    .th-PDF {
        border-width: 1px;
        border-style: solid;
        border-color: black;
        font-weight: bold;
    }

    .td-PDF {
        border-width: 1px;
        border-style: solid;
        border-color: black;
    }
</style>

<table border="0" style="width:100%">
    <tr>
        <td style="font-weight:bold;font-size:large;text-align:center" colspan="3">ALPHALIST OF REGULAR SUPPLIERS BY TOP 10,000 PRIVATE CORPORATIONS</td>
    </tr>
    <tr>
        <td colspan="3" style="font-weight:bold;text-align:center;text-decoration:underline">
            @if (Model.HomeReportFilter.Semester == 1)
            {
                <text>@Html.DisplayFor(Model => Model.HomeReportFilter.Semester)st Term @Html.DisplayFor(Model => Model.HomeReportFilter.YearSem)</text>
            }
            else
            {
                <text>@Html.DisplayFor(Model => Model.HomeReportFilter.Semester)nd Term @Html.DisplayFor(Model => Model.HomeReportFilter.YearSem)</text>

            }
        </td>
    </tr>
    <tr>
        <td style="width:8%">NAME:</td>
        <td colspan="2" style="font-weight:bold">MIZUHO BANK, LTD. - MANILA BRANCH</td>
    </tr>
    <tr>
        <td>ADDRESS:</td>
        <td colspan="2" style="font-weight:bold">25th Floor, The Zuellig Building, Makati Avenue corner Paseo de Roxas, Makati City 1225</td>
    </tr>
    <tr>
        <td>TIN:</td>
        <td colspan="2" style="font-weight:bold">004-669-467</td>
    </tr>
    <tr>
        <td>RDO NAME:</td>
        <td style="font-weight:bold">Large Taxpayers Division</td>
        <td style="text-align:right;font-weight:bold">RDO CODE: 0116</td>
    </tr>
</table>

<table class="table-PDF">
    <thead>
        <tr style="vertical-align:top" class="tr-PDF">
            <th width="5%" class="th-PDF">SEQ. NO.</th>
            <th width="12.5%" class="th-PDF">TIN NUMBER</th>
            <th width="37.5%" class="th-PDF">SUPPLIER'S NAME</th>
            <th width="12%" class="th-PDF">NATURE OF INCOME PAYMENT</th>
            <th width="8%" class="th-PDF">ATC</th>
            <th width="10%" class="th-PDF">TAX BASE</th>
            <th width="5%" class="th-PDF">RATE OF TAX</th>
            <th width="10%" class="th-PDF">AMOUNT OF TAX WITHHELD</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model.HomeReportOutputAST1000)
        {
            <tr class="tr-PDF">
                <td style="text-align:center" class="td-PDF">@i.SeqNo</td>
                <td style="text-align:center" class="td-PDF">@i.Tin</td>
                <td style="text-align:left" class="td-PDF">@i.SupplierName</td>
                <td style="text-align:left" class="td-PDF">@i.NOIP</td>
                <td style="text-align:center" class="td-PDF">@i.ATC</td>
                <td style="text-align:right" class="td-PDF">@Html.DisplayFor(model => i.TaxBase)</td>
                <td style="text-align:center" class="td-PDF">@Html.DisplayFor(model => i.RateOfTax)</td>
                <td style="text-align:right" class="td-PDF">@Html.DisplayFor(model => i.AOTW)</td>
            </tr>
        }
    </tbody>
</table>
<table style="border-collapse: collapse;margin-top:2px;width:100%">
    <tr>
        <th width="17.5%" style="text-align:left">***End of Report***</th>
        <th width="37.5%"></th>
        <th width="12%"></th>
        <th width="8%" style="text-align:right">TOTAL =></th>
        <th width="10%" class="th-PDF" style="text-align:right">@Model.HomeReportOutputAST1000.Sum(model => model.TaxBase).ToString("#,##0.00#")</th>
        <th width="5%"></th>
        <th width="10%" class="th-PDF" style="text-align:right">@Model.HomeReportOutputAST1000.Sum(x => x.AOTW).ToString("#,##0.00#")</th>
    </tr>
</table>

<div style="margin-top:5%;margin-right:5%;text-align:center;display: inline-block;float:right">
    <text style="font-weight:bold">ALBERT ADVINCULA</text><br />
    <text style="font-weight:bold">VP-Manager / Administration Department</text>
    <hr width="400px" color="black" />
</div>