@model ExpenseProcessingSystem.ViewModels.HomeReportDataFilterViewModel
@using Microsoft.AspNetCore.Hosting

@{
    Layout = null;
}

<style>
    .table-PDF {
        border-collapse: collapse;
        border-width: 1px;
        border-style: solid;
        border-color: black;
        margin-top: 20px;
    }

    thead {
        display: table-header-group
    }

    tfoot {
        display: table-row-group
    }

    .tr-PDF {
        page-break-inside: avoid;
        border-width: 1px;
    }

    .th-PDF {
        border-width: 1px;
        border-style: solid;
        border-color: black;
        font-weight: bold;
    }

    .td-PDF {
        border-width: 1px;
        border-style: solid;
        border-color: black;
    }

</style>

<table border="0" style="width:100%">
    <tr>
        <td style="width:10%" rowspan="2" ><img src="@Model.ReportCommonVM.Header_Logo" style="width:100%;height:40%" /></td>
        <td style="text-align:center"><b>ALPHA LIST OF PAYEES SUBJECT TO EXPANDED WITHHOLDING TAX</b></td>
        <td style="width:10%"></td>
    </tr>
    <tr>
        <td style="text-align:center">@Html.DisplayFor(Model => Model.HomeReportFilter.MonthName) @Html.DisplayFor(Model => Model.HomeReportFilter.Year)</td>
        <td></td>
    </tr>
    <tr>
        <td style="padding-left:3%">Name</td>
        <td colspan="2">@Model.ReportCommonVM.Header_Name</td>
    </tr>
    <tr>
        <td style="padding-left:3%">TIN</td>
        <td colspan="2">@Model.ReportCommonVM.Header_TIN</td>
    </tr>
    <tr>
        <td style="padding-left:3%">Address</td>
        <td colspan="2">@Model.ReportCommonVM.Header_Address</td>
    </tr>
</table>

<table class="table-PDF">
    <thead>
        <tr style="vertical-align:top" class="tr-PDF">
            <th width="12.5%" class="th-PDF">TIN</th>
            <th width="37.5%" class="th-PDF">PAYEE</th>
            <th width="8%" class="th-PDF">ATC</th>
            <th width="12%" class="th-PDF">NATURE OF INCOME PAYMENT</th>
            <th width="10%" class="th-PDF">AMOUNT OF INCOME PAYMENT</th>
            <th width="10%" class="th-PDF">RATE OF TAX</th>
            <th width="10%" class="th-PDF">AMOUNT OF TAX WITHHELD</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model.HomeReportOutputAPSWT_M)
        {
            <tr class="tr-PDF">
                <td style="text-align:center" class="td-PDF">@i.Tin</td>
                <td style="text-align:left" class="td-PDF">@i.Payee</td>
                <td style="text-align:center" class="td-PDF">@i.ATC</td>
                <td style="text-align:center" class="td-PDF">@i.NOIP</td>
                <td style="text-align:right" class="td-PDF">@Html.DisplayFor(model => i.AOIP)</td>
                <td style="text-align:center" class="td-PDF">@Html.DisplayFor(model => i.RateOfTax)</td>
                <td style="text-align:right" class="td-PDF">@Html.DisplayFor(model => i.AOTW)</td>
            </tr>
        }
    </tbody>
</table>
<table style="border-collapse: collapse;margin-top:2px;width:100%">
    <tr>
        <th width="12.5%"></th>
        <th width="37.5%"></th>
        <th width="8%"></th>
        <th width="12%" style="text-align:center">TOTAL ==></th>
        <th width="10%" style="text-align:right" class="td-PDF">@Model.HomeReportOutputAPSWT_M.Sum(model => model.AOIP).ToString("#,##0.00#")</th>
        <th width="10%"></th>
        <th width="10%" style="text-align:right" class="td-PDF">@Model.HomeReportOutputAPSWT_M.Sum(x => x.AOTW).ToString("#,##0.00#")</th>
    </tr>
</table>
<div style="text-align:center">
    <div style="margin-top:5%;text-align:center;display:inline-block;">
        <text style="font-weight:bold">@Html.DisplayFor(x => Model.ReportCommonVM.Signatory_Name)</text>
        <hr width="100%" color="black" />
        <text style="font-weight:bold;">@Html.DisplayFor(x => Model.ReportCommonVM.Signatory_Position)</text>
    </div>
</div>