@model ExpenseProcessingSystem.ViewModels.TEMP_HomeReportDataFilterViewModel

@{
    Layout = null;
}

<style>
    .table-PDF {
        border-collapse: collapse;
        border-width: 1px;
        border-style: solid;
        border-color: black;
        margin-top: 20px;
        width: 100%;
    }

    thead {
        display: table-header-group
    }

    tfoot {
        display: table-row-group
    }

    .tr-PDF {
        page-break-inside: avoid;
        border-width: 1px;
    }

    .th-PDF {
        border-width: 1px;
        border-style: solid;
        border-color: black;
        font-weight: bold;
        background-color: #ccc;
    }

    .td-PDF {
        border-width: 1px;
        border-style: solid;
        border-color: black;
    }
</style>

<table border="0" style="width:100%; font-weight: bold">
    <tbody>
        <tr>
            <td colspan="6" style="text-align:center;font-weight:bold;font-size:large">GA Computer Suspense Balance Report</td>
        </tr>
        <tr>
            <td style="width: 25%; font-size:small">Customer: 900</td>
            <td colspan="5"></td>
        </tr>
        <tr>
            <td style="font-size:small">Account Number: B79-767-111111</td>
            <td style="font-size:small">Account Name: COMPUTER SUSPENSE</td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td style="font-size:small">Currency: PHP</td>
            <td colspan="5"></td>
        </tr>
        <tr>
            <td style="font-size:small">Date From/To: @Html.DisplayFor(Model => Model.HomeReportFilter.MonthName) - @Html.DisplayFor(Model => Model.HomeReportFilter.Year)</td>
            <td colspan="5"></td>
        </tr>
    </tbody>
</table>
<table class="table-PDF">
    <thead>
        <tr style="vertical-align:top" class="tr-PDF">
            <th class="th-PDF" style="width: 15%">Date</th>
            <th class="th-PDF">Debit</th>
            <th class="th-PDF">Credit</th>
            <th class="th-PDF" colspan="3">Remarks</th>
            <th class="th-PDF">Reference No.</th>
            <th class="th-PDF">Balance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.HomeReportOutputCSB)
        {
            <tr class="tr-PDF">
                <td style="text-align:center" class="td-PDF">@item.CSB_Date</td>
                <td style="text-align:center" class="td-PDF">@item.CSB_Debit</td>
                <td style="text-align:center" class="td-PDF">@item.CSB_Credit</td>
                <td style="text-align:center" class="td-PDF" colspan="3">@item.CSB_Remarks</td>
                <td style="text-align:center" class="td-PDF">@item.CSB_Ref_No</td>
                <td style="text-align:center" class="td-PDF">@item.CSB_Balance</td>
            </tr>
        }
    </tbody>
</table>