@model ExpenseProcessingSystem.ViewModels.HomeReportDataFilterViewModel

@{
    Layout = null;
    var dateNow = DateTime.Now.ToShortDateString();
    var dateNowStr = DateTime.Now.ToLongDateString();
    var cnt = 1;
}

<style>
    .fw-bold {
        font-weight: bold;
    }
    .fw-italic{
        font-style: italic;
    }
    .fw-underline{
        text-decoration: underline;
    }
    .fw-doub-underline {
        border-bottom: 4px double #000;
    }
    .fw-thk-underline{
        font-weight: bold;
    }
    .w-32p {
        width: auto;
        margin-right: 5px;
    }
    .w-50p {
        width: 50%;
    }
    .w-65p {
        width: 65%;
    }
    .float-l {
        float:left;
    }
    .m-t-50{
        margin-top: 50px;
    }
    .fs-10{
        font-size:10px;
    }
    .tbl-colps {
        border-collapse: collapse;
    }
    .b-b-1{
        border-bottom: 1px solid #000;
    }
    #phpleft {
        float: left;
        width: 13%;
    }
    #phpright {
        float: right;
        width: 25%;
    }

    #adjust-div {
        float: right;
        width: 87%;
        border-bottom: 1px solid #000;
    }
    #adjust-div-l {
        float: left;
        width: 75%;
        border-bottom: 1px solid #000;
    }
</style>

<table border="0" class="w-65p m-t-50 tbl-colps">
    <colgroup>
        <col style="width:8.33%" />
        <col style="width:8.33%" />
        <col style="width:8.33%" />
        <col style="width:8.33%" />
        <col style="width:8.33%" />
        <col style="width:8.33%" />
        <col style="width:8.33%" />
        <col style="width:8.33%" />
        <col style="width:8.33%" />
        <col style="width:8.33%" />
        <col style="width:8.33%" />
        <col style="width:8.33%" />
    </colgroup>
    <tbody>
        <tr>
            <td colspan="12">@dateNow</td>
        </tr>
        <tr><td colspan="12"><p></p></td></tr>
        <tr><td colspan="12"><p></p></td></tr>
        <tr><td colspan="12"><p></p></td></tr>
        <tr>
            <td colspan="12"><p class="fw-bold">MS. MARI ROSE G. SIOSON</p></td>
        </tr>
        <tr>
            <td colspan="12"><p class="fw-bold">Senior Asst. Vice President/Branch Head</p></td>
        </tr>
        <tr>
            <td colspan="12"><p class="">Banco de Oro Unibank, Inc. - Main Office Branch</p></td>
        </tr>
        <tr>
            <td colspan="12"><p class="">BDO Corporate Center</p></td>
        </tr>
        <tr>
            <td colspan="12"><p class="">7899 Makati Avenue, Makati City 0726</p></td>
        </tr>
        <tr><td colspan="12"><p></p></td></tr>
        <tr><td colspan="12"><p></p></td></tr>
        <tr>
            <td colspan="12"><p class="fw-bold">Re: Letter of Instructions </p></td>
        </tr>
        <tr>
            <td></td>
            <td><p class="">DDV No/s. </p></td>
            @if (@Model.ReportLOI.Rep_DDVNoList.Count <= 8)
            {
                @foreach (var val in Model.ReportLOI.Rep_DDVNoList)
                {
                    <td class="fs-10">@val</td>
                }
            }
            else
            {
                int lmt = (@Model.ReportLOI.Rep_DDVNoList.Count < 8) ? @Model.ReportLOI.Rep_DDVNoList.Count : 7;
                for (int cnt1 = 0; cnt1 <= lmt; cnt1++)
                {
                    <td>@Model.ReportLOI.Rep_DDVNoList[cnt1]</td>
                }
            }
        </tr>
        @if (@Model.ReportLOI.Rep_DDVNoList.Count >= 9)
        {
            var lmt = (@Model.ReportLOI.Rep_DDVNoList.Count < 16) ? @Model.ReportLOI.Rep_DDVNoList.Count : 16;
            <tr>
                <td></td>
                <td></td>
                @for (int count = 8; count < lmt; count++)
                {
                    <td>@Model.ReportLOI.Rep_DDVNoList[count]</td>
                }
            </tr>
        }
        @if (@Model.ReportLOI.Rep_DDVNoList.Count >= 16)
        {
            <tr>
                <td></td>
                <td></td>
                @for (int count = 16; count < 16; count++)
                {
                    <td>@Model.ReportLOI.Rep_DDVNoList[count]</td>
                }
            </tr>
        }
        <tr><td colspan="12"><p></p></td></tr>
        <tr>
            <td colspan="12"><div class="dis-inline-block w-32p float-l">This is to authorize BDO Universal Bank - Corporate Center Branch to debit</div> <div class="fw-bold fw-italic dis-inline-block float-l w-32p">MIZUHO BANK, LTD. - </div></td>
        </tr>
        <tr>
            <td colspan="12"><div class="dis-inline-block w-32p float-l fw-bold fw-italic">MANILA BRANCH ACCT. No. 003008019974</div><div class="dis-inline-block w-32p float-l"> today,</div> <div class="dis-inline-block w-32p float-l fw-underline"> @dateNowStr </div><div class="dis-inline-block w-32p float-l"> for the total amount of</div></td>
        </tr>
        <tr>
            <td colspan="12"><div id="phpleft" class=""> Philippine Pesos: </div> <div id="adjust-div"> @Model.ReportLOI.Rep_AmountInString <p></p></div></td>
        </tr>
        <tr>
            <td colspan="12"><div id="adjust-div-l"> (PHP @Model.ReportLOI.Rep_Amount</div> <div id="phpright"> ), and credit to the account of:</div></td>
        </tr>
        <tr><td colspan="12"><p></p></td></tr>
        <tr class="text-center">
            <td></td>
            <td colspan="3"><p class="fw-bold">Name</p></td>
            <td colspan="2"><p class="fw-bold">Account Type</p></td>
            <td colspan="2"><p class="fw-bold">Account No.</p></td>
            <td colspan="1"><p class="fw-bold">Amount(PHP)</p></td>
            <td colspan="3"><p class="fw-bold"></p></td>
        </tr>
        @foreach (var vals in Model.ReportLOI.Rep_LOIAccList)
        {
            <tr class="text-center b-b-1">
                <td>@cnt</td>
                <td colspan="3"><div class="">@vals.loi_Emp_Name</div></td>
                <td colspan="2"><div class="">@vals.loi_Acc_Type</div></td>
                <td colspan="2"><div class="">@vals.loi_Acc_No</div></td>
                <td colspan="1"><div class="">@vals.loi_Amount</div></td>
                <td colspan="3"></td>
            </tr>
        }
        <tr>
            <td colspan="7"></td>
            <td colspan="2" class="fw-doub-underline">@Model.ReportLOI.Rep_Amount</td>
            <td colspan="3" class="fw-doub-underline"></td>
        </tr>
        <tr><td colspan="12"><p></p></td></tr>
        <tr>
            <td colspan="12"><p>This authority to debit and credit is issued pursuant to and subject to the terms and conditions of the Company's</p></td>
        </tr>
        <tr>
            <td colspan="12"><p>Regular Payroll Agreement with the Bank.</p></td>
        </tr>
        <tr><td colspan="12"><p></p></td></tr>
        <tr><td colspan="12"><p></p></td></tr>
        <tr><td colspan="12"><p></p></td></tr>
        <tr>
            <td colspan="12"><p>Thank you and best regards.</p></td>
        </tr>
        <tr><td colspan="12"><p></p></td></tr>
        <tr>
            <td colspan="12"><p>Very truly yours, </p></td>
        </tr>
        <tr><td colspan="12"><p></p></td></tr>
        <tr><td colspan="12"><p></p></td></tr>
        <tr>
            <td colspan="3" class="fw-thk-underline">________________________</td>
            <td colspan="9"></td>
        </tr>
        <tr>
            <td colspan="3" class="fw-bold">@Model.ReportLOI.Rep_Approver_Name.ToUpper()</td>
            <td colspan="9"></td>
        </tr>
        <tr><td colspan="12"><p></p></td></tr>
        <tr><td colspan="12"><p></p></td></tr>
        <tr>
            <td colspan="3" class="fw-thk-underline">________________________</td>
            <td colspan="9"></td>
        </tr>
        <tr>
            <td colspan="3" class="fw-bold">@Model.ReportLOI.Rep_Verifier1_Name.ToUpper()</td>
            <td colspan="9"></td>
        </tr>
    </tbody>
</table>
