@model ExpenseProcessingSystem.ViewModels.HomeReportDataFilterViewModel
@using Microsoft.AspNetCore.Hosting

@{
    Layout = null;
}

<style>
    .table-PDF {
        border-collapse: collapse;
        border-width: 1px;
        border-style: solid;
        border-color: black;
        margin-top: 20px;
    }

    thead {
        display: table-header-group
    }

    tfoot {
        display: table-row-group
    }

    .tr-PDF {
        page-break-inside: avoid;
        border-width: 1px;
    }

    .th-PDF {
        border-width: 1px;
        border-style: solid;
        border-color: black;
        font-weight: bold;
    }

    .td-PDF {
        border-width: 1px;
        border-style: solid;
        border-color: black;
    }
</style>

<table border="0" style="width:100%">
    <tr>
        <td style="width:10%" rowspan="2"><img src="@Model.ReportCommonVM.Header_Logo" style="width:100%;height:40%" /></td>
        <td style="text-align:center"><b>SUSPENSE PAYMENT / ETC. CONTROL SHEET</b></td>
        <td style="width:10%"></td>
    </tr>
    <tr>
        <td style="text-align:center">@Html.DisplayFor(Model => Model.DateFrom) - @Html.DisplayFor(Model => Model.DateTo)</td>
        <td></td>
    </tr>
    <tr>
        <td style="padding-left:3%">Name</td>
        <td colspan="2">@Model.ReportCommonVM.Header_Name</td>
    </tr>
    <tr>
        <td style="padding-left:3%">Account</td>
        <td colspan="2">@Model.ReportAccountNo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Code: @Model.ReportAccountCode</td>
    </tr>
    <tr>
        <td style="padding-left:3%">Currency</td>
        <td colspan="2">@Model.ReportCurrency<div style="float:right">Form:III-15</div></td>
    </tr>
</table>
<table border="1" style="width:100%" class="table-PDF">
    <thead>
        <tr class="tr-PDF">
            <th class="th-PDF" style="width:18%">DESCRIPTION</th>
            <th class="th-PDF" style="width:5%">SEQ NO</th>
            <th class="th-PDF" style="width:7%">SETTLEMENT DATE</th>
            <th class="th-PDF" style="width:10%">DR AMOUNT</th>
            <th class="th-PDF" style="width:10%">CR AMOUNT</th>
            <th class="th-PDF" style="width:10%">BALANCE</th>
            <th class="th-PDF" style="width:10%">DH</th>
            <th class="th-PDF" style="width:10%">APRV</th>
            <th class="th-PDF" style="width:10%">MADE</th>
            <th class="th-PDF" style="width:10%">REMARKS</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model.HomeReportOutputESAMS)
        {
            <tr class="tr-PDF">
                <td class="td-PDF">@Html.DisplayFor(x => i.GbaseRemark)</td>
                <td class="td-PDF" style="text-align:center">@Html.DisplayFor(x => i.SeqNo)</td>
                <td class="td-PDF" style="text-align:center">@Html.DisplayFor(x => i.SettleDate)</td>
                <td class="td-PDF" style="text-align:right">@if (i.DebCredType == "D") { @Html.DisplayFor(x => i.DRAmount) }</td>
                <td class="td-PDF" style="text-align:right">@if (i.DebCredType == "C") { <label>(</label>@Html.DisplayFor(x => i.CRAmount)<label>)</label>}</td>
                <td class="td-PDF" style="text-align:right">@Html.DisplayFor(x => i.Balance)</td>
                <td class="td-PDF">@Html.DisplayFor(x => i.DHName)</td>
                <td class="td-PDF">@Html.DisplayFor(x => i.ApprvName)</td>
                <td class="td-PDF">@Html.DisplayFor(x => i.MakerName)</td>
                <td class="td-PDF"></td>
            </tr>
        }
            <tr class="tr-PDF">
                <td colspan="3" class="td-PDF">TOTAL: </td>
                <td class="td-PDF" style="text-align:right">@Model.HomeReportOutputESAMS.Sum(model => model.DRAmount).ToString("#,##0.00")</td>
                <td class="td-PDF" style="text-align:right"><label>(</label>@Model.HomeReportOutputESAMS.Sum(model => model.CRAmount).ToString("#,##0.00")<label>)</label></td>
                <td colspan="5" class="td-PDF"></td>
            </tr>
    </tbody>
</table>