@{
    ViewData["Title"] = "Index";
}
@using ExpenseProcessingSystem.ViewModels
@model HomeIndexViewModel
<div class="tab-content-cont m-t-10">
    @*<div style="height: 20px; margin: 15px 0px; background-color: blue">@ViewBag.access.isLoggedIn</div>
    <div style="height: 20px; margin: 15px 0px; background-color: forestgreen">@ViewBag.access.isAdmin</div>
    <div style="height: 20px; margin: 15px 0px; background-color: yellow">@ViewBag.access.accessType</div>*@
    <div>
        <div class="tbl-cont" style="height: 150px; margin: 20px 0px; overflow-y: auto;">
            <table class="table table-striped tab-tbl table-bordered" style="height: 150px">
                <thead>
                    <tr>
                        <th>Application ID</th>
                        <th>Message</th>
                        <th>Date</th>
                        <th>Approver/Verifier</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div id="tbl-lbl"><p>Pending Applications:</p></div>
    <div class="tbl-cont">
        <table class="table table-striped tab-tbl table-bordered">
            <thead>
                <tr>
                    <th><a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParm"]">Application ID<p class="btn-xs glyphicon @ViewData["glyph-id"]"></p></a></th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Payee</th>
                    <th>Maker</th>
                    <th>Verifier</th>
                    <th><a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Application Date<p class="btn-xs glyphicon @ViewData["glyph-appDate"]"></p></a></th>
                    <th>Last Updated</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        @*@{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

            <a asp-action="Index"
                asp-route-sortOrder="@ViewData["CurrentSort"]"
                asp-route-page="@(Model.PageIndex - 1)"
                asp-route-currentFilter="@ViewData["CurrentFilter"]"
                class="btn btn-xs btn-default @prevDisabled glyphicon glyphicon-menu-left">
            </a>
            <input type="text" class="pagination-input" id="paginationInput" val="" />
            <input type="text" class="pagination-input" value="of @(Model.TotalPages)" disabled/>
            <a asp-action="Index"
                asp-route-sortOrder="@ViewData["CurrentSort"]"
                asp-route-page="@(Model.PageIndex + 1)"
                asp-route-currentFilter="@ViewData["CurrentFilter"]"
                class="btn btn-xs btn-default @nextDisabled glyphicon glyphicon-menu-right">
            </a>*@
    </div>
</div>
<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
</environment>
<script type="text/javascript">
</script>