
@{
    ViewData["Title"] = "EntityTabsPartial";
}
<div id="entry-tabs" class="m-l-5 m-r-5" onload="init()">
    <ul class="m-t-0" id="entity-tabs">
        <li class="active ent-tabs" id="cv">@Html.ActionLink("Check Payment", "Entry_CV", "Home")</li>
        <li class="ent-tabs" id="ddv">@Html.ActionLink("Diirect Deposit", "Entry_DDV", "Home")</li>
        <li class="ent-tabs" id="pcv">@Html.ActionLink("Petty Cash", "Entry_PCV", "Home")</li>
        <li class="ent-tabs" id="ss">@Html.ActionLink("Cash Advance", "Entry_SS", "Home")</li>
        <li class="ent-tabs" id="nc">@Html.ActionLink("Non-Cash", "Entry_NC", "Home")</li>
    </ul>

</div>
