@model List<ExpenseProcessingSystem.ViewModels.BMViewModel>

@{
    ViewData["Title"] = "BudgetRegistrationModal";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}
@using (Html.BeginForm("RegisterNewBudget", "Modal", FormMethod.Post, new { @id = "tsForm" }))
{
    <div style="height:450px;overflow-y: scroll">
        <table class="table table-striped tab-tbl"style="width:100%">
            <colgroup>
                <col style="width:25%">
                <col style="width:20%">
                <col style="width:15%">
                <col style="width:20%">
                <col style="width:20%">
            </colgroup>
            <thead>
                <tr>
                    <td class="p-l-150"><text>Account : </text></td>
                    <td class="p-l-150"><text>Account Number: </text></td>
                    <td class="p-l-150"><text>G-Base Budget Code: </text></td>
                    <td><text>Current Budget : </text></td>
                    <td><text>New Budget : </text></td>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td>
                            @Html.TextBoxFor(x => Model[i].BM_Acc_Name, new { @class = "input100 w-80 txtAccName", @readonly = "readonly" })
                        </td>
                        <td>
                            @Html.TextBoxFor(x => Model[i].BM_Acc_Num, new { @class = "input100 w-80 txtAccNum", @readonly = "readonly" })
                        </td>
                        <td>
                            @Html.TextBoxFor(x => Model[i].BM_GBase_Code, new { @class = "input100 w-80 txtGbaseCode", @readonly = "readonly" })
                        </td>
                        <td>
                            @Html.TextBoxFor(x => Model[i].BM_Budget_Current, "{0:#,##0.00#}", new { @class = "input100 w-80 txtCurrBudget", @readonly = "readonly" })
                        </td>
                        <td>
                            @Html.TextBoxFor(x => Model[i].BM_Budget_Amount, new { @class = "input100 w-80 txtNewBudget", @type = "Number" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<script>
    $(document).ready(function () {
        $('#saveBtnEntry').show()

        $(function () {
            $(".txtNewBudget").change(function () {
                $('.txtNewBudget').val(round($('.txtNewBudget').val(), 2));
            });

            function round(value, exp) {
                if (typeof exp === 'undefined' || +exp === 0)
                    return Math.round(value);

                value = +value;
                exp = +exp;

                if (isNaN(value) || !(typeof exp === 'number' && exp % 1 === 0))
                    return NaN;

                // Shift
                value = value.toString().split('e');
                value = Math.round(+(value[0] + 'e' + (value[1] ? (+value[1] + exp) : exp)));

                // Shift back
                value = value.toString().split('e');
                return +(value[0] + 'e' + (value[1] ? (+value[1] - exp) : -exp));
            }

            function addCommas(nStr) {
                nStr += '';
                x = nStr.split('.');
                x1 = x[0];
                x2 = x.length > 1 ? '.' + x[1] : '';
                var rgx = /(\d+)(\d{3})/;
                while (rgx.test(x1)) {
                    x1 = x1.replace(rgx, '$1' + ',' + '$2');
                }
                return x1 + x2;
            }
        });
    });
</script>