@model ExpenseProcessingSystem.ViewModels.BMRegHistViewModel
    
@{
    ViewData["Title"] = "BudgetRegHistModal";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}
<div id="divDDLYear">
    @Html.DropDownListFor(m => m.Year, new SelectList(Model.YearList, "YearID", "YearID"), null, new { @class = "ddlYear input100", @style="width:10%;height:10%" })
</div>
<div style="height:450px;overflow-y: scroll">
    <table class="table table-striped tab-tbl table-hover" style="width:100%">
        <thead>
            <tr>
                <td>
                    <text>Account Name</text>
                </td>
                <td>
                    <text>Account Number</text>
                </td>
                <td>
                    <text>G-Base Budget Code</text>
                </td>
                <td style="text-align:right">
                    <text>Budget Registered</text>
                </td>
                <td style="text-align:center">
                    <text>Date Registered</text>
                </td>
                <td>
                    <text>Registered By</text>
                </td>
            </tr>
        </thead>
        <tbody>
            @if (Model.BMVM.Count() != 0)
            {
                foreach (var i in Model.BMVM)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(x => i.BM_Acc_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(x => i.BM_Acc_Num)
                        </td>
                        <td>
                            @Html.DisplayFor(x => i.BM_GBase_Code)
                        </td>
                        <td style="text-align:right">
                            @Html.DisplayFor(x => i.BM_Budget_Amount)
                        </td>
                        <td style="text-align:center">
                            @Html.DisplayFor(x => i.BM_Date_Registered)
                        </td>
                        <td>
                            @Html.DisplayFor(x => i.BM_Creator_Name)
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" style="text-align:center">No record found</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#saveBtnEntry').css('display', 'none');

        $(".ddlYear").change(function () {
            var modalDivBody = $('.modal-body');

            if ($('.modal-header').find(".modal-title")[0] == null) {
                $('.modal-header').append('<h4 class="modal-title">History of Budget Registration</h4>');
            }

             modalDivBody.load("@Url.Action("BudgetRegHistModal", "Modal")", {
                 year: $(this).val()
            }, function (response, status, xhr) {
                if (status == "error") {
                    alert("Something went wrong.");
                } else {

                }
            });

            //$('.myModal2').modal('show');
        });
            
    });
</script>