@using ExpenseProcessingSystem.Services
@model ExpenseProcessingSystem.ViewModels.ClosingBrkDwnViewModel
@{
    decimal billsTotal = Mizuho.round(Model.CBD_oneKAmount + Model.CBD_fiveHAmount + Model.CBD_twoHAmount + Model.CBD_oneHAmount + Model.CBD_fiftyAmount + Model.CBD_twentyAmount, 2);
    decimal coinsTotal = Mizuho.round(Model.CBD_tenAmount + Model.CBD_fiveAmount + Model.CBD_oneAmount + Model.CBD_c25Amount + Model.CBD_c10Amount + Model.CBD_c5Amount + Model.CBD_c1Amount, 2);
}
<div style="text-align:center">
    <h5>MIZUHO BANK, LTD. - MANILA BRANCH</h5>
    <p>Administration Department</p>
    <br />
    <br />
    <p>Cash Closing Sheet</p>
</div>
<div style="float:left">
    Date : @Html.DisplayFor(x => x.CBD_Date, new { @readonly = "readonly" })
</div>
<div style="float:right;width:40%">
    @if (Model.CBD_displayMode)
    {
        if (Model.enableBtn && ViewBag.Approver == "approver")
        {
            <button id="pcConfirm" class="tbl-btn float-r w-70">Confirm</button>
        }
        else
        {
            <button class="tbl-btn float-r w-70" disabled>Confirm</button>
        }
    }
    else
    {
        <table style="width:100%">
            <colgroup>
                <col style="border:1px solid black;width:33%;" />
                <col style="border:1px solid black;width:33%;" />
                <col style="border:1px solid black;width:33%;" />
            </colgroup>
            <thead>
                <tr>
                    <td style="border:1px solid black;text-align:center">MGR</td>
                    <td style="border:1px solid black;text-align:center">OFFICER</td>
                    <td style="border:1px solid black;text-align:center">STAFF</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    }
</div>
@if (!Model.CBD_displayMode)
{
    <br />
    <br />
}
<br />
<br />
<div style="text-align:center"><p>CLOSING Balance Confirmation</p></div>
<div class="flex-c" style="margin:0px" id="brkDwnContent">
    @using (Html.BeginForm("SaveBrkDwn", "Modal", FormMethod.Post, new { @id = "inputForm", @class="w-97" }))
    {
        <table class="table-striped tab-tbl w-100" style="border:2px solid black;" >
            <tbody>
                <tr style="height: 18px; border:2px solid black;">
                    <td style="width: 40%; height: 18px; border:2px solid black;" colspan="3">&nbsp;</td>
                    <td style="width: 20%; height: 18px; border:2px solid black;" colspan="2"><strong>Currency</strong></td>
                    <td style="width: 40%; height: 18px; border:2px solid black;" colspan="2"><strong>Total Amount</strong></td>
                </tr>
                <tr style="height: 18px;border:1px solid black;">
                    <td style="width: 40%; height: 18px; text-align: center; border:1px solid black;" colspan="3"><strong>Opening Balance</strong></td>
                    <td style="width: 20%; height: 18px; text-align: center; border:1px solid black;" colspan="2">PHP</td>
                    <td class="p" style="width: 40%; height: 18px; text-align: center; border:1px solid black;" colspan="2"><em style="font-style:normal;" id="CBD_opeBalance_pop">@Model.CBD_opeBalance.ToString("N2")</em></td>
                </tr>
                <tr style="height: 18px; border:1px solid black;">
                    <td style="width: 40%; height: 18px; text-align: center; border:1px solid black;" colspan="3">Recieved</td>
                    <td style="width: 20%; height: 18px; text-align: center; border:1px solid black;" colspan="2">PHP</td>
                    <td style="width: 40%; height: 18px; text-align: center; border:1px solid black;" colspan="2"><em style="font-style:normal;" id="CBD_recieve_pop">@Model.CBD_recieve.ToString("N2")</em></td>
                </tr>
                <tr style="height: 18px;">
                    <td style="width: 40%; height: 18px; text-align: center; border:1px solid black;" colspan="3">Disbursed</td>
                    <td style="width: 20%; height: 18px; text-align: center; border:1px solid black;" colspan="2">PHP</td>
                    <td style="width: 40%; height: 18px; text-align: center; border:1px solid black;" colspan="2"><em style="font-style:normal;" id="CBD_disburse_pop">@Model.CBD_disburse.ToString("N2")</em></td>
                </tr>
                <tr style="height: 18px;">
                    <td style="width: 40%; height: 18px; text-align: center; border:1px solid black;" colspan="3"><strong>Closing Balance</strong></td>
                    <td style="width: 20%; height: 18px; text-align: center; border:1px solid black;" colspan="2">PHP</td>
                    <td style="width: 40%; height: 18px; text-align: center; border:1px solid black;" colspan="2"><em style="font-style:normal;" id="CBD_closeBalance_pop"> @Model.CBD_closeBalance.ToString("N2")</em></td>
                </tr>
                <tr style="height: 18px; border:2px solid black;">
                    <td style="width: 30%; height: 18px; text-align: center; border:2px solid black;" colspan="2"><strong>Denomination</strong></td>
                    <td style="width: 20%; height: 18px; text-align: center; border:2px solid black;" colspan="2"><strong>No. Of Pieces</strong></td>
                    <td style="width: 10%; height: 18px; text-align: center; border:2px solid black;" colspan="2"><strong>Vault</strong></td>
                    <td style="width: 40%; height: 18px; text-align: center; border:2px solid black;"><strong>Amount</strong></td>
                </tr>
                <tr style="height: 18px;">
                    <td style="width: 10%; height: 109px; border:1px solid black; padding:3px" rowspan="6"><p style=" writing-mode:tb-rl;padding-top:50%;">B&nbsp;I&nbsp;L&nbsp;L&nbsp;S</p></td>
                    <td style="width: 20%; height: 18px; text-align: center; border:1px solid black; padding:3px">1,000.00</td>
                    <td style="width: 20%; height: 18px; text-align: center; border:1px solid black; padding:3px" colspan="2">
                        @if (Model.CBD_displayMode)
                        {
                            @Model.CBD_oneK
                        }
                        else
                        {
                            @Html.TextBoxFor(x => x.CBD_oneK, new { @id = "CBD_oneK", @class = "w-49" })
                        }
                    </td>
                    <td style="width: 10%; height: 18px; text-align: center; border:1px solid black; padding:3px" colspan="2">N/A</td>
                    <td style="width: 40%; height: 18px; text-align: center; border:1px solid black; padding:3px">
                        <em style="font-style:normal" id="CBD_oneKAmount">@Model.CBD_oneKAmount.ToString("N2")</em>
                    </td>
                </tr>
                <tr style="height: 18px; border:1px solid black;">
                    <td style="width: 20%; height: 18px; text-align: center; border:1px solid black; padding:3px">500.00</td>
                    <td style="width: 20%; height: 18px; text-align: center; border:1px solid black; padding:3px" colspan="2">
                        @if (Model.CBD_displayMode)
                        {
                            @Model.CBD_fiveH
                        }
                        else
                        {
                            @Html.TextBoxFor(x => x.CBD_fiveH, new { @id = "CBD_fiveH", @class = "w-49" })
                        }
                    </td>
                    <td style="width: 10%; height: 18px; text-align: center; border:1px solid black; padding:3px" colspan="2">N/A</td>
                    <td style="width: 40%; height: 18px; text-align: center; border:1px solid black; padding:3px">
                        <em style="font-style:normal" id="CBD_fiveHAmount">@Model.CBD_fiveHAmount.ToString("N2")</em>
                    </td>
                </tr>
                <tr style="height: 18px; border:1px solid black;">
                    <td style="width: 20%; height: 18px; text-align: center; border:1px solid black; padding:3px">200.00</td>
                    <td style="width: 20%; height: 18px; text-align: center; border:1px solid black; padding:3px" colspan="2">
                        @if (Model.CBD_displayMode)
                        {
                            @Model.CBD_twoH
                        }
                        else
                        {
                            @Html.TextBoxFor(x => x.CBD_twoH, new { @id = "CBD_twoH", @class = "w-49" })
                        }
                    </td>
                    <td style="width: 10%; height: 18px; text-align: center; border:1px solid black; padding:3px" colspan="2">N/A</td>
                    <td style="width: 40%; height: 18px; text-align: center; border:1px solid black; padding:3px">
                        <em style="font-style:normal" id="CBD_twoHAmount">@Model.CBD_twoHAmount.ToString("N2")</em>
                    </td>
                </tr>
                <tr style="height: 19px; border:1px solid black;">
                    <td style="width: 20%; height: 19px; text-align: center; border:1px solid black; padding:3px">100.00</td>
                    <td style="width: 20%; height: 19px; text-align: center; border:1px solid black; padding:3px" colspan="2">
                        @if (Model.CBD_displayMode)
                        {
                            @Model.CBD_oneH
                        }
                        else
                        {
                            @Html.TextBoxFor(x => x.CBD_oneH, new { @id = "CBD_oneH", @class = "w-49" })
                        }
                    </td>
                    <td style="width: 10%; height: 19px; text-align: center; border:1px solid black; padding:3px" colspan="2">N/A</td>
                    <td style="width: 40%; height: 19px; text-align: center; border:1px solid black; padding:3px">
                        <em style="font-style:normal" id="CBD_oneHAmount">@Model.CBD_oneHAmount.ToString("N2")</em>
                    </td>
                </tr>
                <tr style="height: 18px; border:1px solid black;">
                    <td style="width: 20%; height: 18px; text-align: center; border:1px solid black; padding:3px">50.00</td>
                    <td style="width: 20%; height: 18px; text-align: center; border:1px solid black; padding:3px" colspan="2">
                        @if (Model.CBD_displayMode)
                        {
                            @Model.CBD_fifty
                        }
                        else
                        {
                            @Html.TextBoxFor(x => x.CBD_fifty, new { @id = "CBD_fifty", @class = "w-49" })
                        }
                    </td>
                    <td style="width: 10%; height: 18px; text-align: center; border:1px solid black; padding:3px" colspan="2">N/A</td>
                    <td style="width: 40%; height: 18px; text-align: center; border:1px solid black; padding:3px">
                        <em style="font-style:normal" id="CBD_fiftyAmount">@Model.CBD_fiftyAmount.ToString("N2")</em>
                    </td>
                </tr>
                <tr style="height: 18px; border:1px solid black;">
                    <td style="width: 20%; height: 18px; text-align: center; border:1px solid black; padding:3px">20.00</td>
                    <td style="width: 20%; height: 18px; text-align: center; border:1px solid black; padding:3px" colspan="2">
                        @if (Model.CBD_displayMode)
                        {
                            @Model.CBD_twenty
                        }
                        else
                        {
                            @Html.TextBoxFor(x => x.CBD_twenty, new { @id = "CBD_twenty", @class = "w-49" })
                        }
                    </td>
                    <td style="width: 10%; height: 18px; text-align: center; border:1px solid black; padding:3px" colspan="2">N/A</td>
                    <td style="width: 40%; height: 18px; text-align: center; border:1px solid black; padding:3px">
                        <em style="font-style:normal" id="CBD_twentyAmount">@Model.CBD_twentyAmount.ToString("N2")</em>
                    </td>
                </tr>
                <tr style="height: 18px; border:2px solid black;">
                    <td style="width: 30%; height: 18px; text-align: center; border:2px solid black;" colspan="2"><strong>Sub Total</strong></td>
                    <td style="width: 30%; height: 18px; text-align: center; background-color:black; border:2px solid black;" colspan="4">&nbsp;</td>
                    <td style="width: 40%; height: 18px; text-align: center; border:2px solid black;">
                        <strong>
                            <em style="font-style:normal" id="CBD_billTotal">@billsTotal.ToString("N2")</em>
                        </strong>
                    </td>
                </tr>
                <tr style="height: 18px; border:1px solid black;">
                    <td style="width: 10%; height: 18px; border:1px solid black;" rowspan="7"><p style=" writing-mode:tb-rl;padding-top:50%;">C&nbsp;O&nbsp;I&nbsp;N&nbsp;S</p></td>
                    <td style="width: 20%; height: 18px; text-align: center; border:1px solid black; padding:3px">10.00</td>
                    <td style="width: 20%; height: 18px; text-align: center; border:1px solid black; padding:3px" colspan="2">
                        @if (Model.CBD_displayMode)
                        {
                            @Model.CBD_ten
                        }
                        else
                        {
                            @Html.TextBoxFor(x => x.CBD_ten, new { @id = "CBD_ten", @class = "w-49" })
                        }
                    </td>
                    <td style="width: 10%; height: 18px; text-align: center; border:1px solid black; padding:3px" colspan="2">N/A</td>
                    <td style="width: 40%; height: 18px; text-align: center; border:1px solid black; padding:3px">
                        <em style="font-style:normal" id="CBD_tenAmount">@Model.CBD_tenAmount.ToString("N2")</em>
                    </td>
                </tr>
                <tr style="height: 18px; border:1px solid black;">
                    <td style="width: 20%; height: 18px; text-align: center; border:1px solid black; padding:3px">5.00</td>
                    <td style="width: 20%; height: 18px; text-align: center; border:1px solid black; padding:3px" colspan="2">
                        @if (Model.CBD_displayMode)
                        {
                            @Model.CBD_five
                        }
                        else
                        {
                            @Html.TextBoxFor(x => x.CBD_five, new { @id = "CBD_five", @class = "w-49" })
                        }
                    </td>
                    <td style="width: 10%; height: 18px; text-align: center; border:1px solid black; padding:3px" colspan="2">N/A</td>
                    <td style="width: 40%; height: 18px; text-align: center; border:1px solid black; padding:3px">
                        <em style="font-style:normal" id="CBD_fiveAmount">@Model.CBD_fiveAmount.ToString("N2")</em>
                    </td>
                </tr>
                <tr style="height: 18px; border:1px solid black;">
                    <td style="width: 20%; height: 18px; text-align: center; border:1px solid black; padding:3px">1.00</td>
                    <td style="width: 20%; height: 18px; text-align: center; border:1px solid black; padding:3px" colspan="2">
                        @if (Model.CBD_displayMode)
                        {
                            @Model.CBD_one
                        }
                        else
                        {
                            @Html.TextBoxFor(x => x.CBD_one, new { @id = "CBD_one", @class = "w-49" })
                        }
                    </td>
                    <td style="width: 10%; height: 18px; text-align: center; border:1px solid black; padding:3px" colspan="2">N/A</td>
                    <td style="width: 40%; height: 18px; text-align: center; border:1px solid black; padding:3px">
                        <em style="font-style:normal" id="CBD_oneAmount">@Model.CBD_oneAmount.ToString("N2")</em>
                    </td>
                </tr>
                <tr style="height: 18px; border:1px solid black;">
                    <td style="width: 20%; height: 18px; text-align: center; border:1px solid black; padding:3px">0.25</td>
                    <td style="width: 20%; height: 18px; text-align: center; border:1px solid black; padding:3px" colspan="2">
                        @if (Model.CBD_displayMode)
                        {
                            @Model.CBD_c25
                        }
                        else
                        {
                            @Html.TextBoxFor(x => x.CBD_c25, new { @id = "CBD_c25", @class = "w-49" })
                        }
                    </td>
                    <td style="width: 10%; height: 18px; text-align: center; border:1px solid black; padding:3px" colspan="2">N/A</td>
                    <td style="width: 40%; height: 18px; text-align: center; border:1px solid black; padding:3px">
                        <em style="font-style:normal" id="CBD_c25Amount">@Model.CBD_c25Amount.ToString("N2")</em>
                    </td>
                </tr>
                <tr style="height: 18px; border:1px solid black;">
                    <td style="width: 20%; height: 18px; text-align: center; border:1px solid black; padding:3px">0.10</td>
                    <td style="width: 20%; height: 18px; text-align: center; border:1px solid black; padding:3px" colspan="2">
                        @if (Model.CBD_displayMode)
                        {
                            @Model.CBD_c10
                        }
                        else
                        {
                            @Html.TextBoxFor(x => x.CBD_c10, new { @id = "CBD_c10", @class = "w-49" })
                        }
                    </td>
                    <td style="width: 10%; height: 18px; text-align: center; border:1px solid black; padding:3px" colspan="2">N/A</td>
                    <td style="width: 40%; height: 18px; text-align: center; border:1px solid black; padding:3px">
                        <em style="font-style:normal" id="CBD_c10Amount">@Model.CBD_c10Amount.ToString("N2")</em>
                    </td>
                </tr>
                <tr style="height: 18px; border:1px solid black;">
                    <td style="width: 20%; height: 18px; text-align: center; border:1px solid black; padding:3px">0.05</td>
                    <td style="width: 20%; height: 18px; text-align: center; border:1px solid black; padding:3px" colspan="2">
                        @if (Model.CBD_displayMode)
                        {
                            @Model.CBD_c5
                        }
                        else
                        {
                            @Html.TextBoxFor(x => x.CBD_c5, new { @id = "CBD_c5", @class = "w-49" })
                        }
                    </td>
                    <td style="width: 10%; height: 18px; text-align: center; border:1px solid black; padding:3px" colspan="2">N/A</td>
                    <td style="width: 40%; height: 18px; text-align: center; border:1px solid black; padding:3px">
                        <em style="font-style:normal" id="CBD_c5Amount">@Model.CBD_c5Amount.ToString("N2")</em>
                    </td>
                </tr>
                <tr style="height: 18px; border:1px solid black;">
                    <td style="width: 20%; height: 18px; text-align: center; border:1px solid black; padding:3px">0.01</td>
                    <td style="width: 20%; height: 18px; text-align: center; border:1px solid black; padding:3px" colspan="2">
                        @if (Model.CBD_displayMode)
                        {
                            @Model.CBD_c1
                        }
                        else
                        {
                            @Html.TextBoxFor(x => x.CBD_c1, new { @id = "CBD_c1", @class = "w-49" })
                        }
                    </td>
                    <td style="width: 10%; height: 18px; text-align: center; border:1px solid black; padding:3px" colspan="2">N/A</td>
                    <td style="width: 40%; height: 18px; text-align: center; border:1px solid black; padding:3px">
                        <em style="font-style:normal" id="CBD_c1Amount">@Model.CBD_c1Amount.ToString("N2")</em>
                    </td>
                </tr>
                <tr style="height: 18px; border:2px solid black;">
                    <td style="width: 30%; height: 18px; text-align: center; border:2px solid black;" colspan="2"><strong>Subtotal</strong></td>
                    <td style="width: 30%; height: 18px; text-align: center; background-color:black; border:2px solid black;" colspan="4">&nbsp;</td>
                    <td style="width: 40%; height: 18px; text-align: center; border:2px solid black;">
                        <strong>
                            <em style="font-style:normal" id="CBD_coinTotal">@coinsTotal.ToString("N2")</em>
                        </strong>
                    </td>
                </tr>
                <tr style="height: 18px; border:1px solid black;">
                    <td style="width: 70%; height: 18px; text-align: center; border:1px solid black;" colspan="6"><strong>Closing Balance</strong></td>
                    <td style="width: 30%; height: 18px; text-align: center; border:1px solid black;">
                        <span style="text-decoration: underline;">
                            <strong>
                                <em id="ClosingTotal">@((billsTotal + coinsTotal).ToString("N2"))</em>
                            </strong>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    }
    </div>
@if (!Model.CBD_displayMode)
{
    <hr style="border-top: dashed 1px;" />
    <br />
    <div>
        <div style="float:left;text-decoration-line:underline;">
            <h5 style="font-size:14px">Opening Balance Confirmation</h5>
        </div>
        <div style="float:right;">
            <p class="dis-inline"> Date : </p> <h5 class="dis-inline" style="text-decoration-line:underline;">@Model.CBD_Date.AddDays(1).ToString("yyyy/MM/dd")</h5>
        </div>
        <br />        <br />
        <p style="font-style:italic;font-size:11px;width:100%">
            The stamp/sign on the corresponding box below represents the Manager's confirmation of balance against the Balance Sheet.
        </p>
        <br />
        <table style="width:100%">
            <colgroup>
                <col style="border:1px solid black;width:25%;" />
                <col style="border:1px solid black;width:15%;" />
                <col style="border:1px solid black;width:15%;" />
                <col style="border:1px solid black;width:45%;" />
            </colgroup>
            <thead>
                <tr>
                    <td style="border:1px solid black;text-align:center">Confirmation of Balance</td>
                    <td style="border:1px solid black;text-align:center">YES</td>
                    <td style="border:1px solid black;text-align:center">NO</td>
                    <td style="border:1px solid black;text-align:center">If NO, state the reason for discrepancy</td>
                </tr>
            </thead>
            <tbody>
                <tr style="height:50px;">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
}
@if (Model.message != null)
{
    <text>
    <input type="hidden" id="eMessage" value="@Model.message" />
    </text>
}
    <script>
    $(function () {

        @if (!Model.enableBtn)
        {
        <text>
        $('#brkDwnSubmit').hide();
        </text>
        }

        $("#brkDwnContent").on("change", "input", function () {
            var dict = new Object();
            dict["CBD_oneK"] = 1000;
            dict["CBD_fiveH"] = 500;
            dict["CBD_twoH"] = 200;
            dict["CBD_oneH"] = 100;
            dict["CBD_fifty"] = 50;
            dict["CBD_twenty"] = 20;
            dict["CBD_ten"] = 10;
            dict["CBD_five"] = 5;
            dict["CBD_one"] = 1;
            dict["CBD_c25"] = .25;
            dict["CBD_c10"] = .10;
            dict["CBD_c5"] = .05;
            dict["CBD_c1"] = .01;

            var id = $(this).attr("id");
            var total = roundNumber(($(this).val() * dict[id]), 2);
            var totalStringFormat = total.toLocaleString(undefined, { maximumFractionDigits: 2 })
            var totalDecHolder = totalStringFormat.split(".");
            if (totalDecHolder.length <= 1) {
                totalStringFormat += ".00";
            }

            $("#" + id + "Amount").html(totalStringFormat);

            total = 0;
            var index = 0;
            for (var key in dict) {
                var value = dict[key];

                total += parseFloat($("#" + key + "Amount").html().replace(/,/g, ''));
                if (index == 5) {
                    var billNumber = roundNumber(total, 2);
                    var billTotal = billNumber.toLocaleString(undefined, { maximumFractionDigits: 2 })
                    var billDecHolder = billTotal.split(".");
                    if (billDecHolder.length <= 1) {
                        billTotal += ".00";
                    }
                    $("#CBD_billTotal").html(billTotal);
                    total = 0.00;
                }
                index++;
            }

            var coinNumber = roundNumber(total, 2);
            var coinTotal = coinNumber.toLocaleString(undefined, { maximumFractionDigits: 2 })
            var coinDecHolder = coinTotal.split(".");
            if (coinDecHolder.length <= 1) {
                coinTotal += ".00";
            }
            $("#CBD_coinTotal").html(coinTotal);

            var grandTotal = roundNumber((total + parseFloat($("#CBD_billTotal").html().replace(/,/g, ''))), 2);
            var grandString = grandTotal.toLocaleString(undefined, { maximumFractionDigits: 2 })
            var GrandHolder = grandString.split(".");
            if (GrandHolder.length <= 1) {
                grandString += ".00";
            }
            $("#ClosingTotal").html(grandString);
        });

        $(".modal-body").on("click", "#pcConfirm", function () {
            window.location.replace("../Modal/CloseConfirmPettyCash");
        });
    });
    </script>