
@{
    ViewData["Title"] = "DMAddVendor_Pending";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

@using ExpenseProcessingSystem.ViewModels
@model NewVendorListViewModel

<div id="table" class="">
    @using (Html.BeginForm("AddVendor_Pending", "Home", FormMethod.Post, new { @class = "validate-form addVendorForm", @id = "tsForm" }))
    {
        <table class="table table-bordered editable-th">
            <colgroup>
                <col style="width: 12.5%" />
                <col style="width: 12.5%" />
                <col style="width: 12.5%" />
                <col style="width: 22.5%" />
                <col style="width: 22.5%" />
                <col style="width: 2.5%" />
            </colgroup>
            <tr>
                <th>Vendor</th>
                <th>TIN</th>
                <th>Address</th>
                <th>Tax Rate/s</th>
                <th>VAT/s</th>
                <th></th>
            </tr>
            <tr id="NewVendor-Tr-0">
                <td>@Html.TextBoxFor(m => m.NewVendorVM[0].Vendor_Name, new { @class = "w-full input voucher-input" })</td>
                <td>@Html.TextBoxFor(m => m.NewVendorVM[0].Vendor_TIN, new { @class = "w-full input-tin input voucher-input", @maxlength = "15"@*, @pattern = "\\d-{15}"*@ })</td>
                <td>@Html.TextBoxFor(m => m.NewVendorVM[0].Vendor_Address, new { @class = "w-full input voucher-input" })</td>
                <td>
                    <div style="height:80px; overflow-y:scroll">
                        @if (Model.Vendor_Tax_Rates.Count > 0)
                        {
                            @foreach (var trName in Model.Vendor_Tax_Rates)
                            {
                                <label id="lbl">
                                    @Html.CheckBox(trName.TR_WT_Title, new { @id = "chk" + trName.TR_MasterID, @class = "trChk", value = trName.TR_MasterID })
                                    <label>@trName.TR_WT_Title.ToString()</label>
                                </label>
                            }
                        }
                    </div>
                </td>
                <td>
                    <div style="height:80px; overflow-y:scroll">
                        @if (Model.Vendor_VAT.Count > 0)
                        {
                            @foreach (var vatName in Model.Vendor_VAT)
                            {
                                <label id="lbl">
                                    @Html.CheckBox(vatName.VAT_Name, new { @id = "chk", @class = "vatChk", value = vatName.VAT_MasterID })
                                    <label>@vatName.VAT_Name.ToString()</label>
                                </label>
                            }
                        }
                    </div>
                </td>
                <td>
                    @Html.HiddenFor(m => m.NewVendorVM[0].Vendor_Tax_Rates_ID)
                    @Html.HiddenFor(m => m.NewVendorVM[0].Vendor_VAT_ID)
                </td>
            </tr>
        </table>
    }
</div>
<script>
    $(document).ready(function (e) {
        $(".input-tin").keypress(function () {
            var val = $(this).val()
            var len = val.length;
            if (len == 3 || len == 7 || len == 11) {
                $(this).val(val + "-");
            }
        });
    });
</script>