
@{
    ViewData["Title"] = "DMAddTR_Pending";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

@using ExpenseProcessingSystem.ViewModels.NewRecord
@model NewTRListViewModel

<div id="table" class="">
    @using (Html.BeginForm("AddTR_Pending", "Home", FormMethod.Post, new { @class = "validate-form", @id = "tsForm" }))
    {
        <table class="table table-bordered editable-th">
            <tr>
                <th>Withholding Tax Title</th>
                <th>Tax Nature</th>
                <th>Tax Rate</th>
                <th>ATC</th>
                <th>Nature of Income Payment</th>
                <th></th>
            </tr>
            <tr id="NewTR-Tr-0">
                <td>@Html.TextBoxFor(m => m.NewTRVM[0].TR_WT_Title, new { @class = "w-full input voucher-input" })</td>
                <td>@Html.TextBoxFor(m => m.NewTRVM[0].TR_Nature, new { @class = "w-full input voucher-input" })</td>
                <td>@Html.TextBoxFor(m => m.NewTRVM[0].TR_Tax_Rate, new { @class = "w-full input voucher-input" })</td>
                <td>@Html.TextBoxFor(m => m.NewTRVM[0].TR_ATC, new { @class = "w-full input voucher-input" })</td>
                <td>@Html.TextBoxFor(m => m.NewTRVM[0].TR_Nature_Income_Payment, new { @class = "w-full input voucher-input" })</td>
                <td>
                    <span class="table-remove glyphicon glyphicon-remove"></span>
                </td>
            </tr>
        </table>
    }
</div>
