
@{
    ViewData["Title"] = "DMDeleteRegEmp_Pending";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}
@using ExpenseProcessingSystem.ViewModels
@model List<DMEmpViewModel>
<div id="table" class="">
    @using (Html.BeginForm("DeleteEmp_Pending", "Home", FormMethod.Post, new { @class = "validate-form", @id = "tsForm" }))
    {
        <table class="table table-bordered editable-th">
            <tr>
                <th>Employee Name</th>
                <th>Employee Account No</th>
                <th colspan="2">Employee Category</th>
                <th colspan="2">Employee FBT</th>
                <th>Status</th>
            </tr>
            @if (Model != null)
            {
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td>@Html.TextBoxFor(item => item[i].Emp_Name, new { @class = "w-full", @readonly = "readonly" })</td>
                        <td>@Html.TextBoxFor(item => item[i].Emp_Acc_No, new { @class = "w-full", @readonly = "readonly" })</td>
                        <td colspan="2">@Html.TextBoxFor(item => item[i].Emp_Category_Name, new { @class = "w-full", @readonly = "readonly" })</td>
                        <td colspan="2">@Html.TextBoxFor(item => item[i].Emp_FBT_Name, new { @class = "w-full", @readonly = "readonly" })</td>
                        <td>@Html.TextBoxFor(item => item[i].Emp_Status, new { @class = "w-full", @readonly = "readonly" })</td>
                        @Html.HiddenFor(item => item[i].Emp_MasterID)
                        @Html.HiddenFor(item => item[i].Emp_Category_ID)
                        @Html.HiddenFor(item => item[i].Emp_FBT_MasterID)
                    </tr>
                }
            }
        </table>
    }
</div>
