
@{
    ViewData["Title"] = "DMEditFBT_Pending";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}
@using ExpenseProcessingSystem.ViewModels
@model List<DMFBTViewModel>

<div id="table" class="table-editable">
    @using (Html.BeginForm("EditFBT_Pending", "Home", FormMethod.Post, new { @class = "validate-form", @id = "tsForm" }))
    {
        <table class="table table-bordered editable-th">
            <tr>
                <th>FBT Name</th>
                <th>Formula</th>
                <th>Tax Rate</th>
                <th>Status</th>
            </tr>
            @if (Model != null)
            {
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td contenteditable="true">@Html.TextBoxFor(item => item[i].FBT_Name, new { @class = "w-full" })</td>
                        <td contenteditable="true">@Html.TextBoxFor(item => item[i].FBT_Formula, new { @class = "w-full" })</td>
                        <td contenteditable="true">@Html.TextBoxFor(item => item[i].FBT_Tax_Rate, new { @class = "w-full" })</td>
                        <td contenteditable="false">@Html.TextBoxFor(item => item[i].FBT_Status, new { @class = "w-full" })</td>
                        @Html.HiddenFor(item => item[i].FBT_MasterID)
                    </tr>
                }
            }
        </table>
    }
</div>
