
@{
    ViewData["Title"] = "DMEditBCS_Pending";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}
@using ExpenseProcessingSystem.ViewModels
@model DMBCS2ViewModel
<div id="table" class="">
    @using (Html.BeginForm("EditBCS_Pending", "Home", FormMethod.Post, new { @class = "validate-form", @id = "tsForm", enctype = "multipart/form-data" }))
    {
        <table class="table table-bordered editable-th">
            <tr>
                <th colspan="2">Employee Name</th>
                <th>TIN</th>
                <th>Position</th>
                <th colspan="3">Signatures</th>
                <th>Status</th>
            </tr>
            @if (Model != null)
            {
                <tr>
                    <td colspan="2">
                        @{
                            List<SelectListItem> emp = new List<SelectListItem>();
                            emp.Add(new SelectListItem
                            {
                                Text = "--" + Model.BCS_Name + "--",
                                Value = Model.BCS_User_ID + "",
                                Selected = true
                            });
                            emp = (List<SelectListItem>)@ViewBag.empList;
                        }
                        @Html.DropDownListFor(m => m.BCS_User_ID,
                                            emp,
                                            "-- Select from List --",
                                            new { @class = "w-full input" })
                    </td>
                    <td>@Html.TextBoxFor(item => item.BCS_TIN, new { @class = "w-full input voucher-input input-tin", @maxlength = "15" })</td>
                    <td>@Html.TextBoxFor(item => item.BCS_Position, new { @class = "w-full input voucher-input" })</td>
                    <td colspan="3">
                        @Html.TextBoxFor(item => item.BCS_Signatures_Name, new { @class = "w-full input voucher-input" })
                        <input type="file" asp-for="BCS_Signatures">
                    </td>
                    <td>@Html.TextBoxFor(item => item.BCS_Status, new { @class = "w-full", @readonly = "readonly" })</td>
                    @Html.HiddenFor(item => item.BCS_MasterID)
                </tr>
            }
        </table>
    }
</div>

<script>
    $(document).ready(function (e) {
        $(".input-tin").keyup(function () {
            var val = $(this).val()
            var len = val.length;
            if (len == 3 || len == 7 || len == 11) {
                $(this).val(val+"-");
            }
        });
    });
</script>
