
@{
    ViewData["Title"] = "DMEditAccount_Pending";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

@using ExpenseProcessingSystem.ViewModels
@model List<DMAccountViewModel>

<div id="table" class="">
    @using (Html.BeginForm("EditAccount_Pending", "Home", FormMethod.Post, new { @class = "validate-form", @id = "tsForm" }))
    {
        <table class="table table-bordered editable-th">
            <tr>
                <th>Account</th>
                <th>Account Code</th>
                <th>Budget Code</th>
                <th>Number</th>
                <th>Cust</th>
                <th>Div</th>
                <th>Fund</th>
                <th colspan="2">FBT</th>
                <th colspan="2">Account Group</th>
                <th colspan="2">Currency</th>
                <th>Status</th>
            </tr>
            @if (Model != null)
            {
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td>@Html.TextBoxFor(item => item[i].Account_Name, new { @class = "w-full" })</td>
                        <td>@Html.TextBoxFor(item => item[i].Account_Code, new { @class = "w-full" })</td>
                        <td>@Html.TextBoxFor(item => item[i].Account_Budget_Code, new { @class = "w-full" })</td>
                        <td>@Html.TextBoxFor(item => item[i].Account_No, new { @class = "w-full" })</td>
                        <td>@Html.TextBoxFor(item => item[i].Account_Cust, new { @class = "w-full" })</td>
                        <td>@Html.TextBoxFor(item => item[i].Account_Div, new { @class = "w-full" })</td>
                        <td>@Html.CheckBoxFor(item => item[i].Account_Fund, new { @class = "w-full" })</td>
                        <td colspan="2">
                            @{
                                List<SelectListItem> fbtList = new List<SelectListItem>();
                                fbtList.Add(new SelectListItem
                                {
                                    Text = "--" + Model[i].Account_FBT_Name + "--",
                                    Value = Model[i].Account_FBT_MasterID + "",
                                    Selected = true
                                });
                                fbtList = (List<SelectListItem>)@ViewBag.fbtList;
                            }
                            @Html.DropDownListFor(item => item[i].Account_FBT_MasterID,
                                                @fbtList,
                                                new { @class = "w-full input" })
                        </td>
                        <td colspan="2">
                            @{
                                List<SelectListItem> grpList = new List<SelectListItem>();
                                grpList.Add(new SelectListItem
                                {
                                    Text = "--" + Model[i].Account_Group_Name + "--",
                                    Value = Model[i].Account_Group_MasterID + "",
                                    Selected = true
                                });
                                grpList = (List<SelectListItem>)@ViewBag.grpList;
                            }
                            @Html.DropDownListFor(item => item[i].Account_Group_MasterID,
                                                grpList,
                                                new { @class = "w-full input" })
                        </td>
                        <td colspan="2">
                            @{
                                List<SelectListItem> currList = new List<SelectListItem>();
                                currList.Add(new SelectListItem
                                {
                                    Text = "--" + Model[i].Account_Currency_Name + "--",
                                    Value = Model[i].Account_Currency_MasterID + "",
                                    Selected = true
                                });
                                currList = (List<SelectListItem>)@ViewBag.currList;
                            }
                            @Html.DropDownListFor(item => item[i].Account_Currency_MasterID,
                                                currList,
                                                new { @class = "w-full input" })
                        </td>
                        <td>@Html.TextBoxFor(item => item[i].Account_Status, new { @class = "w-full", @readonly = "readonly" })</td>
                        @Html.HiddenFor(item => item[i].Account_MasterID)
                    </tr>
                }
            }
        </table>
    }
</div>

