
@{
    ViewData["Title"] = "DMEditVendor_Pending";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";

    List<DMTRViewModel> trList = (List<DMTRViewModel>)ViewBag.trList;
    List<DMVATViewModel> vatList = (List<DMVATViewModel>)ViewBag.vatList;
}
@using ExpenseProcessingSystem.ViewModels
@model List<DMVendorViewModel>
<div id="table">
    @using (Html.BeginForm("EditVendor_Pending", "Home", FormMethod.Post, new { @class = "validate-form", @id = "tsForm" }))
    {
        <table class="table table-bordered editable-th">
            <colgroup>
                <col style="width: 12.5%" />
                <col style="width: 12.5%" />
                <col style="width: 12.5%" />
                <col style="width: 22.5%" />
                <col style="width: 22.5%" />
                <col style="width: 2.5%" />
            </colgroup>
            <tr>
                <th>Vendor</th>
                <th>TIN</th>
                <th>Address</th>
                <th>Tax Rates</th>
                <th>VATs</th>
                <th>Status</th>
            </tr>
            @if (Model != null)
            {
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr id="NewVendor-Tr-@i">
                        <td>@Html.TextBoxFor(item => item[i].Vendor_Name, new { @class = "w-full input voucher-input" })</td>
                        <td>@Html.TextBoxFor(item => item[i].Vendor_TIN, new { @class = "w-full input input-tin voucher-input", @maxlength = "15" })</td>
                        <td>@Html.TextBoxFor(item => item[i].Vendor_Address, new { @class = "w-full input voucher-input" })</td>
                        <td>
                            <div style="height:80px; overflow-y:scroll">
                                @if (trList.Count > 0)
                                {
                                    @foreach (var trName in trList)
                                    {
                                        if (Model[i].Vendor_Tax_Rates_ID_List.Contains(trName.TR_ID))
                                        {
                                            <label>
                                                @Html.CheckBox(trName.TR_WT_Title, true, new { @id = "chk" + trName.TR_MasterID, @class = "trChk", value = trName.TR_MasterID })
                                                @trName.TR_WT_Title.ToString()
                                            </label>
                                        }
                                        else
                                        {
                                            <label>
                                                @Html.CheckBox(trName.TR_WT_Title, new { @id = "chk" + trName.TR_MasterID, @class = "trChk", value = trName.TR_MasterID })
                                                @trName.TR_WT_Title.ToString()
                                            </label>
                                        }
                                    }
                                }
                            </div>
                        </td>
                        <td>
                            <div style="height:80px; overflow-y:scroll">
                                @if (vatList.Count > 0)
                                {
                                    @foreach (var vatName in vatList)
                                    {
                                        if (Model[i].Vendor_VAT.Contains(vatName.VAT_Name))
                                        {
                                            <label>
                                                @Html.CheckBox(vatName.VAT_Name, true, new { @id = "chk1", @class = "vatChk", value = vatName.VAT_MasterID })
                                                @vatName.VAT_Name.ToString()
                                            </label>
                                        }
                                        else
                                        {
                                            <label>
                                                @Html.CheckBox(vatName.VAT_Name, new { @id = "chk1", @class = "vatChk", value = vatName.VAT_MasterID })
                                                @vatName.VAT_Name.ToString()
                                            </label>
                                        }
                                    }
                                }
                            </div>
                        </td>
                        <td>@Html.TextBoxFor(item => item[i].Vendor_Status, new { @class = "w-full", @readonly = "readonly" })</td>
                        @Html.HiddenFor(item => item[i].Vendor_MasterID)
                        @Html.HiddenFor(item => item[i].Vendor_Tax_Rates_ID)
                        @Html.HiddenFor(item => item[i].Vendor_VAT_ID)
                    </tr>
                }
            }
        </table>
    }
</div>

<script>
    $(document).ready(function (e) {
        $(".input-tin").keypress(function () {
            var val = $(this).val()
            var len = val.length;
            if (len == 3 || len == 7 || len == 11) {
                $(this).val(val + "-");
            }
        });
    });
</script>