
@{
    ViewData["Title"] = "DMRejAccount";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

@using ExpenseProcessingSystem.ViewModels
@model List<DMAccountViewModel>
<div id="table" class="">
    @using (Html.BeginForm("RejAccount", "Home", FormMethod.Post, new { @class = "validate-form", @id = "tsForm" }))
    {
        <table class="table table-bordered editable-th">
            <tr>
                <th>Account</th>
                <th>Code</th>
                <th>Number</th>
                <th>Cust</th>
                <th>Div</th>
                <th>Fund</th>
                <th>FBT</th>
                <th>Account Group</th>
                <th>Currency</th>
                <th>Status</th>
            </tr>
            @if (Model != null)
            {
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td>@Html.TextBoxFor(item => item[i].Account_Name, new { @class = "w-full", @readonly = "readonly" })</td>
                        <td>@Html.TextBoxFor(item => item[i].Account_Code, new { @class = "w-full", @readonly = "readonly" })</td>
                        <td>@Html.TextBoxFor(item => item[i].Account_No, new { @class = "w-full", @readonly = "readonly" })</td>
                        <td>@Html.TextBoxFor(item => item[i].Account_Cust, new { @class = "w-full", @readonly = "readonly" })</td>
                        <td>@Html.TextBoxFor(item => item[i].Account_Div, new { @class = "w-full", @readonly = "readonly" })</td>
                        <td>@Html.TextBoxFor(item => item[i].Account_Fund, new { @class = "w-full", @readonly = "readonly" })</td>
                        <td>@Html.TextBoxFor(item => item[i].Account_FBT_Name, new { @class = "w-full", @readonly = "readonly" })</td>
                        <td>@Html.TextBoxFor(item => item[i].Account_Group_Name, new { @class = "w-full", @readonly = "readonly" })</td>
                        <td>@Html.TextBoxFor(item => item[i].Account_Currency_Name, new { @class = "w-full", @readonly = "readonly" })</td>
                        <td>@Html.TextBoxFor(item => item[i].Account_Status, new { @class = "w-full", @readonly = "readonly" })</td>
                        @Html.HiddenFor(item => item[i].Account_MasterID)
                    </tr>
                }
            }
        </table>
    }
</div>
