
@{
    ViewData["Title"] = "DMRejBCS";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

@using ExpenseProcessingSystem.ViewModels
@model List<DMBCSViewModel>
    <div id="table" class="">
        @using (Html.BeginForm("RejBCS", "Home", FormMethod.Post, new { @class = "validate-form", @id = "tsForm" }))
        {
            <table class="table table-bordered editable-th">
                <tr>
                    <th>Employee Name</th>
                    <th>TIN</th>
                    <th>Position</th>
                    <th>Signatures</th>
                    <th>Status</th>
                </tr>
                @if (Model != null)
                {
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <td>@Html.TextBoxFor(item => item[i].BCS_Name, new { @class = "w-full", @readonly = "readonly" })</td>
                            <td>@Html.TextBoxFor(item => item[i].BCS_TIN, new { @class = "w-full", @readonly = "readonly" })</td>
                            <td>@Html.TextBoxFor(item => item[i].BCS_Position, new { @class = "w-full", @readonly = "readonly" })</td>
                            <td>@Html.TextBoxFor(item => item[i].BCS_Signatures, new { @class = "w-full", @readonly = "readonly" })</td>
                            <td>@Html.TextBoxFor(item => item[i].BCS_Status, new { @class = "w-full", @readonly = "readonly" })</td>
                            @Html.HiddenFor(item => item[i].BCS_MasterID)
                            @Html.HiddenFor(item => item[i].BCS_User_ID)
                            @Html.HiddenFor(item => item[i].BCS_Creator_ID)
                        </tr>
                    }
                }
            </table>
        }
    </div>
