
@{
    ViewData["Title"] = "DMRejTR";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}
@using ExpenseProcessingSystem.ViewModels
@model List<DMTRViewModel>
<div id="table" class="table-editable">
    @using (Html.BeginForm("RejTR", "Home", FormMethod.Post, new { @class = "validate-form", @id = "tsForm" }))
    {
        <table class="table table-bordered editable-th">
            <tr>
                <th>Withholding Tax Title</th>
                <th>Tax Nature</th>
                <th>Tax Rate</th>
                <th>ATC</th>
                <th>Nature of Income Payment</th>
                <th>Status</th>
            </tr>
            @if (Model != null)
            {
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td contenteditable="false">@Html.TextBoxFor(item => item[i].TR_WT_Title, new { @class = "w-full" })</td>
                        <td contenteditable="false">@Html.TextBoxFor(item => item[i].TR_Nature, new { @class = "w-full" })</td>
                        <td contenteditable="false">@Html.TextBoxFor(item => item[i].TR_Tax_Rate, new { @class = "w-full" })</td>
                        <td contenteditable="false">@Html.TextBoxFor(item => item[i].TR_ATC, new { @class = "w-full" })</td>
                        <td contenteditable="false">@Html.TextBoxFor(item => item[i].TR_Nature_Income_Payment, new { @class = "w-full" })</td>
                        <td contenteditable="false">@Html.TextBoxFor(item => item[i].TR_Status, new { @class = "w-full" })</td>
                        @Html.HiddenFor(item => item[i].TR_MasterID)
                    </tr>
                }
            }
        </table>
    }
</div>