
@{
    ViewData["Title"] = "EntryExpenseEWT";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
    var val = (string)ViewBag.taxpayor;
    var idNo = (string)ViewBag.id ?? "0";
}
@using ExpenseProcessingSystem.ViewModels.Entry
@model DDVEWTViewModel
@Html.Hidden("EwtTaxPayorName", Model.table_ID, new { @id = "parentIdEWT" })
<table class="table voucher-tbl table-bordered">
    <tr>
        <td colspan="1"><label>Tax Payor's Name</label></td>
        <td colspan="3" id="taxPayorsName">
            @*@Html.TextBox("taxPayor", Model.tax_payor, new { id = "txtPayor", @class = "input" })*@
            <select id="@Html.IdFor(x => Model.tax_payor)" class="input100 txtAcc" name="@Html.NameFor(x => Model.tax_payor)">
                @foreach (var groepModel in Model.vendor_list)
                {
                    if (@groepModel.Value == @Model.tax_payor)
                    {
                        <option value="@groepModel.Value" selected>@groepModel.Text</option>
                    }
                    else
                    {
                        <option value="@groepModel.Value">@groepModel.Text</option>
                    }
                }
            </select>
        </td>
    </tr>
</table>
<script>
    $(function () {
        $(".modal-footer2").on("click", "#saveBtnEntry", function () {
            //var modalBody = $(this).parent().siblings().find('.modal-body2');
            if ($(this).parent().siblings().find('h4.modal-title', this).text() == "EWT Information") {
                var itemNo = $("#parentIdEWT").val().substr(5);
                var val = $("table").find("#tax_payor option:selected").val();
                $("#EntryDDV_" + itemNo + "__ewtPayorName").val(val);
                $('.modal-body2').empty();
                $('.myModal2').modal('hide');
            } else {
                //alert("Error: EWT Form");
            }
        });
    });
</script>