
@{
    ViewData["Title"] = "EntryExpenseInterEntity";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}
@using ExpenseProcessingSystem.ViewModels.Entry
@model DDVInterEntityViewModel

@Html.HiddenFor(x => Model.Inter_ID, new { @id = "parentIdInter" })
<table class="table voucher-tbl table-bordered">
    <tr>
        <td colspan="3"><label>Exchange Rate:</label></td>
        <td colspan="2">@Html.TextBoxFor(m => m.Inter_Rate, new { @class = "w-full changeable NumberOnlyOneDecimal" })</td>
        <td colspan="11"></td>
    </tr>
    <tr>
        <td colspan="3"><label>@Html.DisplayFor(m => m.Inter_Currency1_ABBR) Amount</label></td>
        <td colspan="2" id="curr1-abbr">
            @Html.DisplayFor(m => m.Inter_Currency1_ABBR)
            @Html.HiddenFor(m => m.Inter_Currency1_ID)
        </td>
        <td colspan="4">@Html.TextBoxFor(m => m.Inter_Currency1_Amount, new { @class = "changeable NumberOnlyOneDecimal" })</td>
        <td colspan="3">
            @Html.CheckBoxFor(model => model.Inter_Check1, new { @class = "convertChk changeable" })
            Convert from <label id="convertCurr1">@Model.Inter_Currency2_ABBR</label>
        </td>
        <td colspan="4"><input type="number" id="convertAmt1" class="changeable NumberOnlyOneDecimal" value="@Model.Inter_Convert1_Amount" /></td>
    </tr>
    <tr>
        <td colspan="3"><label id="curr2-lbl"> @Model.CurrencyList.Where(x=> x.Value == @Model.Inter_Currency2_ID + "").Select(x => x.Text).FirstOrDefault() Amount</label></td>
        <td colspan="2" id="curr2-abbr">
            <select id="@Html.IdFor(x => Model.Inter_Currency2_ID)" class="input100 txtAcc curr2" name="@Html.NameFor(x => Model.Inter_Currency2_ID)">
                @foreach (var groepModel in Model.CurrencyList)
                {
                    if (@groepModel.Value == @Model.Inter_Currency2_ID + "")
                    {
                        <option value="@groepModel.Value" selected>@groepModel.Text</option>
                    }
                    else
                    {
                        <option value="@groepModel.Value">@groepModel.Text</option>
                    }
                }
            </select>
        </td>
        <td colspan="4">@Html.TextBoxFor(m => m.Inter_Currency2_Amount, new { @class = "changeable NumberOnlyOneDecimal" })</td>
        <td colspan="3">
            @Html.CheckBoxFor(model => model.Inter_Check2, new { @class = "convertChk changeable" })
            Convert from <label id="convertCurr2">@Model.Inter_Currency1_ABBR</label>
        </td>
        <td colspan="4"><input type="number" id="convertAmt2" value="@Model.Inter_Convert2_Amount" class="changeable NumberOnlyOneDecimal" /></td>
    </tr>
    <tr>
        <td colspan="16"></td>
    </tr>
    <tr>
        <td colspan="3"><label>Particular</label></td>
        <td colspan="5"><label>Account</label></td>
        <td colspan="1"><label>CCY</label></td>
        <td colspan="1"><label>Inter-Rate</label></td>
        <td colspan="2"><label>Debit</label></td>
        <td colspan="1"><label>CCY</label></td>
        <td colspan="1"><label>Inter-Rate</label></td>
        <td colspan="2"><label>Credit</label></td>
    </tr>
    @if (Model.interPartList[0].Inter_Particular1.Count > 0)
    {
        var rowCount = Model.interPartList[0].Inter_Particular1.Count;
        <tr class="part-tr" id="part1">
            <td rowspan=@rowCount colspan="3" id="part1-title"> @Html.DisplayFor(m => m.interPartList[0].InterPart_Particular_Title) </td>
            <td colspan="5">@Html.DisplayFor(m => m.interPartList[0].Inter_Particular1[0].Particular_Account_Name)</td>
            <td colspan="1">@Html.DisplayFor(m => m.Inter_Currency1_ABBR)</td>
            <td colspan="1"></td>
            <td colspan="2" id="par1-0">@Html.DisplayFor(m => m.interPartList[0].Inter_Particular1[0].Particular_Debit_Amount)</td>
            <td colspan="4"></td>
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular1[0].Particular_Acc_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular1[0].Particular_DebCurr_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular1[0].Particular_CredCurr_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular1[0].Particular_Type_ID)
        </tr>
        <tr class="part-tr" id="part1">
            <td colspan="5">@Html.DisplayFor(m => m.interPartList[0].Inter_Particular1[1].Particular_Account_Name)</td>
            <td colspan="4"></td>
            <td colspan="1">@Html.DisplayFor(m => m.Inter_Currency1_ABBR)</td>
            <td colspan="1"></td>
            <td colspan="2" id="par1-1">@Html.DisplayFor(m => m.interPartList[0].Inter_Particular1[1].Particular_Credit_Amount)</td>
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular1[1].Particular_Acc_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular1[1].Particular_DebCurr_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular1[1].Particular_CredCurr_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular1[1].Particular_Type_ID)
        </tr>
        <tr class="part-tr" id="part1">
            <td colspan="5">@Html.DisplayFor(m => m.interPartList[0].Inter_Particular1[2].Particular_Account_Name)</td>
            <td colspan="4"></td>
            <td colspan="1">@Html.DisplayFor(m => m.Inter_Currency1_ABBR)</td>
            <td colspan="1"></td>
            <td colspan="2" id="par1-2">@Html.DisplayFor(m => m.interPartList[0].Inter_Particular1[2].Particular_Credit_Amount)</td>
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular1[2].Particular_Acc_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular1[2].Particular_DebCurr_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular1[2].Particular_CredCurr_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular1[2].Particular_Type_ID)
        </tr>
        <tr></tr>
    }
    @if (Model.interPartList[0].Inter_Particular2.Count > 0)
    {
        var rowCount = Model.interPartList[0].Inter_Particular2.Count;
        <tr class="part-tr" id="part2">
            <td rowspan=@rowCount colspan="3" id="part2-title"> @Html.DisplayFor(m => m.interPartList[0].InterPart_Particular_Title) </td>
            <td colspan="5">@Html.DisplayFor(m => m.interPartList[0].Inter_Particular2[0].Particular_Account_Name)</td>
            <td colspan="1">@Html.DisplayFor(m => m.Inter_Currency1_ABBR)</td>
            <td colspan="1"></td>
            <td colspan="2" id="par2-0">@Html.DisplayFor(m => m.interPartList[0].Inter_Particular2[0].Particular_Debit_Amount)</td>
            <td colspan="4"></td>
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular2[0].Particular_Acc_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular2[0].Particular_DebCurr_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular2[0].Particular_CredCurr_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular2[0].Particular_Type_ID)
        </tr>
        <tr class="part-tr" id="part2">
            <td colspan="5">@Html.DisplayFor(m => m.interPartList[0].Inter_Particular2[1].Particular_Account_Name)</td>
            <td colspan="4"></td>
            <td colspan="1" class="curr2-abbr">@Html.DisplayFor(m => m.Inter_Currency2_ABBR)</td>
            <td colspan="1" id="par2-0-1">@Html.DisplayFor(m => m.Inter_Rate)</td>
            <td colspan="2" id="par2-1">@Html.DisplayFor(m => m.interPartList[0].Inter_Particular2[1].Particular_Credit_Amount)</td>
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular2[1].Particular_Acc_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular2[1].Particular_DebCurr_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular2[1].Particular_CredCurr_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular2[1].Particular_Type_ID)
        </tr>
        <tr></tr>
    }
    @if (Model.interPartList[0].Inter_Particular3.Count > 0)
    {
        var rowCount = Model.interPartList[0].Inter_Particular3.Count;
        <tr class="part-tr" id="part3">
            <td rowspan=@rowCount colspan="3" id="part3-title"> @Html.DisplayFor(m => m.interPartList[0].InterPart_Particular_Title) </td>
            <td colspan="5">@Html.DisplayFor(m => m.interPartList[0].Inter_Particular3[0].Particular_Account_Name)</td>
            <td colspan="1" class="curr2-abbr">@Html.DisplayFor(m => m.Inter_Currency2_ABBR)</td>
            <td colspan="1"></td>
            <td colspan="2" id="par3-0">@Html.DisplayFor(m => m.interPartList[0].Inter_Particular3[0].Particular_Debit_Amount)</td>
            <td colspan="4"></td>
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular3[0].Particular_Acc_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular3[0].Particular_DebCurr_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular3[0].Particular_CredCurr_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular3[0].Particular_Type_ID)
        </tr>
        <tr class="part-tr" id="part3">
            <td colspan="5">@Html.DisplayFor(m => m.interPartList[0].Inter_Particular3[1].Particular_Account_Name)</td>
            <td colspan="4"></td>
            <td colspan="1" class="curr2-abbr">@Html.DisplayFor(m => m.Inter_Currency2_ABBR)</td>
            <td colspan="1"></td>
            <td colspan="2" id="par3-1">@Html.DisplayFor(m => m.interPartList[0].Inter_Particular3[1].Particular_Credit_Amount)</td>
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular3[1].Particular_Acc_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular3[1].Particular_DebCurr_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular3[1].Particular_CredCurr_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular3[1].Particular_Type_ID)
        </tr>
    }
    <tr></tr>
    <tr></tr>

</table>

<script>
    $(document).ready(function () {
        //set fields
        var curr1Amt = $("table").find("#Inter_Currency1_Amount");
        var curr2Amt = $("table").find("#Inter_Currency2_Amount");
        var chk1 = $("table").find("#Inter_Check1");
        var chk2 = $("table").find("#Inter_Check2");
        var conv1Amt = $("table").find("#convertAmt1");
        var conv2Amt = $("table").find("#convertAmt2");

        var curr1Val = $(curr1Amt).val();
        var curr2Val = $(curr2Amt).val();
        isChk();
        var conv1Val = $(conv1Amt).val();
        var conv2Val = $(conv2Amt).val();
        if ((curr1Val != 0) && isChk2 && (conv2Val != 0)) {
            UpdateParticulars1(curr1Val, conv2Val);
        }
        else if ((curr2Val != 0) && isChk1 && (conv1Val != 0)) {
            UpdateParticulars2(curr2Val, conv1Val);
        } else {
            defaultInter();
        }
        defaultCheck();
        updateCurrency2();

        $(".convertChk").on("change", function (e) {
            e.stopImmediatePropagation();
            defaultSet();
            if ($(this).is(':checked') && $(this).attr("id") == "Inter_Check1") {
                disable1();
            } else if ($(this).is(':checked') && $(this).attr("id") == "Inter_Check2") {
                disable2();
            } else {
                defaultVals();
                defaultInter();
            }
        });
        $(".changeable").on("change", function (e) {
            e.stopImmediatePropagation();
            var curr1Val = $(curr1Amt).val();
            var curr2Val = $(curr2Amt).val();
            isChk();
            var conv1Val = $(conv1Amt).val();
            var conv2Val = $(conv2Amt).val();
            if ((curr1Val != 0) && isChk2 && (conv2Val != 0)) {
                UpdateParticulars1(curr1Val, conv2Val);
            }
            else if ((curr2Val != 0) && isChk1 && (conv1Val != 0)) {
                UpdateParticulars2(curr2Val, conv1Val);
            }
        });

        $(".curr2").on("change", function (e) {
            e.stopImmediatePropagation();
            updateCurrency2();
        });
        $(".modal-footer2").on("click", "#saveBtnEntry", function (e) {
            if ($(this).parent().siblings().find('h4.modal-title', this).text() == "Inter-Entity") {
                var itemNo = $("#parentIdInter").val();
                isChk();

                $("#EntryDDV_" + itemNo + "__interDetails_Inter_Currency1_ID").val($("#curr1-abbr").find("input#Inter_Currency1_ID").val());
                $("#EntryDDV_" + itemNo + "__interDetails_Inter_Currency2_ID").val($("#curr2-abbr").find("#Inter_Currency2_ID option:selected").val());
                $("#EntryDDV_" + itemNo + "__interDetails_Inter_Currency2_ABBR").val($("#curr2-abbr").find("#Inter_Currency2_ID option:selected").text());
                $("#EntryDDV_" + itemNo + "__interDetails_Inter_Currency1_Amount").val($(curr1Amt).val());
                $("#EntryDDV_" + itemNo + "__interDetails_Inter_Currency2_Amount").val($(curr2Amt).val());
                $("#EntryDDV_" + itemNo + "__interDetails_Inter_Convert1_Amount").val($(conv1Amt).val());
                $("#EntryDDV_" + itemNo + "__interDetails_Inter_Convert2_Amount").val($(conv2Amt).val());
                $("#EntryDDV_" + itemNo + "__interDetails_Inter_Check1").val(isChk1);
                $("#EntryDDV_" + itemNo + "__interDetails_Inter_Check2").val(isChk2);
                $("#EntryDDV_" + itemNo + "__interDetails_Inter_Rate").val($("table").find("#Inter_Rate").val());
                $("#EntryDDV_" + itemNo + "__debitGross").val($("#par1-0").text());


                //Populate the Particulars and Accs Lists
                $('#req_' + itemNo).find('#interDtls').empty();

                var parts = '<input id = "EntryDDV_' + itemNo + '__interDetails_interPartList_0__InterPart_Particular_Title" name = "EntryDDV[0].interDetails.interPartList[0].InterPart_Particular_Title" type = "hidden" value = "' + $('#part1-title').text() + '" >';
                $("tr#part1.part-tr").each(function (ind, item) {
                    var partNo = 0;
                    var AccID = $('#interPartList_0__Inter_Particular1_' + ind + '__Particular_Acc_ID').val(),
                        Amt = $('#par1-' + ind).text(),
                        CurrID = ($('#interPartList_0__Inter_Particular1_' + itemNo + '__Particular_DebCurr_ID').val() > 0) ? $('#interPartList_0__Inter_Particular1_' + itemNo + '__Particular_DebCurr_ID').val() : $('#interPartList_0__Inter_Particular1_' + itemNo + '__Particular_CredCurr_ID').val(),
                        Rate = "0",
                        TypeID = $('#interPartList_0__Inter_Particular1_' + ind + '__Particular_Type_ID').val();
                    parts += '<input data-val="true" data-val-required="The Inter_Acc_ID field is required." id="EntryDDV_' + itemNo + '__interDetails_interPartList_' + itemNo + '__ExpenseEntryInterEntityAccs_' + ind + '__Inter_Acc_ID" name="EntryDDV[' + itemNo + '].interDetails.interPartList[' + itemNo + '].ExpenseEntryInterEntityAccs[' + ind + '].Inter_Acc_ID" type="hidden" value="' + AccID + '">'
                        + '<input data-val="true" data-val-number="The field Inter_Amount must be a number." data-val-required="The Inter_Amount field is required." id="EntryDDV_' + itemNo + '__interDetails_interPartList_' + itemNo + '__ExpenseEntryInterEntityAccs_' + ind + '__Inter_Amount" name="EntryDDV[' + itemNo + '].interDetails.interPartList[0].ExpenseEntryInterEntityAccs[' + ind + '].Inter_Amount" type="hidden" value="' + Amt + '">'
                        + '<input data-val="true" data-val-required="The Inter_Curr_ID field is required." id="EntryDDV_' + itemNo + '__interDetails_interPartList_' + itemNo + '__ExpenseEntryInterEntityAccs_' + ind + '__Inter_Curr_ID" name="EntryDDV[' + itemNo + '].interDetails.interPartList[' + itemNo + '].ExpenseEntryInterEntityAccs[' + ind + '].Inter_Curr_ID" type="hidden" value="' + CurrID + '">'
                        + '<input data-val="true" data-val-number="The field Inter_Rate must be a number." data-val-required="The Inter_Rate field is required." id="EntryDDV_' + itemNo + '__interDetails_interPartList_' + itemNo + '__ExpenseEntryInterEntityAccs_' + ind + '__Inter_Rate" name="EntryDDV[' + itemNo + '].interDetails.interPartList[0].ExpenseEntryInterEntityAccs[' + ind + '].Inter_Rate" type="hidden" value="' + Rate + '">'
                        + '<input data-val="true" data-val-required="The Inter_Type_ID field is required." id="EntryDDV_' + itemNo + '__interDetails_interPartList_' + itemNo + '__ExpenseEntryInterEntityAccs_' + ind + '__Inter_Type_ID" name="EntryDDV[' + itemNo + '].interDetails.interPartList[' + itemNo + '].ExpenseEntryInterEntityAccs[' + ind + '].Inter_Type_ID" type="hidden" value="' + TypeID + '">'
                });
                parts += '<input id = "EntryDDV_' + itemNo + '__interDetails_interPartList_1__InterPart_Particular_Title" name = "EntryDDV[0].interDetails.interPartList[1].InterPart_Particular_Title" type = "hidden" value = "' + $('#part2-title').text() + '" >'

                $("tr#part2.part-tr").each(function (ind, item) {
                    var partNo = parseInt(item.id.substring(4)) - 1;
                    var AccID = $('#interPartList_0__Inter_Particular2_' + ind + '__Particular_Acc_ID').val(),
                        Amt = $('#par1-' + ind).text(),
                        CurrID = ($('#interPartList_0__Inter_Particular2_' + ind + '__Particular_DebCurr_ID').val() > 0) ? $('#interPartList_0__Inter_Particular2_' + ind + '__Particular_DebCurr_ID').val() : $('#interPartList_0__Inter_Particular2_' + ind + '__Particular_CredCurr_ID').val(),
                        Rate = "0",
                        TypeID = $('#interPartList_0__Inter_Particular2_' + ind + '__Particular_Type_ID').val();

                    parts += '<input data-val="true" data-val-required="The Inter_Acc_ID field is required." id="EntryDDV_' + itemNo + '__interDetails_interPartList_' + partNo + '__ExpenseEntryInterEntityAccs_' + ind + '__Inter_Acc_ID" name="EntryDDV[' + itemNo + '].interDetails.interPartList[' + partNo + '].ExpenseEntryInterEntityAccs[' + ind + '].Inter_Acc_ID" type="hidden" value="' + AccID + '">'
                        + '<input data-val="true" data-val-number="The field Inter_Amount must be a number." data-val-required="The Inter_Amount field is required." id="EntryDDV_' + itemNo + '__interDetails_interPartList_' + partNo + '__ExpenseEntryInterEntityAccs_' + ind + '__Inter_Amount" name="EntryDDV[' + itemNo + '].interDetails.interPartList[' + partNo + '].ExpenseEntryInterEntityAccs[' + ind + '].Inter_Amount" type="hidden" value="' + Amt + '">'
                        + '<input data-val="true" data-val-required="The Inter_Curr_ID field is required." id="EntryDDV_' + itemNo + '__interDetails_interPartList_' + partNo + '__ExpenseEntryInterEntityAccs_' + ind + '__Inter_Curr_ID" name="EntryDDV[' + itemNo + '].interDetails.interPartList[' + partNo + '].ExpenseEntryInterEntityAccs[' + ind + '].Inter_Curr_ID" type="hidden" value="' + CurrID + '">'
                        + '<input data-val="true" data-val-number="The field Inter_Rate must be a number." data-val-required="The Inter_Rate field is required." id="EntryDDV_' + itemNo + '__interDetails_interPartList_' + partNo + '__ExpenseEntryInterEntityAccs_' + ind + '__Inter_Rate" name="EntryDDV[' + itemNo + '].interDetails.interPartList[' + partNo + '].ExpenseEntryInterEntityAccs[' + ind + '].Inter_Rate" type="hidden" value="' + Rate + '">'
                        + '<input data-val="true" data-val-required="The Inter_Type_ID field is required." id="EntryDDV_' + itemNo + '__interDetails_interPartList_' + partNo + '__ExpenseEntryInterEntityAccs_' + ind + '__Inter_Type_ID" name="EntryDDV[' + itemNo + '].interDetails.interPartList[' + partNo + '].ExpenseEntryInterEntityAccs[' + ind + '].Inter_Type_ID" type="hidden" value="' + TypeID + '">'
                });

                parts += '<input id="EntryDDV_' + itemNo + '__interDetails_interPartList_2__InterPart_Particular_Title" name="EntryDDV[0].interDetails.interPartList[2].InterPart_Particular_Title" type="hidden" value="' + $('#part3-title').text() + '" > '

                $("tr#part3.part-tr").each(function (ind, item) {
                    var partNo = parseInt(item.id.substring(4)) - 1;
                    var AccID = $('#interPartList_0__Inter_Particular3_' + ind + '__Particular_Acc_ID').val(),
                        Amt = $('#par1-' + ind).text(),
                        CurrID = ($('#interPartList_0__Inter_Particular3_' + ind + '__Particular_DebCurr_ID').val() > 0) ? $('#interPartList_0__Inter_Particular3_' + ind + '__Particular_DebCurr_ID').val() : $('#interPartList_0__Inter_Particular3_' + ind + '__Particular_CredCurr_ID').val(),
                        Rate = "0",
                        TypeID = $('#interPartList_0__Inter_Particular3_' + ind + '__Particular_Type_ID').val();

                    parts += '<input data-val="true" data-val-required="The Inter_Acc_ID field is required." id="EntryDDV_' + itemNo + '__interDetails_interPartList_' + partNo + '__ExpenseEntryInterEntityAccs_' + ind + '__Inter_Acc_ID" name="EntryDDV[' + itemNo + '].interDetails.interPartList[' + partNo + '].ExpenseEntryInterEntityAccs[' + ind + '].Inter_Acc_ID" type="hidden" value="' + AccID + '">'
                        + '<input data-val="true" data-val-number="The field Inter_Amount must be a number." data-val-required="The Inter_Amount field is required." id="EntryDDV_' + itemNo + '__interDetails_interPartList_' + partNo + '__ExpenseEntryInterEntityAccs_' + ind + '__Inter_Amount" name="EntryDDV[' + itemNo + '].interDetails.interPartList[' + partNo + '].ExpenseEntryInterEntityAccs[' + ind + '].Inter_Amount" type="hidden" value="' + Amt + '">'
                        + '<input data-val="true" data-val-required="The Inter_Curr_ID field is required." id="EntryDDV_' + itemNo + '__interDetails_interPartList_' + partNo + '__ExpenseEntryInterEntityAccs_' + ind + '__Inter_Curr_ID" name="EntryDDV[' + itemNo + '].interDetails.interPartList[' + partNo + '].ExpenseEntryInterEntityAccs[' + ind + '].Inter_Curr_ID" type="hidden" value="' + CurrID + '">'
                        + '<input data-val="true" data-val-number="The field Inter_Rate must be a number." data-val-required="The Inter_Rate field is required." id="EntryDDV_' + itemNo + '__interDetails_interPartList_' + partNo + '__ExpenseEntryInterEntityAccs_' + ind + '__Inter_Rate" name="EntryDDV[' + itemNo + '].interDetails.interPartList[' + partNo + '].ExpenseEntryInterEntityAccs[' + ind + '].Inter_Rate" type="hidden" value="' + Rate + '">'
                        + '<input data-val="true" data-val-required="The Inter_Type_ID field is required." id="EntryDDV_' + itemNo + '__interDetails_interPartList_' + partNo + '__ExpenseEntryInterEntityAccs_' + ind + '__Inter_Type_ID" name="EntryDDV[' + itemNo + '].interDetails.interPartList[' + partNo + '].ExpenseEntryInterEntityAccs[' + ind + '].Inter_Type_ID" type="hidden" value="' + TypeID + '">'
                });
                //append the particulars list to model to post
                $('#req_' + itemNo).find('#interDtls').append(parts);

                //trigger recomputation of debit and credit
                computeValuesDDVInter($("#item_" + itemNo)[0]);


                $('.modal-body2').empty();
                $('.myModal2').modal('hide');
            }
        });
        // ---------------------- [[ FUNCTIONS ]] ----------------------
        function updateCurrency2() {
            var val = $(".curr2").find("option:selected").text();
            var id = $(".curr2").find("option:selected").val();
            $("#convertCurr1").text(val);
            $(".curr2-abbr").text(val);
            $("#curr2-lbl").text(val + " Amount");
            $('#interPartList_0__Inter_Particular2_1__Particular_CredCurr_ID').val(id);
            $('#interPartList_0__Inter_Particular3_0__Particular_CredCurr_ID').val(id);
            $('#interPartList_0__Inter_Particular3_1__Particular_CredCurr_ID').val(id);
        }
        function isChk() {
            isChk1 = $(chk1).is(":checked");
            isChk2 = $(chk2).is(":checked");
        }
        function defaultInter() {
            $("#par1-0").text(0);
            $("#par1-1").text(0);
            $("#par1-2").text(0);
            $("#par2-0").text(0);
            $("#par2-1").text(0);
            $("#par3-0").text(0);
            $("#par3-1").text(0);
            $("#par2-0-1").text(1);
        }
        function defaultSet() {
            //set default availability
            $(curr1Amt).removeAttr('disabled');
            $(curr2Amt).removeAttr('disabled');
            $(chk1).removeAttr('disabled');
            $(chk2).removeAttr('disabled');
            $(conv1Amt).attr('disabled', 'true');
            $(conv2Amt).attr('disabled', 'true');
        }
        function defaultVals() {
            //set default values
            $(curr1Amt).val(0);
            $(curr2Amt).val(0);
            $(chk1).prop("checked", false);
            $(chk2).prop("checked", false);
            $(conv1Amt).val(0);
            $(conv2Amt).val(0);
        }
        function disable1() {
            $(curr1Amt).attr('disabled', 'true');
            $(chk2).attr('disabled', 'true');
            $(conv1Amt).removeAttr('disabled');
        }
        function disable2() {
            $(curr2Amt).attr('disabled', 'true');
            $(chk1).attr('disabled', 'true');
            $(conv2Amt).removeAttr('disabled');
        }

        function defaultCheck() {
            defaultSet();
            if ($("#Inter_Check1").is(':checked')) {
                disable1();
            } else if ($("#Inter_Check2").is(':checked')) {
                disable2();
            } else {
                defaultVals();
            }
        }
        function UpdateParticulars1(currVal, convVal) {
            var rate = $("table").find("#Inter_Rate").val();
            if (!($.isNumeric(currVal) && $.isNumeric(convVal) && $.isNumeric(rate))) {
                alert("Invalid amount/s provided.");
            } else {
                currVal = parseFloat(currVal).toFixed(2);
                var curr2 = (parseFloat(convVal) / parseFloat(rate)).toFixed(2);
                var parCredit = (parseFloat(curr2) * parseFloat(rate)).toFixed(2);
                var parDebit = (parseFloat(currVal) + parseFloat(parCredit)).toFixed(2);
                $(curr2Amt).val(curr2);
                $("#par1-0").text(parDebit);
                $("#par1-1").text(parCredit);
                $("#par1-2").text(currVal);
                $("#par2-0").text(parCredit);
                $("#par2-1").text(curr2);
                $("#par3-0").text(curr2);
                $("#par3-1").text(curr2);
                $("#par2-0-1").text(rate);
            }
        }
        function UpdateParticulars2(currVal, convVal) {
            var rate = $("table").find("#Inter_Rate").val();
            if (!($.isNumeric(currVal) && $.isNumeric(convVal) && $.isNumeric(rate))) {
                alert("Invalid amount/s provided.");
            } else {
                var curr2 = (parseFloat(convVal) * parseFloat(rate)).toFixed(2);
                var parCredit = (parseFloat(currVal) * parseFloat(rate)).toFixed(2);
                var parDebit = (parseFloat(curr2) + parseFloat(parCredit)).toFixed(2);
                $(curr1Amt).val(curr2);
                $("#par1-0").text(parDebit);
                $("#par1-1").text(parCredit);
                $("#par1-2").text(curr2);
                $("#par2-0").text(parCredit);
                $("#par2-1").text(currVal);
                $("#par3-0").text(currVal);
                $("#par3-1").text(currVal);
                $("#par2-0-1").text(rate);
            }
        }
        ////TEMP FIX
        function computeValuesDDVInter(parent) {
            var pNode = parent;
            var grossAmt = $("#" + pNode.id + " .txtGross").val();
            
            $("#" + pNode.id + " .txtGross").attr("value", grossAmt);

            var itemNo = pNode.id; //jquery obj
            var chkEwtVal = $("#" + itemNo).find(".chkEwt").is(':checked');
            var vatable = $("#" + itemNo).find(".chkVat").is(':checked');
            if (chkEwtVal) {
                if (vatable) {
                    var vatRate = (Number($("#" + itemNo).find(".txtVat option:selected").text()) / 100);
                    var ewtRate = (Number($("#" + itemNo).find(".txtEwt option:selected").text()) / 100);
                    var netVat = roundNumber(grossAmt / (1 + vatRate), 2);
                    var ewt = roundNumber(netVat * ewtRate, 2);
                    var netEwt = grossAmt - ewt;

                    $("#" + itemNo).find(".txtCredEwt").val(ewt);
                    $("#" + itemNo).find(".txtCredCash").val(roundNumber(netEwt, 2));
                } else {
                    var ewtAmount = grossAmt * (Number($("#" + itemNo).find(".txtEwt option:selected").text()) / 100);
                    $("#" + itemNo).find(".txtCredEwt").val(roundNumber(ewtAmount, 2));
                    $("#" + itemNo).find(".txtCredCash").val(roundNumber((grossAmt - ewtAmount), 2));
                }
            } else {
                $("#" + itemNo).find(".txtCredEwt").val(0);
                $("#" + itemNo).find(".txtCredCash").val(roundNumber(grossAmt, 2));
            }

            var gross = $(".txtGross");
            var credEwt = $(".txtCredEwt");
            var credCash = $(".txtCredCash");

            var grossTotal = 0;
            var ewtSubTotal = 0;
            var cashSubTotal = 0;

            for (var i = 0; i < gross.length; i++) {
                grossTotal += Number(gross[i].value);
            }

            for (var i = 0; i < credEwt.length; i++) {
                ewtSubTotal += Number(credEwt[i].value);
            }

            for (var i = 0; i < credCash.length; i++) {
                cashSubTotal += Number(credCash[i].value);
            }

            $("#grossTotal").val(roundNumber(grossTotal, 2));
            $("#credEwtTotal").val(roundNumber(ewtSubTotal, 2));
            $("#credCashTotal").val(roundNumber(cashSubTotal, 2));
            $("#credTotal").val(roundNumber(Number(ewtSubTotal + cashSubTotal), 2));

            var ccyList = [];
            for (var i = 0; i < $('.txtccy:not(#template_ccy)').length; i++) {
                ccyList.push($($('.txtccy:not(#template_ccy)')[i]).val());
            }
            if ($('.txtccy:not(#template_ccy)').length > 1 && !(ccyList.every((val, i, arr) => val === arr[0]))) {
                $("#grossTotal").val(0.00);
                $("#credEwtTotal").val(0.00);
                $("#credCashTotal").val(0.00);
                $("#credTotal").val(0.00);
            }
        }
    });
</script>