
@{
    Layout = null;
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}
@using ExpenseProcessingSystem.ViewModels.Entry
@model DDVInterEntityViewModel

@Html.HiddenFor(x => Model.Inter_ID, new { @id = "parentIdInter" })
<table class="table voucher-tbl table-bordered">
    <tr>
        <td colspan="3"><label>Exchange Rate:</label></td>
        <td colspan="2">@Html.DisplayFor(m => m.Inter_Rate, new { @class = "w-full changeable" })</td>
        <td colspan="11"></td>
    </tr>
    <tr>
        <td colspan="3"><label>PhP Amount</label></td>
        <td colspan="2" id="curr1-abbr">
            @Html.DisplayFor(m => m.Inter_Currency1_ABBR)
            @Html.HiddenFor(m => m.Inter_Currency1_ID)
        </td>
        <td colspan="4">@Html.DisplayFor(m => m.Inter_Currency1_Amount, new { @class = "" })</td>
        <td colspan="3">
            @Html.CheckBoxFor(model => model.Inter_Check1, new { @class = " " })
            Convert from <label id="convertCurr1">@Model.Inter_Currency2_ABBR</label>
        </td>
        <td colspan="4"><input type="number" id="convertAmt1" class="" value="@Model.Inter_Convert1_Amount" /></td>
    </tr>
    <tr>
        <td colspan="3"><label id="curr2-lbl">USD Amount</label></td>
        <td colspan="2" id="curr2-abbr">
            @Html.DisplayFor(m => m.Inter_Currency2_ABBR, new { @class = "" })
        </td>
        <td colspan="4">@Html.DisplayFor(m => m.Inter_Currency2_Amount, new { @class = "" })</td>
        <td colspan="3">
            @Html.CheckBoxFor(model => model.Inter_Check2, new { @class = "" })
            Convert from <label id="convertCurr2">@Model.Inter_Currency1_ABBR</label>
        </td>
        <td colspan="4"><input type="number" id="convertAmt2" value="@Model.Inter_Convert2_Amount" class="" /></td>
    </tr>
    <tr>
        <td colspan="16"></td>
    </tr>
    <tr>
        <td colspan="3"><label>Particular</label></td>
        <td colspan="5"><label>Account</label></td>
        <td colspan="1"><label>CCY</label></td>
        <td colspan="1"><label>Inter-Rate</label></td>
        <td colspan="2"><label>Debit</label></td>
        <td colspan="1"><label>CCY</label></td>
        <td colspan="1"><label>Inter-Rate</label></td>
        <td colspan="2"><label>Credit</label></td>
    </tr>
    @if (Model.interPartList[0].Inter_Particular1.Count > 0)
    {
        var rowCount = Model.interPartList[0].Inter_Particular1.Count;
        <tr class="part-tr" id="part1">
            <td rowspan=@rowCount colspan="3" id="part1-title"> @Html.DisplayFor(m => m.interPartList[0].InterPart_Particular_Title) </td>
            <td colspan="5">@Html.DisplayFor(m => m.interPartList[0].Inter_Particular1[0].Particular_Account_Name)</td>
            <td colspan="1">@Html.DisplayFor(m => m.Inter_Currency1_ABBR)</td>
            <td colspan="1"></td>
            <td colspan="2" id="par1-0">@Html.DisplayFor(m => m.interPartList[0].Inter_Particular1[0].Particular_Debit_Amount)</td>
            <td colspan="4"></td>
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular1[0].Particular_Acc_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular1[0].Particular_DebCurr_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular1[0].Particular_CredCurr_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular1[0].Particular_Type_ID)
        </tr>
        <tr class="part-tr" id="part1">
            <td colspan="5">@Html.DisplayFor(m => m.interPartList[0].Inter_Particular1[1].Particular_Account_Name)</td>
            <td colspan="4"></td>
            <td colspan="1">@Html.DisplayFor(m => m.Inter_Currency1_ABBR)</td>
            <td colspan="1"></td>
            <td colspan="2" id="par1-1">@Html.DisplayFor(m => m.interPartList[0].Inter_Particular1[1].Particular_Credit_Amount)</td>
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular1[1].Particular_Acc_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular1[1].Particular_DebCurr_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular1[1].Particular_CredCurr_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular1[1].Particular_Type_ID)
        </tr>
        <tr class="part-tr" id="part1">
            <td colspan="5">@Html.DisplayFor(m => m.interPartList[0].Inter_Particular1[2].Particular_Account_Name)</td>
            <td colspan="4"></td>
            <td colspan="1">@Html.DisplayFor(m => m.Inter_Currency1_ABBR)</td>
            <td colspan="1"></td>
            <td colspan="2" id="par1-2">@Html.DisplayFor(m => m.interPartList[0].Inter_Particular1[2].Particular_Credit_Amount)</td>
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular1[2].Particular_Acc_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular1[2].Particular_DebCurr_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular1[2].Particular_CredCurr_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular1[2].Particular_Type_ID)
        </tr>
        <tr></tr>
    }
    @if (Model.interPartList[0].Inter_Particular2.Count > 0)
    {
        var rowCount = Model.interPartList[0].Inter_Particular2.Count;
        <tr class="part-tr" id="part2">
            <td rowspan=@rowCount colspan="3" id="part2-title"> @Html.DisplayFor(m => m.interPartList[0].InterPart_Particular_Title) </td>
            <td colspan="5">@Html.DisplayFor(m => m.interPartList[0].Inter_Particular2[0].Particular_Account_Name)</td>
            <td colspan="1">@Html.DisplayFor(m => m.Inter_Currency1_ABBR)</td>
            <td colspan="1"></td>
            <td colspan="2" id="par2-0">@Html.DisplayFor(m => m.interPartList[0].Inter_Particular2[0].Particular_Debit_Amount)</td>
            <td colspan="4"></td>
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular2[0].Particular_Acc_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular2[0].Particular_DebCurr_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular2[0].Particular_CredCurr_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular2[0].Particular_Type_ID)
        </tr>
        <tr class="part-tr" id="part2">
            <td colspan="5">@Html.DisplayFor(m => m.interPartList[0].Inter_Particular2[1].Particular_Account_Name)</td>
            <td colspan="4"></td>
            <td colspan="1">@Html.DisplayFor(m => m.Inter_Currency2_ABBR)</td>
            <td colspan="1" id="par2-0-1">@Html.DisplayFor(m => m.Inter_Rate)</td>
            <td colspan="2" id="par2-1">@Html.DisplayFor(m => m.interPartList[0].Inter_Particular2[1].Particular_Credit_Amount)</td>
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular2[1].Particular_Acc_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular2[1].Particular_DebCurr_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular2[1].Particular_CredCurr_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular2[1].Particular_Type_ID)
        </tr>
        <tr></tr>
    }
    @if (Model.interPartList[0].Inter_Particular3.Count > 0)
    {
        var rowCount = Model.interPartList[0].Inter_Particular3.Count;
        <tr class="part-tr" id="part3">
            <td rowspan=@rowCount colspan="3" id="part3-title"> @Html.DisplayFor(m => m.interPartList[0].InterPart_Particular_Title) </td>
            <td colspan="5">@Html.DisplayFor(m => m.interPartList[0].Inter_Particular3[0].Particular_Account_Name)</td>
            <td colspan="1">@Html.DisplayFor(m => m.Inter_Currency2_ABBR)</td>
            <td colspan="1"></td>
            <td colspan="2" id="par3-0">@Html.DisplayFor(m => m.interPartList[0].Inter_Particular3[0].Particular_Debit_Amount)</td>
            <td colspan="4"></td>
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular3[0].Particular_Acc_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular3[0].Particular_DebCurr_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular3[0].Particular_CredCurr_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular3[0].Particular_Type_ID)
        </tr>
        <tr class="part-tr" id="part3">
            <td colspan="5">@Html.DisplayFor(m => m.interPartList[0].Inter_Particular3[1].Particular_Account_Name)</td>
            <td colspan="4"></td>
            <td colspan="1">@Html.DisplayFor(m => m.Inter_Currency2_ABBR)</td>
            <td colspan="1"></td>
            <td colspan="2" id="par3-1">@Html.DisplayFor(m => m.interPartList[0].Inter_Particular3[1].Particular_Credit_Amount)</td>
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular3[1].Particular_Acc_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular3[1].Particular_DebCurr_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular3[1].Particular_CredCurr_ID)
            @Html.HiddenFor(m => m.interPartList[0].Inter_Particular3[1].Particular_Type_ID)
        </tr>
    }
    <tr></tr>
    <tr></tr
</table>
