@using ExpenseProcessingSystem.ViewModels.Entry
@model PCVCashBreakdownViewModel
<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>EntryExpenseCashBreakdown</title>
    </head>
    <body>
        <div id="cashBreakdownBody">
            @Html.HiddenFor(x => Model.id, new { @id = "parentIdPCVSSTable" })
            <div id="divVendor">@if (Model.screencode != "SS" || Model.screencode != "Liquidation_SS")
            {<text>Vendor/Employee :</text> }
        else
        {<text>Payee :</text>} <p class="dis-inline-block w-49">@Html.TextBoxFor(x => Model.vendor, new { @id = "reqVendor", @readonly = "readonly", @class = "input" })</p></div>
        <div>Account :<p class="dis-inline-block w-49">@Html.TextBoxFor(x => Model.accountName, new { @id = "reqAccount", @readonly = "readonly", @class = "input" })</p></div>
        <div>
            Amount :
            <p class="dis-inline-block w-49">
                @Html.TextBoxFor(x => Model.amount, new { @id = "reqAmount", @readonly = "readonly", @class = "input" })
            </p>
        </div>
        <div id="divCashBD" class="flex-c">
            <table style="width:100%;" id="tableTitlePrint" border="0" class="tblHidePrint">
                <tr>
                    <td style="text-align:left"><img src="~/images/mizuho-logo.png" style="width:50%;height:30%" /></td>
                    <td style="text-align:right">PETTY CASH BREAKDOWN</td>
                </tr>
                <tr style="border-top:solid">
                    <td style="text-align:left"></td>
                    <td style="text-align:right">Mizuho Bank, Ltd - Manila Branch</td>
                </tr>
            </table>
            <table style="width:60%;" id="tableHeaderPrint" border="0" class="tblHidePrint">
                <tr>
                    <td style="width:5%;text-align:left">Date : </td>
                    <td><input id="cashbdDatePrint" style="text-align:center" /></td>
                </tr>
                <tr>
                    <td style="width:5%;text-align:left">Amount: </td>
                    <td><input id="cashbdAmountPrint" style="text-align:center" /></td>
                </tr>
            </table>
            <table id="modalTable" class="cashBreakdowntable table-bordered table-striped voucher-tbl w-70 tablePrint">
                <thead>
                    <tr>
                        <th style="text-align:center" class="thPrint">Denomination</th>
                        <th style="text-align:center" class="thPrint">No. of Pcs.</th>
                        <th style="text-align:center" class="thPrint">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int a = 0; a < Model.cashBreakdown.Count(); a++)
                    {
                        <tr id="cashbreakdownid_@a">
                            <td class="tdPrint">@Html.TextBoxFor(x => Model.cashBreakdown[a].CashBreak_Denomination, new { @class = "input100 txtDenomination", @type = "number", @readonly = "true", @style = "text-align:center" })</td>
                            <td class="tdPrint">@Html.TextBoxFor(x => Model.cashBreakdown[a].CashBreak_NoPcs, new { @class = "input100 txtNoPCS", @type = "number", @min = "0", @style = "text-align:center" })</td>
                            <td class="tdPrint">@Html.TextBoxFor(x => Model.cashBreakdown[a].CashBreak_Amount, new { @class = "input100 txtAmount", @type = "number", @style = "text-align:center", @readonly = "true" })</td>
                        </tr>
                    }
                    <tr>
                        <td colspan="2" style="text-align:right" class="tdPrint">Total:</td>
                        <td class="tdPrint"><input type="text" id="cashBDAmountTotal" class="input100 cashBDAmountTotal" style="text-align:center" value="0" readonly="readonly" /></td>
                    </tr>
                </tbody>
            </table>
            <table style="width:60%;" id="tableOptionPrint" border="0" class="tblHidePrint">
                <tr>
                    <td style="width:5%;text-align:left">EXPENSE</td>
                    <td style="text-align:center"><input style="font-size:x-large;text-align:center" value="&#9645;"></td>
                </tr>
                <tr>
                    <td style="width:5%;text-align:left">REVERSAL</td>
                    <td style="text-align:center"><input style="font-size:x-large;text-align:center" value="&#9645;"></td>
                </tr>
            </table>
            <table style="width:60%;" id="tableSignPrint" border="1" class="tblHidePrint">
                <colgroup>
                    <col style="width:20%" />
                    <col style="width:10%" />
                    <col style="width:30%" />
                </colgroup>
                <tr>
                    <td colspan="2">PAYMENT RECEIVED BY :</td>
                    <td style="text-align:center">FLORA</td>
                </tr>
                <tr>
                    <td colspan="2">PAYMENT PAID BY :</td>
                    <td style="text-align:center">BUARAO</td>
                </tr>
                <tr>
                    <td>PAYMENT FOR :</td>
                    <td colspan="2" style="text-align:center">PARKING FEE VF6597</td>
                </tr>
            </table>
        </div>
    </div>
        <label style="text-align:right; width:100%">
            <input type="button" class="printCashBDBtn btn" value="Print Cash Breakdown" onclick='printDivCashBD("divCashBD");' />
        </label>
    </body>
</html>
<script>
    $(document).ready(function () {
        $('.modal-dialog').css('width', '50%');
        if ($("#" + $("#parentIdPCVSSTable").val()).find(".hiddenItem").val() == "1") {
            var ret = $('#parentIdPCVSSTable').val().replace('item_', '');
            var trs = $(".cashBreakdowntable").find("tbody").find("tr");
            var amountTotal = 0;

            var header = "";
            if ($("#" + $('#parentIdPCVSSTable').val()).find(".hiddenScreencode").val() == "Liquidation_SS"){
                header = "LiquidationDetails_";
            } else {
                header = "EntryCV_";
            }

            for (var count = 0; count < 13; count++) {
                $("#" + trs[count].id).find('.txtNoPCS').val($("#" + header + ret + "__cashBreakdown_" + count + "__cashNoPC").val());
                $("#" + trs[count].id).find('.txtAmount').val($("#" + header + ret + "__cashBreakdown_" + count + "__cashAmount").val());

                amountTotal = parseFloat(amountTotal) + parseFloat($("#" + header + ret + "__cashBreakdown_" + count + "__cashAmount").val());

                if ($("#item_" + ret).find(".txtgbaseRemarks").prop('disabled') || header == "LiquidationDetails_") {
                    $("#" + trs[count].id).find('.txtNoPCS').attr("readonly", "readonly");
                    $("#saveGbase").css("display", "none");
                }
            }
            $('.cashBDAmountTotal').val(AC(round(amountTotal, 2)));
        }

        $(function () {
            $("table").on("change", "input.txtNoPCS", function (e) {
                var cashBDModalpNode = $(this.parentNode)[0].parentNode;

                var cashBDModalitemNo = cashBDModalpNode.id; //jquery obj

                var txtDenomination = $('#' + cashBDModalitemNo).find('.txtDenomination').val();
                var txtNoPCS = $('#' + cashBDModalitemNo).find('.txtNoPCS').val();

                $('#' + cashBDModalitemNo).find('.txtAmount').val(round(parseFloat(txtDenomination) * parseFloat(txtNoPCS), 2));

                var amountTotal = 0;
                var trs = $('.cashBreakdowntable').find("tbody").find("tr");
                
                for (var count = 0; count < trs.length - 1; count++) {
                    var subTotal = parseFloat($('#' + trs[count].id).find('.txtNoPCS').val()) * parseFloat($('#' + trs[count].id).find('.txtDenomination').val());
                    amountTotal = parseFloat(amountTotal) + parseFloat(subTotal);
                }
                $('.cashBDAmountTotal').val(AC(round(amountTotal, 2)));
            });

            $(".modal-footer").on("click", "#saveGbase", function (e) {
                if ($("#gBaseRemarks").length) {
                    return;
                }
                e.stopImmediatePropagation();
                if ($(".cashBDAmountTotal").val().replace(",", "") != $("#reqAmount").val()) {
                    alert("Amount do not match.");
                    return false;
                }

                var ret = $('#parentIdPCVSSTable').val().replace('item_', '');
                var trs = $(".cashBreakdowntable").find("tbody").find("tr");

                $('#divCashBD_' + ret).empty();

                for (var count = 0; count < 13; count++) {
                    var denom = $("#" + trs[count].id).find('.txtDenomination').val();
                    var pcs = $("#" + trs[count].id).find('.txtNoPCS').val();
                    var amount = $("#" + trs[count].id).find('.txtAmount').val();

                    $('#divCashBD_' + ret).append($('<input/>', {
                        id: 'EntryCV_' + ret + '__cashBreakdown_' + count + '__cashDenomination',
                        type: 'hidden',
                        name: 'EntryCV[' + ret + '].cashBreakdown[' + count + '].cashDenomination',
                        value: denom
                    }));
                    $('#divCashBD_' + ret).append($('<input/>', {
                        id: 'EntryCV_' + ret + '__cashBreakdown_' + count + '__cashNoPC',
                        type: 'hidden',
                        name: 'EntryCV[' + ret + '].cashBreakdown[' + count + '].cashNoPC',
                        value: pcs
                    }));
                    $('#divCashBD_' + ret).append($('<input/>', {
                        id: 'EntryCV_' + ret + '__cashBreakdown_' + count + '__cashAmount',
                        type: 'hidden',
                        name: 'EntryCV[' + ret + '].cashBreakdown[' + count + '].cashAmount',
                        value: amount
                    }));
                }

                if ($(".cashBDAmountTotal").val() == 0) {
                    $("#" + $("#parentIdPCVSSTable").val()).find(".hiddenItem").val(0);
                } else {
                    $("#" + $("#parentIdPCVSSTable").val()).find(".hiddenItem").val(1);
                }
                $('#myModal').modal('hide');
            });
        });

        
    });
</script>
<script>
    function printDivCashBD(divID) {

        //Set Cash Breakdown Liquidation table value(property) to table attribute value.
        var tableCnt = $('#modalTable').find('tbody').find('tr');

        for (var count = 0; count < tableCnt.length; count++) {
            $('#cashbreakdownid_' + count).find('.txtNoPCS').attr('value', $('#cashbreakdownid_' + count).find('.txtNoPCS').val());
            $('#cashbreakdownid_' + count).find('.txtAmount').attr('value', $('#cashbreakdownid_' + count).find('.txtAmount').val());
        }
        $('#cashBDAmountTotal').attr('value', $('#cashBDAmountTotal').val());

        $('#cashbdDatePrint').val();
        $('#cashbdAmountPrint').attr('value', $('#cashBDAmountTotal').val());

        var cssjs = '<style>.tablePrint, .tdPrint, .thPrint {  ' +
            '  border: 1px solid #ddd;' +
            '  text-align: center;' +
            '  width: 60%;' +
            '  height: auto;' +
            '}' +

            'table {' +
            '  border-collapse: collapse;' +
            '}' +

            '.tdPrint, .thPrint {' +
            '  width: 20%;' +
            '}' +

            'input {' +
            '	outline:none;' +
            '    border:none;' +
            '}' +
            '</style>';

        var printContent = document.getElementById(divID);

        var WinPrint = window.open('', '', 'width=900,height=650');
        WinPrint.document.write(printContent.innerHTML);
        WinPrint.document.head.innerHTML = cssjs;
        WinPrint.document.close();
        WinPrint.focus();
        WinPrint.print();
        //WinPrint.close();

        //Rollback the Cash Breakdown Liquidation table attribute value to default(0).
        for (var count = 0; count < tableCnt.length; count++) {
            $('#cashbreakdownid_' + count).find('.txtNoPCS').attr('value', 0);
            $('#cashbreakdownid_' + count).find('.txtAmount').attr('value', 0);
        }
        $('#cashBDAmountTotal').attr('value', 0)
    };
    function AC(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    };
</script>
