
@{
    ViewData["Title"] = "DMPartial_Vendor";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

@using ExpenseProcessingSystem.ConstantData
@using ExpenseProcessingSystem.ViewModels
@model DMViewModel

<div class="tbl-cont">
    <form asp-action="DM" asp-controller="Home" method="get" id="search-frm" class="filter-cont">
        <div class="form-actions no-color">
            <p>
                Filter by:
                <table class="table">
                    <tr>
                        <td>@Html.LabelFor(model => model.DMFilters.PF.PF_Name)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.PF.PF_Name, new { @class = "input" })</td>
                        <td>@Html.LabelFor(model => model.DMFilters.PF.PF_TIN)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.PF.PF_TIN, new { @class = "input" })</td>
                        <td>@Html.LabelFor(model => model.DMFilters.PF.PF_Address)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.PF.PF_Address, new { @class = "input" })</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.DMFilters.PF.PF_Creator_Name)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.PF.PF_Creator_Name, new { @class = "input" })</td>
                        <td>@Html.LabelFor(model => model.DMFilters.PF.PF_Approver_Name)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.PF.PF_Approver_Name, new { @class = "input" })</td>
                        <td>@Html.LabelFor(model => model.DMFilters.PF.PF_Status)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.PF.PF_Status, new { @class = "input" })</td>
                        <td colspan="2"><input id="filterPartialName" name="partialName" value="DMPartial_vendor" type="hidden" /></td>
                        <td colspan="2" style="text-align: right;">
                            <input type="submit" value="Search" class="tbl-btn btn-default" id="search-btn" />
                            <input type="button" value="Back to Full List" id="full-list-btn" class="tbl-btn btn-default" />
                        </td>
                    </tr>
                </table>
            </p>
        </div>
    </form>
    <div class="tab-tbl m-t-20">All Vendor Records:</div>
    <table class="table table-striped table-bordered tab-tbl table_DM_Main">
        <colgroup>
            <col style="width:2%;" />
            <col style="width:8%;">
            <col style="width:5%;" />
            <col style="width:10%;" />
            <col style="width:25%;" />
            <col style="width:25%;" />
            <col style="width:10%;" />
            <col style="width:10%;" />
            <col style="width:5%;" />
        </colgroup>
        <thead>
            <tr>
                <th></th>
                <th id="Name"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["VendorSortParm"]">Vendor<p class="btn-xs glyphicon @ViewData["glyph-1"]"></p></a></th>
                <th id="TIN"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["VendorTINSortParm"]">TIN<p class="btn-xs glyphicon @ViewData["glyph-2"]"></p></a></th>
                <th id="Address"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["VendorAddSortParm"]">Address<p class="btn-xs glyphicon @ViewData["glyph-3"]"></p></a></th>
                <th id="">Tax Rate/s</th>
                <th id="">VAT/s</th>
                <th id="Creator_ID"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["VendorCreatorSortParm"]">Input By<p class="btn-xs glyphicon @ViewData["glyph-4"]"></p></a></th>
                <th id="Approver_ID"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["VendorApproverSortParm"]">Approved By<p class="btn-xs glyphicon @ViewData["glyph-5"]"></p></a></th>
                <th id="Status"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["VendorStatusSortParm"]">Status<p class="btn-xs glyphicon @ViewData["glyph-6"]"></p></a></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Vendor != null)
            {
                var pendList = Model.Vendor.Where(x => x.Vendor_Status_ID != GlobalSystemValues.STATUS_APPROVED).ToList();

                @foreach (var item in Model.Vendor)
                {
                    <tr>
                        <td>
                            @if (pendList.Select(x => x.Vendor_MasterID).Contains(item.Vendor_MasterID) && item.Vendor_Status_ID == GlobalSystemValues.STATUS_APPROVED)
                            {
                                <input class="tbl-chk" id="@item.Vendor_MasterID" disabled type="checkbox" />
                            }
                            else
                            {
                                <input class="tbl-chk" id="@item.Vendor_MasterID" type="checkbox" />
                            }
                            @Html.HiddenFor(modelItem => item.Vendor_Creator_ID)
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Vendor_Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Vendor_TIN)</td>
                        <td>@Html.DisplayFor(modelItem => item.Vendor_Address)</td>
                        <td>
                            @if (item.Vendor_Tax_Rates.Count > 0)
                            {
                                var last = item.Vendor_Tax_Rates.Last();
                                @foreach (var trName in item.Vendor_Tax_Rates)
                                {
                                    if (trName.Equals(last))
                                    {
                                        @(trName)
                                    }
                                    else
                                    {
                                        @(trName + ", ")
                                    }

                                }
                            }
                        </td>
                        <td>
                            @if (item.Vendor_VAT.Count > 0)
                            {
                                var last = item.Vendor_VAT.Last();
                                @foreach (var vatName in item.Vendor_VAT)
                                {
                                    if (vatName.Equals(last))
                                    {
                                        @(vatName)
                                    }
                                    else
                                    {
                                        @(vatName + ", ")
                                    }
                                }
                            }
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Vendor_Creator_Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Vendor_Approver_Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Vendor_Status)</td>

                        @Html.HiddenFor(modelItem => item.Vendor_Tax_Rates_ID)
                        @Html.HiddenFor(modelItem => item.Vendor_VAT_ID)
                    </tr>
                }
            }
        </tbody>
    </table>
    @{
        var prevDisabled = !Model.Vendor.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Vendor.HasNextPage ? "disabled" : "";
    }
    <a asp-action="DM"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.Vendor.PageIndex - 1)"
       asp-controller="Home"
       asp-route-partialName="@ViewData["Title"]"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn pagination-btn btn-xs btn-default @prevDisabled glyphicon glyphicon-menu-left">
    </a>
    <input type="text" class="pagination-input" id="paginationInput" val="" placeholder="@(Model.Vendor.PageIndex)"/>
    <input type="text" class="pagination-input" value=" of @(Model.Vendor.TotalPages)" disabled />
    <a asp-action="DM"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-controller="Home"
       asp-route-partialName="@ViewData["Title"]"
       asp-route-page="@(Model.Vendor.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn pagination-btn btn-default @nextDisabled glyphicon glyphicon-menu-right">
    </a>
    <div class="float-r m-r-10">
        <button class="dis-inline-block tbl-btn add-rec rec" id="add_vendor">Add</button>
        <button class="dis-inline-block tbl-btn edit-rec rec" id="edit_vendor">Edit</button>
        <button class="dis-inline-block tbl-btn delete-rec rec" id="delete_vendor">Delete</button>

        @if (ViewBag.access.accessType == "approver")
        {
            <button class="dis-inline-block tbl-btn apprv-rec rec" id="apprv_vendor">Approve</button>
            <button class="dis-inline-block tbl-btn rej-rec rec" id="rej_vendor">Reject</button>
        }
        else if (ViewBag.access.accessType == "verifier")
        {
            <button class="dis-inline-block tbl-btn apprv-rec rec" id="apprv_vendor">Approve</button>
        }
        <input type="hidden" value="@ViewData["Title"]" id="partialVal" />
    </div>
    @Html.Partial("ModalPartial3")
</div>