
@{
    ViewData["Title"] = "DMPartial_Dept";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

@using ExpenseProcessingSystem.ViewModels
@model DMViewModel

<div class="tbl-cont">
    <table class="table table-striped tab-tbl">
        <thead>
            <tr>
                <th><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["DeptSortParm"]">Department Name<p class="btn-xs glyphicon @ViewData["glyph-dept"]"></p></a></th>
                <th><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["DeptCodeSortParm"]">Department Code<p class="btn-xs glyphicon @ViewData["glyph-dept-code"]"></p></a></th>
                <th>Input By</th>
                <th>Approver</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Dept != null)
            {
                @foreach (var item in Model.Dept)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Dept_Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Dept_Code)</td>
                        <td>@Html.DisplayFor(modelItem => item.Dept_Creator_ID)</td>
                        <td>@Html.DisplayFor(modelItem => item.Dept_Approver_ID)</td>
                        <td>@Html.DisplayFor(modelItem => item.Dept_Status)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @{
        var prevDisabled = !Model.Dept.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Dept.HasNextPage ? "disabled" : "";
    }

    <a asp-action="DM"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.Dept.PageIndex - 1)"
       asp-controller="Home"
       asp-route-partialName="@ViewData["Title"]"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn pagination-btn btn-xs btn-default @prevDisabled glyphicon glyphicon-menu-left">
    </a>
    <input type="text" class="pagination-input" id="paginationInput" val="" />
    <input type="text" class="pagination-input" value="of @(Model.Dept.TotalPages)" disabled />
    <a asp-action="DM"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-controller="Home"
       asp-route-partialName="@ViewData["Title"]"
       asp-route-page="@(Model.Dept.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn pagination-btn btn-default @nextDisabled glyphicon glyphicon-menu-right">
    </a>
    <div class="float-r m-r-10">
        <div class="dis-inline-block tbl-btn btn">Delete</div>
        <div class="dis-inline-block tbl-btn btn">Add New</div>
        <div class="dis-inline-block tbl-btn btn">Save Changes</div>
        <input type="hidden" value="@ViewData["Title"]" id="partialVal"/>
    </div>
</div>