
@{
    ViewData["Title"] = "DMPartial_Acc";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

@using ExpenseProcessingSystem.ViewModels
@model DMViewModel

<div class="tbl-cont">
    <form asp-action="DM" asp-controller="Home" method="get" id="search-frm">
        <div class="form-actions no-color">
            <p>
                Filter by:
                <table class="table">
                    <tr>
                        <td>@Html.LabelFor(model => model.DMFilters.AF.AF_Name)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.AF.AF_Name, new { @class = "input" })</td>
                        <td>@Html.LabelFor(model => model.DMFilters.AF.AF_Code)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.AF.AF_Code, new { @class = "input" })</td>
                        <td>@Html.LabelFor(model => model.DMFilters.AF.AF_Budget_Code)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.AF.AF_Budget_Code, new { @class = "input" })</td>
                        <td>@Html.LabelFor(model => model.DMFilters.AF.AF_No)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.AF.AF_No, new { @class = "input" })</td>
                        <td>@Html.LabelFor(model => model.DMFilters.AF.AF_Cust)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.AF.AF_Cust, new { @class = "input" })</td>
                        <td>@Html.LabelFor(model => model.DMFilters.AF.AF_FBT)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.AF.AF_FBT, new { @class = "input" })</td>
                        <td><input id="filterPartialName" name="partialName" value="DMPartial_Acc" type="hidden" /></td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.DMFilters.AF.AF_Currency)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.AF.AF_Currency, new { @class = "input" })</td>
                        <td>@Html.LabelFor(model => model.DMFilters.AF.AF_Div)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.AF.AF_Div, new { @class = "input" })</td>
                        <td>@Html.LabelFor(model => model.DMFilters.AF.AF_Group)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.AF.AF_Group, new { @class = "input" })</td>
                        <td>@Html.LabelFor(model => model.DMFilters.AF.AF_Creator_Name)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.AF.AF_Creator_Name, new { @class = "input" })</td>
                        <td>@Html.LabelFor(model => model.DMFilters.AF.AF_Approver_Name)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.AF.AF_Approver_Name, new { @class = "input" })</td>
                        <td>@Html.LabelFor(model => model.DMFilters.AF.AF_Status)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.AF.AF_Status, new { @class = "input" })</td>
                        <td colspan="2" style="text-align: right;">
                            <input type="submit" value="Search" class="btn btn-default" id="search-btn" />
                            <input type="button" value="Back to Full List" id="full-list-btn" class="btn btn-default" />
                        </td>
                    </tr>
                </table>
            </p>
        </div>
    </form>
    <table class="table table-striped table-bordered tab-tbl">
        <thead>
            <tr>
                <th></th>
                <th id="Name"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["AccountSortParm"]">Account Name<p class="btn-xs glyphicon @ViewData["glyph-1"]"></p></a></th>
                <th id="Code"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["AccountCodeSortParm"]">Account Code<p class="btn-xs glyphicon @ViewData["glyph-2"]"></p></a></th>
                <th id="Budget_Code"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["AccountBudgetCodeSortParm"]">Account Budget Code<p class="btn-xs glyphicon @ViewData["glyph-14"]"></p></a></th>
                <th id="No"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["AccountNumberSortParm"]">Account Number<p class="btn-xs glyphicon @ViewData["glyph-3"]"></p></a></th>
                <th id="Cust"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["AccountCustSortParm"]">Cust<p class="btn-xs glyphicon @ViewData["glyph-4"]"></p></a></th>
                <th id="Div"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["AccountDivSortParm"]">Div<p class="btn-xs glyphicon @ViewData["glyph-5"]"></p></a></th>
                <th id="Fund"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["AccountFundSortParm"]">Fund<p class="btn-xs glyphicon @ViewData["glyph-6"]"></p></a></th>
                <th id="FBT"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["AccountFBTSortParm"]">FBT<p class="btn-xs glyphicon @ViewData["glyph-11"]"></p></a></th>
                <th id="Group_MasterID"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["AccountGrpSortParm"]">Account Group<p class="btn-xs glyphicon @ViewData["glyph-12"]"></p></a></th>
                <th id="Currency_MasterID"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["AccountCurrencySortParm"]">Account Currency<p class="btn-xs glyphicon @ViewData["glyph-13"]"></p></a></th>
                <th id="Creator_ID"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["AccountCreatorSortParm"]">Input By<p class="btn-xs glyphicon @ViewData["glyph-7"]"></p></a></th>
                <th id="Approver_ID"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["AccountApproverSortParm"]">Approved By<p class="btn-xs glyphicon @ViewData["glyph-8"]"></p></a></th>
                <th id="Last_Updated"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["AccountLastUpdatedSortParm"]">Last Updated<p class="btn-xs glyphicon @ViewData["glyph-9"]"></p></a></th>
                <th>Master ID</th>
                <th id="Status_ID"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["AccountStatusSortParm"]">Status<p class="btn-xs glyphicon @ViewData["glyph-10"]"></p></a></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Account.Count != 0)
            {
                @foreach (var item in Model.Account)
                {
                    <tr>
                        <td>
                            <input class="tbl-chk" id="@item.Account_MasterID" type="checkbox" />
                            @Html.HiddenFor(modelItem => item.Account_Creator_ID)
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Account_Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Account_Code)</td>
                        <td>@Html.DisplayFor(modelItem => item.Account_Budget_Code)</td>
                        <td>@Html.DisplayFor(modelItem => item.Account_No)</td>
                        <td>@Html.DisplayFor(modelItem => item.Account_Cust)</td>
                        <td>@Html.DisplayFor(modelItem => item.Account_Div)</td>
                        <td>@Html.DisplayFor(modelItem => item.Account_Fund)</td>
                        <td>@Html.DisplayFor(modelItem => item.Account_FBT_Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Account_Group_Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Account_Currency_Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Account_Creator_Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Account_Approver_Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Account_Last_Updated)</td>
                        <td>@Html.DisplayFor(modelItem => item.Account_MasterID)</td>
                        <td>@Html.DisplayFor(modelItem => item.Account_Status)</td>
                    </tr>
                }
            }
            else
            {
                <tr></tr>}
        </tbody>
    </table>
    @{
        var prevDisabled = !Model.Account.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Account.HasNextPage ? "disabled" : "";
    }

    <a page="@(Model.Account.PageIndex - 1)"
       class="btn pagination-btn btn-xs btn-default @prevDisabled glyphicon glyphicon-menu-left">
    </a>
    <input type="text" class="pagination-input" id="paginationInput" val="" />
    <input type="text" class="pagination-input" value="@(Model.Account.PageIndex) of @(Model.Account.TotalPages)" disabled />
    <a page="@(Model.Account.PageIndex + 1)"
       class="btn pagination-btn btn-default @nextDisabled glyphicon glyphicon-menu-right">
    </a>
    <div class="float-r m-r-10">
        <button class="dis-inline-block tbl-btn btn add-rec rec" id="add_account">Add</button>
        <button class="dis-inline-block tbl-btn btn edit-rec rec" id="edit_account">Edit</button>
        <button class="dis-inline-block tbl-btn btn delete-rec rec" id="delete_account">Delete</button>
        @if (ViewBag.access.accessType == "approver")
        {
            <button class="dis-inline-block tbl-btn btn apprv-rec rec" id="apprv_account">Approve</button>
            <button class="dis-inline-block tbl-btn btn rej-rec rec" id="rej_account">Reject</button>
        }
        <input type="hidden" value="@ViewData["Title"]" id="partialVal" />
    </div>
    @Html.Partial("ModalPartial")
</div>