
@{
    ViewData["Title"] = "DMPartial_EWT";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

@using ExpenseProcessingSystem.ViewModels
@model DMViewModel

<div class="tbl-cont">
    <form asp-action="DM" asp-controller="Home" method="get" id="search-frm">
        <div class="form-actions no-color">
            <p>
                Find by:
                <table class="table">
                    <tr>
                        <td>@Html.LabelFor(model => model.DMFilters.EF.EF_Nature)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.EF.EF_Nature, new { @class = "input" })</td>
                        <td>@Html.LabelFor(model => model.DMFilters.EF.EF_Tax_Rate)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.EF.EF_Tax_Rate, new { @class = "input" })</td>
                        <td>@Html.LabelFor(model => model.DMFilters.EF.EF_ATC)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.EF.EF_ATC, new { @class = "input" })</td>
                        <td>@Html.LabelFor(model => model.DMFilters.EF.EF_Tax_Rate_Desc)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.EF.EF_Tax_Rate_Desc, new { @class = "input" })</td>
                        <td><input id="filterPartialName" name="partialName" value="DMPartial_EWT" type="hidden" /></td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.DMFilters.EF.EF_Creator_Name)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.EF.EF_Creator_Name, new { @class = "input" })</td>
                        <td>@Html.LabelFor(model => model.DMFilters.EF.EF_Approver_Name)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.EF.EF_Approver_Name, new { @class = "input" })</td>
                        <td>@Html.LabelFor(model => model.DMFilters.EF.EF_Status)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.EF.EF_Status, new { @class = "input" })</td>
                        <td colspan="2" style="text-align: right;">
                            <input type="submit" value="Search" class="btn btn-default" id="search-btn" />
                            <input type="button" value="Back to Full List" id="full-list-btn" class="btn btn-default" />
                        </td>
                    </tr>
                </table>
            </p>
        </div>
    </form>
    <table class="table table-striped tab-tbl">
        <thead>
            <tr>
                <th></th>
                <th id="Nature"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["EWTSortParm"]">EWT Nature<p class="btn-xs glyphicon @ViewData["glyph-1"]"></p></a></th>
                <th id="Tax_Rate"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["EWTTaxRateSortParm"]">Tax Rate<p class="btn-xs glyphicon @ViewData["glyph-2"]"></p></a></th>
                <th id="ATC"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["EWTATCSortParm"]">ATC<p class="btn-xs glyphicon @ViewData["glyph-3"]"></p></a></th>
                <th id="Tax_Rate_Desc"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["EWTTaxRateDescSortParm"]">Tax Rate Description<p class="btn-xs glyphicon @ViewData["glyph-4"]"></p></a></th>
                <th id="Creator_ID"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["EWTCreatorSortParm"]">Created By<p class="btn-xs glyphicon @ViewData["glyph-5"]"></p></a></th>
                <th id="Approver_ID"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["EWTApproverSortParm"]">Approved By<p class="btn-xs glyphicon @ViewData["glyph-6"]"></p></a></th>
                <th id="Approver_ID"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["EWTLastUpdteSortParm"]">Last Updated Date<p class="btn-xs glyphicon @ViewData["glyph-7"]"></p></a></th>
                <th id="Status"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["EWTStatusSortParm"]">Status<p class="btn-xs glyphicon @ViewData["glyph-8"]"></p></a></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.EWT != null)
            {
                @foreach (var item in Model.EWT)
                {
                    <tr>
                        <td><input class="tbl-chk" id="@item.EWT_MasterID" type="checkbox" /></td>
                        <td>@Html.DisplayFor(modelItem => item.EWT_Nature)</td>
                        <td>@Html.DisplayFor(modelItem => item.EWT_Tax_Rate)</td>
                        <td>@Html.DisplayFor(modelItem => item.EWT_ATC)</td>
                        <td>@Html.DisplayFor(modelItem => item.EWT_Tax_Rate_Desc)</td>
                        <td>@Html.DisplayFor(modelItem => item.EWT_Creator_Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.EWT_Approver_Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.EWT_Last_Updated)</td>
                        <td>@Html.DisplayFor(modelItem => item.EWT_Status)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @{
        var prevDisabled = !Model.EWT.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.EWT.HasNextPage ? "disabled" : "";
    }
    <a asp-action="DM"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.EWT.PageIndex - 1)"
       asp-controller="Home"
       asp-route-partialName="@ViewData["Title"]"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn pagination-btn btn-xs btn-default @prevDisabled glyphicon glyphicon-menu-left">
    </a>
    <input type="text" class="pagination-input" id="paginationInput" val="" />
    <input type="text" class="pagination-input" value="of @(Model.EWT.TotalPages)" disabled />
    <a asp-action="DM"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-controller="Home"
       asp-route-partialName="@ViewData["Title"]"
       asp-route-page="@(Model.EWT.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn pagination-btn btn-default @nextDisabled glyphicon glyphicon-menu-right">
    </a>
    <div class="float-r m-r-10">
        <button class="dis-inline-block tbl-btn btn add-rec rec" id="add_eWT">Add</button>
        <button class="dis-inline-block tbl-btn btn edit-rec rec" id="edit_eWT">Edit</button>
        <button class="dis-inline-block tbl-btn btn delete-rec rec" id="delete_eWT">Delete</button>
        @if (ViewBag.access.accessType == "approver")
        {
            <button class="dis-inline-block tbl-btn btn apprv-rec rec" id="apprv_eWT">Approve</button>
            <button class="dis-inline-block tbl-btn btn rej-rec rec" id="rej_eWT">Reject</button>
        }
        <input type="hidden" value="@ViewData["Title"]" id="partialVal" />
    </div>
    @Html.Partial("ModalPartial")
</div>