
@{
    ViewData["Title"] = "DMPartial_Cust";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

@using ExpenseProcessingSystem.ViewModels
@model DMViewModel

<div class="tbl-cont">
    <form asp-action="DM" asp-controller="Home" method="get" id="search-frm">
        <div class="form-actions no-color">
            <p>
                Find by:
                <table class="table">
                    <tr>
                        <td>@Html.LabelFor(model => model.DMFilters.CUF.CUF_Name)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.CUF.CUF_Name, new { @class = "input" })</td>
                        <td>@Html.LabelFor(model => model.DMFilters.CUF.CUF_Abbr)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.CUF.CUF_Abbr, new { @class = "input" })</td>
                        <td>@Html.LabelFor(model => model.DMFilters.CUF.CUF_No)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.CUF.CUF_No, new { @class = "input" })</td>
                        <td><input id="filterPartialName" name="partialName" value="DMPartial_Cust" type="hidden" /></td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.DMFilters.CUF.CUF_Creator_Name)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.CUF.CUF_Creator_Name, new { @class = "input" })</td>
                        <td>@Html.LabelFor(model => model.DMFilters.CUF.CUF_Approver_Name)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.CUF.CUF_Approver_Name, new { @class = "input" })</td>
                        <td>@Html.LabelFor(model => model.DMFilters.CUF.CUF_Status)</td>
                        <td>@Html.TextBoxFor(model => model.DMFilters.CUF.CUF_Status, new { @class = "input" })</td>
                        <td colspan="2"></td>
                        <td colspan="2" style="text-align: right;">
                            <input type="submit" value="Search" class="btn btn-default" id="search-btn" />
                            <input type="button" value="Back to Full List" id="full-list-btn" class="btn btn-default" />
                        </td>
                    </tr>
                </table>
            </p>
        </div>
    </form>
    <table class="table table-striped tab-tbl">
        <thead>
            <tr>
                <th></th>
                <th id="Name"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["CustSortParm"]">Customer Name<p class="btn-xs glyphicon @ViewData["glyph-1"]"></p></a></th>
                <th id="Abbr"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["CustAbbrSortParm"]">Customer Abbreviation<p class="btn-xs glyphicon @ViewData["glyph-2"]"></p></a></th>
                <th id="No"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["CustNoSortParm"]">Account Number<p class="btn-xs glyphicon @ViewData["glyph-3"]"></p></a></th>
                <th id="Creator_ID"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["CustCreatorSortParm"]">Input By<p class="btn-xs glyphicon @ViewData["glyph-4"]"></p></a></th>
                <th id="Approver_ID"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["CustApproverSortParm"]">Approved By<p class="btn-xs glyphicon @ViewData["glyph-5"]"></p></a></th>
                <th id="Last_Updated"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["CustLastUpdatedSortParm"]">Last Updated Date<p class="btn-xs glyphicon @ViewData["glyph-6"]"></p></a></th>
                <th id="Status"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["CustStatusSortParm"]">Status<p class="btn-xs glyphicon @ViewData["glyph-7"]"></p></a></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Cust.Count != 0)
            {
                @foreach (var item in Model.Cust)
                {
                    <tr>
                        <td><input class="tbl-chk" id="@item.Cust_MasterID" type="checkbox" /></td>
                        <td>@Html.DisplayFor(modelItem => item.Cust_Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Cust_Abbr)</td>
                        <td>@Html.DisplayFor(modelItem => item.Cust_No)</td>
                        <td>@Html.DisplayFor(modelItem => item.Cust_Creator_Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Cust_Approver_Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Cust_Last_Updated)</td>
                        <td>@Html.DisplayFor(modelItem => item.Cust_Status)</td>
                    </tr>
                }
            }
            else
            {
                <tr></tr>}
        </tbody>
    </table>
    @{
        var prevDisabled = !Model.Cust.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Cust.HasNextPage ? "disabled" : "";
    }

    <a asp-action="DM"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.Cust.PageIndex - 1)"
       asp-controller="Home"
       asp-route-partialName="@ViewData["Title"]"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn pagination-btn btn-xs btn-default @prevDisabled glyphicon glyphicon-menu-left">
    </a>
    <input type="text" class="pagination-input" id="paginationInput" val="" />
    <input type="text" class="pagination-input" value="of @(Model.Cust.TotalPages)" disabled />
    <a asp-action="DM"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-controller="Home"
       asp-route-partialName="@ViewData["Title"]"
       asp-route-page="@(Model.Cust.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn pagination-btn btn-default @nextDisabled glyphicon glyphicon-menu-right">
    </a>
    <div class="float-r m-r-10">
        <button class="dis-inline-block tbl-btn btn add-rec rec" id="add_cust">Add</button>
        <button class="dis-inline-block tbl-btn btn edit-rec rec" id="edit_cust">Edit</button>
        <button class="dis-inline-block tbl-btn btn delete-rec rec" id="delete_cust">Delete</button>
        @if (ViewBag.access.accessType == "approver")
        {
            <button class="dis-inline-block tbl-btn btn apprv-rec rec" id="apprv_cust">Approve</button>
            <button class="dis-inline-block tbl-btn btn rej-rec rec" id="rej_cust">Reject</button>
        }
        <input type="hidden" value="@ViewData["Title"]" id="partialVal" />
    </div>
    @Html.Partial("ModalPartial")
</div>
<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>