
@{
    ViewData["Title"] = "DMPartial_Acc";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

@using ExpenseProcessingSystem.ViewModels
@model DMViewModel

<div class="tbl-cont">
    <table class="table table-striped tab-tbl">
        <thead>
            <tr>
                <th></th>
                <th id="Name"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["AccountSortParm"]">Account Name<p class="btn-xs glyphicon @ViewData["glyph-1"]"></p></a></th>
                <th id="Code"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["AccountCodeSortParm"]">Account Code<p class="btn-xs glyphicon @ViewData["glyph-2"]"></p></a></th>
                <th id="No"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["AccountNumberSortParm"]">Account Number<p class="btn-xs glyphicon @ViewData["glyph-3"]"></p></a></th>
                <th id="Cust"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["AccountCustSortParm"]">Cust<p class="btn-xs glyphicon @ViewData["glyph-4"]"></p></a></th>
                <th id="Div"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData[" Title"]" asp-route-sortOrder="@ViewData[" AccountDivSortParm"]">Div<p class="btn-xs glyphicon @ViewData[" glyph-5"]"></p></a></th>
                <th id="Fund"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["AccountFundSortParm"]">Fund<p class="btn-xs glyphicon @ViewData["glyph-6"]"></p></a></th>
                <th id="Creator_ID"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["AccountCreatorSortParm"]">Input By<p class="btn-xs glyphicon @ViewData["glyph-7"]"></p></a></th>
                <th id="Approver_ID"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["AccountApproverSortParm"]">Approved By<p class="btn-xs glyphicon @ViewData["glyph-8"]"></p></a></th>
                <th id="Last_Updated"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["AccountLastUpdatedSortParm"]">Last Updated<p class="btn-xs glyphicon @ViewData["glyph-9"]"></p></a></th>
                <th id="Status"><a asp-action="DM" asp-controller="Home" asp-route-partialName="@ViewData["Title"]" asp-route-sortOrder="@ViewData["AccountStatusSortParm"]">Status<p class="btn-xs glyphicon @ViewData["glyph-10"]"></p></a></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Account.Count != 0)
            {
                @foreach (var item in Model.Account)
                {
            <tr>
                <td><input class="tbl-chk" id="@item.Account_ID" type="checkbox" /></td>
                <td>@Html.DisplayFor(modelItem => item.Account_Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Account_Code)</td>
                <td>@Html.DisplayFor(modelItem => item.Account_No)</td>
                <td>@Html.DisplayFor(modelItem => item.Account_Cust)</td>
                <td>@Html.DisplayFor(modelItem => item.Account_Div)</td>
                <td>@Html.DisplayFor(modelItem => item.Account_Fund)</td>
                <td>@Html.DisplayFor(modelItem => item.Account_Creator_Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Account_Approver_Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Account_Last_Updated)</td>
                <td>@Html.DisplayFor(modelItem => item.Account_Status)</td>
            </tr>
                }
            }
            else
            {
                <tr></tr>}
        </tbody>
    </table>
    @{
        var prevDisabled = !Model.Account.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Account.HasNextPage ? "disabled" : "";
    }

    <a asp-action="DM"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.Account.PageIndex - 1)"
       asp-controller="Home"
       asp-route-partialName="@ViewData["Title"]"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn pagination-btn btn-xs btn-default @prevDisabled glyphicon glyphicon-menu-left">
    </a>
    <input type="text" class="pagination-input" id="paginationInput" val="" />
    <input type="text" class="pagination-input" value="of @(Model.Account.TotalPages)" disabled />
    <a asp-action="DM"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-controller="Home"
       asp-route-partialName="@ViewData["Title"]"
       asp-route-page="@(Model.Account.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn pagination-btn btn-default @nextDisabled glyphicon glyphicon-menu-right">
    </a>
    <div class="float-r m-r-10">
        <button class="dis-inline-block tbl-btn btn add-rec rec" id="add_acc">Add</button>
        <button class="dis-inline-block tbl-btn btn edit-rec rec" id="edit_acc">Edit</button>
        <button class="dis-inline-block tbl-btn btn delete-rec rec" id="delete_acc">Delete</button>
        <input type="hidden" value="@ViewData["Title"]" id="partialVal" />
    </div>
    @Html.Partial("ModalPartial")
</div>