@model ExpenseProcessingSystem.Models.Gbase.tblRequest_ItemModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>tblRequest_ItemModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SequenceNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SequenceNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReturnFlag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReturnFlag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Command)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Command)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScreenCapture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScreenCapture)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Request_Details)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Request_Details.RequestID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ItemID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
